.benefits {
  margin-top: -80px;
  margin-bottom: 120px;
  @media (max-width: 991px) {
    margin-top: -60px;
  }
  @media (max-width: 600px) {
    margin-top: -40px;
    margin-bottom: 60px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    max-width: 1164px;
    background: linear-gradient(90.73deg, #3B31BB 0.63%, #CAA9FF 99.25%);
    box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.25);
    border-radius: 14px;
    padding: 35px 0;
  }

  &__item {
    padding: 15px 30px;
    &:not(:last-child) {
      border-right: 1px solid #ffffff;
    }
    @media (max-width: 600px) {
      padding: 15px 15px;
    }
  }

  &__strong {
    display: block;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 20px;
      line-height: 25px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}