.about {
  margin-bottom: 80px;

  @media (max-width: 991px) {
    margin-bottom: 70px;
  }
  &__title {
    max-width: 690px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 41px;
    text-align: center;
    color: #D16400;
    margin: 0 auto;
    margin-bottom: 15px;

    @media (max-width: 991px) {
      font-size: 40px;
      line-height: 37px;
      margin-bottom: 10px;
      max-width: 462px;
    }

    @media (max-width: 600px) {
      font-size: 31px;
      line-height: 29px;
      margin-bottom: 15px;
    }
  }

  &__body {
    max-width: 1164px;
    background: #763D11;
    border-radius: 10px;
    margin: 0 auto;
    padding: 40px 10px;

    @media (max-width: 991px) {
      padding: 25px 10px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 33px;
    }
  }
}