.advantage {
  &:not(:last-child) {
    margin-bottom: 105px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }

  &__title {
    position: relative;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 4px 5px 8px rgba(185, 56, 194, 0.59);
    padding-left: 23px;
    padding-bottom: 5px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 217px;
      box-shadow: 0px 4px 4px rgba(150, 25, 158, 0.5);
      background: linear-gradient(90deg, #B938C2 1.57%, #6A92FF 100.03%);
      border-radius: 5px;
    }
    @media (max-width: 991px) {
      font-size: 40px;
      padding-left: 15px;
    }
    @media (max-width: 600px) {
      font-size: 35px;
      padding-left: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 139px;
      @media (max-width: 991px) {
        margin-bottom: 117px;
      }
      @media (max-width: 600px) {
        margin-bottom: 135px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 130px 20px;
    flex-wrap: wrap;
    @media (max-width: 991px) {
      gap: 90px 20px;
    }
    @media (max-width: 600px) {
      gap: 100px 20px;
    }
  }

  &__item {
    flex: 0 0 335px;
    background: linear-gradient(180deg, rgba(109, 137, 211, 0.47) 0%, rgba(217, 217, 217, 0) 100%);
    border-radius: 21px;
    padding: 0 19px 34px 19px;

    @media (max-width: 991px) {
      flex: 0 0 341px;
      padding: 0 40px 27px 40px;
    }

    @media (max-width: 600px) {
      padding: 0 18px 27px 18px;
    }

    @media (max-width: 400px) {
      flex: 0 1 100%;
    }
  }

  &__wrapper-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 198px;
    height: 198px;
    margin: 0 auto;
    margin-top: -99px;
    border-radius: 50%;
    background: #00103B;
    box-shadow: 0px 4px 14px rgba(185, 56, 194, 0.59);

    @media (max-width: 991px) {
      width: 124px;
      height: 125px;
      margin-top: -62.5px;
    }

    @media (max-width: 600px) {
      width: 156px;
      height: 157px;
      margin-top: -78.5px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 991px) {
        margin-bottom: 44px;
      }

      @media (max-width: 600px) {
        margin-bottom: 32px;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 116px;
    height: 95px;

    @media (max-width: 991px) {
      max-width: 69px;
      height: 56px;
    }

    @media (max-width: 600px) {
      max-width: 89px;
      height: 72px;
    }

    & img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__subtitle {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 29px;
    }

    @media (max-width: 600px) {
      font-size: 27px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.26;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 17px;
    }

    @media (max-width: 600px) {
      font-size: 15px;
    }
  }
}