.hero {
  background-image: url(../../img/hero.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
@media (max-width: 991px) {
    background-image: url(../../img/hero_2.svg);
}
@media (max-width: 600px) {
    background-image: url(../../img/hero_3.svg);
}
  &:not(:last-child) {
    margin-bottom: 70px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 786px;

    @media (max-width: 991px) {
      align-items: center;
      min-height: 845px;
    }

    @media (max-width: 600px) {
      min-height: 787px;
    }
  }

  &__body {
    max-width: 926px;
    padding-bottom: 42px;

    @media (max-width: 991px) {
      padding-bottom: 0;
    }

    @media (max-width: 600px) {}
  }

  &__span {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.24;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 21px;
    }

    @media (max-width: 600px) {
      font-size: 17px;
    }
  }

  &__title {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 94px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 4px 5px 8px rgba(185, 56, 194, 0.59);

    @media (max-width: 991px) {
      font-size: 68px;
    }

    @media (max-width: 600px) {
      font-size: 40px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;

      @media (max-width: 991px) {
        margin-bottom: 34px;
      }

      @media (max-width: 600px) {
        margin-bottom: 14px;
      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.24;
    text-align: center;
    color: #92B0FF;
    max-width: 692px;
    margin: 0 auto;
    @media (max-width: 991px) {
      font-size: 19px;
      max-width: 458px;
    }

    @media (max-width: 600px) {}
  }
}