.no-webp .block-1 {
  background-image: url(../../img/block-1/background.png); }
.block-1 {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  height: 100vh;
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  .no-webp .block-1 {
    background-image: url(../../img/block-1/background_768.png); }
  .block-1 {
    padding-top: calc(80px + 70 * ((100vw - 320px) / 1600));
    padding-bottom: calc(79px + 21 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 600px) {
  .no-webp .block-1 {
    background-image: url(../../img/block-1/background_320.png); }
}
.block-1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 880px) {
  .block-1__container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.block-1__body {
  max-width: 572px;
  padding: 30px 0;
}
@media (max-width: 880px) {
  .block-1__body {
    max-width: 405px;
  }
}
.block-1__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #D37E2F;
  margin-bottom: 64px;
}
@media (max-width: 1024px) {
  .block-1__title {
    line-height: calc(45px + 38 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .block-1__title {
    font-size: calc(32px + 61.2 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .block-1__title {
    font-size: calc(32px + 36 * (100vw / 1920));
  }
}
.block-1__title span {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 64px;
  color: #CA913C;
}
@media (max-width: 1024px) {
  .block-1__title span {
    line-height: calc(33px + 31 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .block-1__title span {
    font-size: calc(20px + 35.7 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .block-1__title span {
    font-size: calc(20px + 21 * (100vw / 1920));
  }
}
.block-1__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 61px;
  line-height: 96px;
  color: #2D1D07;
  background-color: #986821;
  border-radius: 15px;
  padding: 5px 92px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .block-1__link {
    line-height: calc(41px + 55 * ((100vw - 320px) / 1600));
    padding-left: calc(42px + 50 * ((100vw - 320px) / 1600));
    padding-right: calc(42px + 50 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .block-1__link {
    font-size: calc(28px + 56.1 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .block-1__link {
    font-size: calc(28px + 33 * (100vw / 1920));
  }
}
@media (any-hover: hover) {
  .block-1__link:hover {
    color: var(--white);
    background-color: #D37E2F;
  }
}
.block-1__link:active {
  color: var(--white);
  background-color: #D37E2F;
}
.webp .block-1 { background-image: url(../../img/block-1/background.webp); }
@media (max-width: 1024px) {
  .webp .block-1 { background-image: url(../../img/block-1/background_768.webp); } }
@media (max-width: 600px) {
  .webp .block-1 { background-image: url(../../img/block-1/background_320.webp); } }