.games {
  padding: 91px 0;
}
@media (max-width: 1024px) {
  .games {
    padding-top: calc(30px + 61 * ((100vw - 320px) / 1600));
    padding-bottom: calc(30px + 61 * ((100vw - 320px) / 1600));
  }
}
.games__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
.games__item {
  min-width: 453px;
}
@media (max-width: 600px) {
  .games__item {
    width: 100%;
    min-width: auto;
  }
}
.games__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 434px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}
@media (max-width: 1024px) {
  .games__top {
    height: 536px;
  }
}
@media (max-width: 600px) {
  .games__top {
    height: 428px;
  }
}
.games__top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(44.24%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 44.24%);
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 44.24%);
}
.games__wrapper-name {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px;
}
.games__name {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 53px;
  color: var(--white);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .games__name {
    line-height: calc(31px + 22 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .games__name {
    font-size: calc(19px + 25.5 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .games__name {
    font-size: calc(19px + 15 * (100vw / 1920));
  }
}
@media (any-hover: hover) {
  .games__name:hover {
    color: #D37E2F;
  }
}
.games__name:active {
  color: #D37E2F;
}
.games__wrapper-play {
  text-align: center;
  padding: 15px;
}
.games__play {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 86px;
  color: #2D1D07;
  background-color: #986821;
  border-radius: 15px;
  padding: 5px 92px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .games__play {
    line-height: calc(31px + 65 * ((100vw - 320px) / 1600));
    padding-left: calc(32px + 29 * ((100vw - 320px) / 1600));
    padding-right: calc(32px + 29 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .games__play {
    font-size: calc(22px + 54.4 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .games__play {
    font-size: calc(22px + 32 * (100vw / 1920));
  }
}
@media (any-hover: hover) {
  .games__play:hover {
    color: var(--white);
    background-color: #D37E2F;
  }
}
.games__play:active {
  color: var(--white);
  background-color: #D37E2F;
}

.no-webp .sticky-joker {
  background-image: url(../../img/game/sticky-joker.png); }
@media (max-width: 1024px) {
  .no-webp .sticky-joker {
    background-image: url(../../img/game/sticky-joker_2.png); }
}

.no-webp .sticky-bandits {
  background-image: url(../../img/game/sticky-bandit.png); }
@media (max-width: 1024px) {
  .no-webp .sticky-bandits {
    background-image: url(../../img/game/sticky-bandit_2.png); }
}

.no-webp .wild-return {
  background-image: url(../../img/game/wild-returns.png); }
@media (max-width: 1024px) {
  .no-webp .wild-return {
    background-image: url(../../img/game/wild-returns_2.png); }
}

.play {
  padding-top: 150px;
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  .play {
    padding-top: calc(70px + 80 * ((100vw - 320px) / 1600));
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1600));
  }
}
.play__title {
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-size: 61px;
  line-height: 69px;
  text-align: center;
  color: #D37E2F;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .play__title {
    line-height: calc(39px + 30 * ((100vw - 320px) / 1600));
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .play__title {
    font-size: calc(31px + 62.9 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .play__title {
    font-size: calc(31px + 37 * (100vw / 1920));
  }
}
.play__wrapper-iframe iframe {
  width: 100%;
  height: 610px;
}
@media (max-width: 768px) {
  .play__wrapper-iframe iframe {
    height: 350px;
  }
}
.webp .sticky-joker { background-image: url(../../img/game/sticky-joker.webp); }
@media (max-width: 1024px) {
  .webp .sticky-joker { background-image: url(../../img/game/sticky-joker_2.webp); }
}
.webp .sticky-bandits { background-image: url(../../img/game/sticky-bandit.webp); }
@media (max-width: 1024px) {
  .webp .sticky-bandits { background-image: url(../../img/game/sticky-bandit_2.webp); }
}
.webp .wild-return { background-image: url(../../img/game/wild-returns.webp); }
@media (max-width: 1024px) {
  .webp .wild-return { background-image: url(../../img/game/wild-returns_2.webp); }
}