.nas {
  overflow: hidden;
  padding: 91px 0;
}
@media (max-width: 1024px) {
  .nas {
    padding-top: calc(30px + 61 * ((100vw - 320px) / 1600));
    padding-bottom: calc(30px + 61 * ((100vw - 320px) / 1600));
  }
}
.nas__title {
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-size: 61px;
  line-height: 69px;
  text-align: center;
  color: #D37E2F;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .nas__title {
    line-height: calc(39px + 30 * ((100vw - 320px) / 1600));
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .nas__title {
    font-size: calc(31px + 62.9 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .nas__title {
    font-size: calc(31px + 37 * (100vw / 1920));
  }
}
.nas__text {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 43px;
  text-align: center;
  color: #E2E2E2;
}
@media (max-width: 1024px) {
  .nas__text {
    line-height: calc(28px + 15 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .nas__text {
    font-size: calc(20px + 30.6 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .nas__text {
    font-size: calc(20px + 18 * (100vw / 1920));
  }
}