@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato-Regular'),
       url("../../fonts/Lato-Regular.woff2") format("woff2"),
       url("../../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend-Regular'),
       url("../../fonts/Lexend-Regular.woff2") format("woff2"),
       url("../../fonts/Lexend-Regular.woff") format("woff");
}
