@font-face {
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Impact"), url("../../fonts/Impact.woff2") format("woff2"), url("../../fonts/Impact.woff") format("woff");
}
@font-face {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lalezar-Regular"), url("../../fonts/Lalezar-Regular.woff2") format("woff2"), url("../../fonts/Lalezar-Regular.woff") format("woff");
}