.ab {
  padding-top: calc(40px + 50 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
  overflow: hidden;
}
.ab__body {
  background: -o-linear-gradient(170.39deg, rgba(173, 52, 33, 0.51) 0%, rgba(58, 13, 6, 0.65) 99.26%);
  background: linear-gradient(279.61deg, rgba(173, 52, 33, 0.51) 0%, rgba(58, 13, 6, 0.65) 99.26%);
  border-radius: 26px;
  padding-top: calc(15px + 20 * ((100vw - 320px) / 1600));
  padding-left: calc(15px + 20 * ((100vw - 320px) / 1600));
  max-width: 1164px;
  margin: 0 auto;
  overflow: hidden;
  padding-right: 0;
}
@media (max-width: 600px) {
  .ab__container {
    padding: 0 20px;
  }
}
.ab__descr {
  width: 60%;
  padding-bottom: calc(15px + 20 * ((100vw - 320px) / 1600));
}
@media (max-width: 991px) {
  .ab__descr {
    width: 100%;
    padding-right: calc(15px + 20 * ((100vw - 320px) / 1600));
  }
}
.ab__title {
  margin-bottom: 30px;
  text-indent: 30px;
}
@media (max-width: 1024px) {
  .ab__title {
    text-indent: 0;
  }
}
.ab__text {
  margin-bottom: 30px;
}
.ab__wrapper-link {
  text-align: end;
}
.ab__wrapper-text {
  width: 48%;
}
@media (max-width: 991px) {
  .ab__wrapper-text {
    width: 100%;
  }
}
.ab__wrapper-text:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 991px) {
  .ab__wrapper-text:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
.ab__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  color: #C9C9C9;
}
.ab__link img {
  margin-top: 2px;
  margin-left: 5px;
}
.ab__link:hover {
  color: #C9C9C9;
}
.ab__image {
  width: 41%;
  text-align: right;
  margin-bottom: -2px;
}
.ab__image img {
  max-width: 100%;
  height: 100%;
  border-radius: 0 0 26px 0;
}
@media (max-width: 991px) {
  .ab__image {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .ab__image {
    margin-right: -5px;
    margin-bottom: -4px;
  }
}

.ab-hd {
  background-color: #1C1F2D;
}

.no-webp .ab-bg {
  background-image: url(../../img/uber-bg.png); }

.ab-bg {
  height: 100%;
  padding-top: calc(70px + 130 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1600));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1024px) {
  .no-webp .ab-bg {
    background-image: url(../../img/uber-bg_1024.png); }
}
@media (max-width: 600px) {
  .no-webp .ab-bg {
    background-image: url(../../img/uber-bg_320.png); }
}

.ab-body {
  max-width: 100%;
  background: transparent;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  border-radius: 0;
}

.ab-container {
  height: 100%;
}

.ab-text {
  margin-bottom: 0;
}

.ab-title {
  text-indent: 0;
}

.webp .ab-bg { background-image: url(../../img/uber-bg.webp); }

@media (max-width: 1024px) {
  .webp .ab-bg { background-image: url(../../img/uber-bg_1024.webp); }
}

@media (max-width: 600px) {
  .webp .ab-bg { background-image: url(../../img/uber-bg_320.webp); }
}