.gm {
  padding-top: calc(20px + 20 * ((100vw - 320px) / 1600));
  padding-bottom: calc(40px + 50 * ((100vw - 320px) / 1600));
  overflow: hidden;
}
.gm__title {
  margin-bottom: 30px;
}
.gm__list {
  margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1600));
}
.gm__name-game {
  position: relative;
  z-index: 2;
}
.gm__item {
  width: 453px;
  min-height: 380px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .gm__item {
    width: 100%;
    min-height: 280px;
  }
}
.gm__link-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.gm__item:not(:nth-child(3n)) {
  margin-right: 20px;
}
@media (max-width: 600px) {
  .gm__item:not(:nth-child(3n)) {
    margin-right: 0;
  }
}
.gm__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 282px;
  border-radius: 23px;
  margin-bottom: 30px;
  padding: calc(10px + 10 * ((100vw - 320px) / 1600));
}
@media (max-width: 600px) {
  .gm__top {
    height: 205px;
  }
}
.gm__top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#090909), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, #090909 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, #090909 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 23px;
  z-index: 1;
}
.gm__link {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.gm__link_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #C9C9C9;
}
.gm__link_link:hover {
  color: #C9C9C9;
}
.gm__link_link img {
  margin-top: 2px;
  margin-left: 5px;
}

.no-webp .take-olympus {
  background-image: url(../../img/take-olympus.png); }

.take-olympus {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .no-webp .take-olympus {
    background-image: url(../../img/take-olympus_320.png); }
}

.no-webp .dragon-kingdom {
  background-image: url(../../img/dragon-kingdom.png); }

.dragon-kingdom {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .no-webp .dragon-kingdom {
    background-image: url(../../img/dragon-kingdom_320.png); }
}

.no-webp .eye-storm {
  background-image: url(../../img/eye-storm.png); }

.eye-storm {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .no-webp .eye-storm {
    background-image: url(../../img/eye-storm_320.png); }
}

.no-webp .stacked {
  background-image: url(../../img/stacked.png); }

.stacked {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .no-webp .stacked {
    background-image: url(../../img/stacked_320.png); }
}

.no-webp .sinbad {
  background-image: url(../../img/sinbad.png); }

.sinbad {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .no-webp .sinbad {
    background-image: url(../../img/sinbad_320.png); }
}

.no-webp .shimmering-woods {
  background-image: url(../../img/shimmering-wods.png); }

.shimmering-woods {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .no-webp .shimmering-woods {
    background-image: url(../../img/shimmering-wods_320.png); }
}

.no-webp .goldenox {
  background-image: url(../../img/goldenox.png); }

.goldenox {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .no-webp .goldenox {
    background-image: url(../../img/goldenox_320.png); }
}

.no-webp .gates-of-olympus {
  background-image: url(../../img/gates-of-olympus.png); }

.gates-of-olympus {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .no-webp .gates-of-olympus {
    background-image: url(../../img/gates-of-olympus_320.png); }
}

.no-webp .ancients-blessing {
  background-image: url(../../img/ancients-blessing.png); }

.ancients-blessing {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .no-webp .ancients-blessing {
    background-image: url(../../img/ancients-blessing_320.png); }
}

.gm-game {
  padding-top: calc(50px + 100 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1600));
}

.game-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: minmax(0, 453px) 20px minmax(0, 453px) 20px minmax(0, 453px);
  grid-template: auto/repeat(3, minmax(0, 453px));
  gap: 20px;
}
@media (max-width: 1455px) {
  .game-list {
    -ms-grid-columns: (minmax(0, 453px))[2];
    grid-template-columns: repeat(2, minmax(0, 453px));
  }
}

.game {
  padding-top: calc(70px + 80 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1600));
}
.game__title {
  margin-bottom: 30px;
}
.game__list {
  gap: 20px;
}
.game__item {
  width: 453px;
  min-height: 380px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .game__item {
    width: 100%;
    min-height: 280px;
  }
}
.game__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 282px;
  border-radius: 23px;
  margin-bottom: 30px;
  padding: calc(10px + 10 * ((100vw - 320px) / 1600));
}
@media (max-width: 600px) {
  .game__top {
    height: 205px;
  }
}
.game__top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#090909), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, #090909 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, #090909 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 23px;
  z-index: 1;
}
.game__name-game {
  position: relative;
  z-index: 2;
}
.game__link-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.game__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.game__link {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.gm-ab {
  padding-top: 150px;
  padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1600));
  height: 100%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .gm-ab {
    padding-top: calc(90px + 60 * ((100vw - 320px) / 1600));
  }
}
.gm-ab__container {
  height: 100%;
}
.gm-ab__body {
  gap: 20px;
}
.gm-ab__image {
  width: 49%;
  text-align: center;
}
.gm-ab__image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .gm-ab__image {
    width: 100%;
  }
}
.gm-ab__descr {
  width: 49%;
}
@media (max-width: 991px) {
  .gm-ab__descr {
    width: 100%;
  }
}
.gm-ab__title {
  margin-bottom: 30px;
}
.gm-ab__text {
  font-family: "Kodchasan";
  font-style: normal;
  font-weight: 400;
  line-height: calc(23px + 14 * ((100vw - 320px) / 1600));
  color: var(--white);
}
@media (max-width: 767px) {
  .gm-ab__text {
    font-size: calc(18px + 23.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .gm-ab__text {
    font-size: calc(18px + 14 * (100vw / 1920));
  }
}
.gm-ab__text:not(:last-child) {
  margin-bottom: 30px;
}
.gm-ab__wrapper-link {
  text-align: end;
}
.gm-ab__link {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.gm-ifr {
  padding-top: 150px;
  padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1600));
  height: 100%;
}
@media (max-width: 1024px) {
  .gm-ifr {
    padding-top: calc(90px + 60 * ((100vw - 320px) / 1600));
  }
}
.gm-ifr__container {
  height: 100%;
}
.gm-ifr__title {
  margin-bottom: calc(30px + 30 * ((100vw - 320px) / 1600));
  text-align: center;
}
.gm-ifr__wrapper-iframe {
  text-align: center;
}
.gm-ifr__wrapper-iframe iframe {
  width: 90%;
  height: 609px;
}
@media (max-width: 1024px) {
  .gm-ifr__wrapper-iframe iframe {
    height: 500px;
  }
}
@media (max-width: 600px) {
  .gm-ifr__wrapper-iframe iframe {
    width: 100%;
    height: 350px;
  }
}

.sinbad-iframe iframe {
  width: 70%;
  height: calc(250px + 305 * ((100vw - 320px) / 1600));
}
@media (max-width: 600px) {
  .sinbad-iframe iframe {
    width: 100%;
  }
}
.webp .take-olympus { background-image: url(../../img/take-olympus.webp); }
@media (max-width: 600px) {
  .webp .take-olympus { background-image: url(../../img/take-olympus_320.webp); }
}
.webp .dragon-kingdom { background-image: url(../../img/dragon-kingdom.webp); }
@media (max-width: 600px) {
  .webp .dragon-kingdom { background-image: url(../../img/dragon-kingdom_320.webp); }
}
.webp .eye-storm { background-image: url(../../img/eye-storm.webp); }
@media (max-width: 600px) {
  .webp .eye-storm { background-image: url(../../img/eye-storm_320.webp); }
}
.webp .stacked { background-image: url(../../img/stacked.webp); }
@media (max-width: 600px) {
  .webp .stacked { background-image: url(../../img/stacked_320.webp); }
}
.webp .sinbad { background-image: url(../../img/sinbad.webp); }
@media (max-width: 600px) {
  .webp .sinbad { background-image: url(../../img/sinbad_320.webp); }
}
.webp .shimmering-woods { background-image: url(../../img/shimmering-wods.webp); }
@media (max-width: 600px) {
  .webp .shimmering-woods { background-image: url(../../img/shimmering-wods_320.webp); }
}
.webp .goldenox { background-image: url(../../img/goldenox.webp); }
@media (max-width: 600px) {
  .webp .goldenox { background-image: url(../../img/goldenox_320.webp); }
}
.webp .gates-of-olympus { background-image: url(../../img/gates-of-olympus.webp); }
@media (max-width: 600px) {
  .webp .gates-of-olympus { background-image: url(../../img/gates-of-olympus_320.webp); }
}
.webp .ancients-blessing { background-image: url(../../img/ancients-blessing.webp); }
@media (max-width: 600px) {
  .webp .ancients-blessing { background-image: url(../../img/ancients-blessing_320.webp); }
}