@font-face {
  font-family: 'bowlbyone';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('BowlbyOne-Regular'),
       url("../../fonts/BowlbyOne-Regular.woff2") format("woff2"),
       url("../../fonts/BowlbyOne-Regular.woff") format("woff");
}

@font-face {
  font-family: 'jejugothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('JejuGothic-Regular'),
       url("../../fonts/JejuGothic-Regular.woff2") format("woff2"),
       url("../../fonts/JejuGothic-Regular.woff") format("woff");
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('OpenSans-Regular'),
       url("../../fonts/OpenSans-Regular.woff2") format("woff2"),
       url("../../fonts/OpenSans-Regular.woff") format("woff");
}
