.bn {
  margin-bottom: 60px;
  &__title {
    font-family: "HoltwoodOneSC";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 55px;
    color: #FF9700;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      font-size: 35px;
      line-height: 57px;
      margin-bottom: 10px;
    }

    @media (max-width: 600px) {
      font-size: 30px;
      line-height: 49px;
    }
  }


  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 20px 40px;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
  }

  &__body {
    width: 90%;
    background: linear-gradient(103.08deg, rgba(145, 89, 9, 0.53) 0%, #AC6600 100%);
    border-radius: 12px;
    padding: 30px 15px;
    height: 100%;
  }

  &__descr {
    position: relative;
    z-index: 3;
    max-width: 310px;

    @media (max-width: 600px) {
      max-width: 155px;
    }
  }

  &__subtitle {
    font-family: 'HoltwoodOneSC';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 15px;

    @media (max-width: 1024px) {
      font-size: 29px;
      line-height: 47px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;

    @media (max-width: 1024px) {
      font-size: 21px;
      line-height: 29px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
      line-height: 17px;
    }
  }

  &__image {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 218px;
    height: 254px;
    z-index: 2;
    & img {
      display: block !important;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
    @media (max-width: 1024px) {
      width: 265px;
      height: 318px;
    }

    @media (max-width: 600px) {
      width: 159px;
      height: 198px;
    }
  }
}