.hr {
  background-image: url(../../img/hr/im.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1024px) {
    background-image: url(../../img/hr//im_2.jpg);
  }

  @media (max-width: 600px) {
    background-image: url(../../img/hr/im_3.jpg);
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 761px;
    @media (max-width: 600px) {
      padding-top: 200px;
      align-items: flex-start;
    }
  }

  &__body {
    max-width: 690px;
    @media (max-width: 1024px) {
      max-width: 480px;
    }
  }

  &__title {
    font-family: 'HoltwoodOneSC';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 60px;
    color: #FF9700;

    @media (max-width: 1024px) {
      font-size: 31px;
      line-height: 50px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
      line-height: 52px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 60px;

    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 90px;
    }

    @media (max-width: 600px) {
      font-size: 17px;
      line-height: 23px;
      margin-bottom: 30px;
    }
  }

  &__wrapper-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(94.76deg, #FF9700 0%, #B14000 100%);
    border-radius: 12px;
    width: 268px;
    padding: 4px;
    margin-left: 40px;
    transition: opacity .2s ease-in-out;
    @media (max-width: 1024px) {
      width: 229px;
      margin-left: 0;
    }

    @media (max-width: 600px) {
      width: 166px;
    }

    @media (any-hover: hover) {
    &:hover {
      opacity: .5;
    }
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    background-color: #150600;
    text-align: center;
    border-radius: 12px;
    & a {
      display: inline-block;
      width: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 39px;
      color: #FFFFFF;
      padding: 18px 5px;

      @media (max-width: 1024px) {
        font-size: 23px;
        line-height: 32px;
      }

      @media (max-width: 600px) {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}