.aboutq {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  .aboutq {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 600px) {
  .aboutq {
    padding-top: 50px;
  }
}
.aboutq__title {
  font-family: "KronaOne";
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 61px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .aboutq__title {
    line-height: calc(32px + 29 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .aboutq__title {
    font-size: calc(26px + 39.1 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .aboutq__title {
    font-size: calc(26px + 23 * (100vw / 1920));
  }
}
.aboutq__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1155px) {
  .aboutq__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.aboutq__text {
  font-family: "Kufam";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 43px;
  color: #ffe600;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(228, 224, 2, 0.3);
}
@media (max-width: 1155px) {
  .aboutq__text {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .aboutq__text {
    line-height: calc(30px + 13 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .aboutq__text {
    font-size: calc(20px + 22.1 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .aboutq__text {
    font-size: calc(20px + 13 * (100vw / 1920));
  }
}