.poles {
  padding: 50px 0;
}
.poles h1 {
  font-family: "KronaOne";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .poles h1 {
    line-height: calc(30px + 8 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .poles h1 {
    font-size: calc(20px + 13.6 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .poles h1 {
    font-size: calc(20px + 8 * (100vw / 1920));
  }
}
.poles h2 {
  font-family: "KronaOne";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .poles h2 {
    line-height: calc(28px + 6 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .poles h2 {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .poles h2 {
    font-size: calc(18px + 6 * (100vw / 1920));
  }
}
.poles p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.poles p:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .poles p {
    line-height: calc(26px + 4 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .poles p {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .poles p {
    font-size: calc(16px + 4 * (100vw / 1920));
  }
}
.poles ul:not(:last-child) {
  margin-bottom: 30px;
}
.poles li {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.poles li:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .poles li {
    line-height: calc(22px + 6 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .poles li {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .poles li {
    font-size: calc(14px + 4 * (100vw / 1920));
  }
}