@font-face {
  font-family: 'jomhuria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Jomhuria-Regular'),
       url("../../fonts/Jomhuria-Regular.woff2") format("woff2"),
       url("../../fonts/Jomhuria-Regular.woff") format("woff");
}

@font-face {
  font-family: 'jomhuria';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('JosefinSans-Medium'),
       url("../../fonts/JosefinSans-Medium.woff2") format("woff2"),
       url("../../fonts/JosefinSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'josefinsans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('JosefinSans-Regular'),
       url("../../fonts/JosefinSans-Regular.woff2") format("woff2"),
       url("../../fonts/JosefinSans-Regular.woff") format("woff");
}