@font-face {
  font-family: 'IstokWeb';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IstokWeb-Regular'),
       url("../../fonts/IstokWeb-Regular.woff2") format("woff2"),
       url("../../fonts/IstokWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('K2D-Regular'),
       url("../../fonts/K2D-Regular.woff2") format("woff2"),
       url("../../fonts/K2D-Regular.woff") format("woff");
}

@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('K2D-Bold'),
       url("../../fonts/K2D-Bold.woff2") format("woff2"),
       url("../../fonts/K2D-Bold.woff") format("woff");
}