.bl-4 {
  margin-bottom: 85px;

  @media (max-width: 1024px) {
    margin-bottom: 75px;
  }

  @media (max-width: 600px) {
    margin-bottom: 60px;
  }

  &__container {}

  &__title {
    font-family: 'LilitaOne';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    color: #008047;
    margin-bottom: 60px;

    @media (max-width: 1024px) {
      font-size: 52px;
      line-height: 59px;
      margin-bottom: 20px;
    }

    @media (max-width: 600px) {
      font-size: 40px;
      line-height: 46px;
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 25px 90px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  &__wrapper-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 182px;
    margin: 0 auto;
    background: radial-gradient(50% 50% at 50% 50%, #FFD900 0%, rgba(255, 217, 0, 0) 100%);

    @media (max-width: 1024px) {
      width: 253px;
      height: 252px;
    }

    @media (max-width: 600px) {
      width: 182px;
      height: 182px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 101px;

    @media (max-width: 1024px) {
      width: 155px;
      height: 155px;
    }

    @media (max-width: 600px) {
      width: 100px;
      height: 101px;
    }

    & img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__subtitle {
    font-family: 'LilitaOne';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      font-size: 54px;
      line-height: 62px;
    }

    @media (max-width: 600px) {
      font-size: 35px;
      line-height: 40px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 1024px) {
      font-size: 27px;
      line-height: 34px;
    }

    @media (max-width: 600px) {
      font-size: 17px;
      line-height: 21px;
    }
  }
}