$maxWidth: 1920;
$maxWidthContainer: 1400;

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}


.header {
  margin-top: 30px;
  padding: 15px 0;
  background-color: #2c2929;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 600px) {
      display: grid;
      grid-template: auto / repeat((6, 1fr));
      grid-template-areas: "burger . . . . logo" "text  text text text text text";
      gap: 15px 0;
    }
  }

  &__logo {
    animation-name: bounceInRight;
    animation-duration: 1s;
    grid-area: logo;
  }

  &__text {
    width: 270px;
    @include adaptiv-font(18, 14);
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 0 1px 9px rgb(115 255 66 / 60%);
    animation-name: bounceInLeft;
    animation-duration: 1s;
    grid-area: text;
    & span {
      @include adaptiv-font(24, 16);
    }
    @media (max-width: 1024px) {
      width: 100%;
      text-align: center;
      animation-name: bounceInDown;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
     display: block;
    }
  }

  &__nav {
    @include adaptive (padding-right, 80, 10, 0);
    @media (max-width: 1024px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #4B0082;
      z-index: 2;
      padding: 150px 30px 30px 30px;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all .2s ease-in-out;
    }
    @media (max-width: 600px) {
      padding: 150px 15px 15px 15px;
    }
  }
  &__item {
    animation-name: bounceInDown;
    animation-duration: 1s;
    @media (max-width: 1024px) {
      animation-name: none;
    }
  }
  &__item:not(:last-child) {
    margin-right: 30px;
    @media (max-width: 1024px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__link {
    display: inline-block;
    @include adaptiv-font(18, 15);
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0 1px 9px rgb(115 255 66 / 72%);
    transition: color .2s ease-in-out;
    @media (max-width: 1024px) {
      font-size: 32px;
      &:active {
        color: #006400;
        transition-duration: .1s;
      }
    }
  }
}

.burger {
  display: none;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  z-index: 3;
  animation-name: bounceInLeft;
  animation-duration: 1s;
  grid-area: burger;
  @media (max-width: 1024px) {
    display: block;
    margin-right: 10px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #ffffff;
    transform: translate(2.5px, 5px);
    transition: all .2s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #ffffff;
    transform: translate(2.5px, -6px);
    transition: all .2s ease-in-out;
  }
}

.nav-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.burger-active {
  &::before {
    transform: translate(2.5px, 9px) rotate(45deg);
  }
  &::after {
    transform: translate(2.5px, -10px) rotate(-45deg);
  }
}