/* normalize */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* normalize */

/* fonts */
@font-face {
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PassionOne-Regular"), url("../fonts/PassionOne-Regular.woff2") format("woff2"), url("../fonts/PassionOne-Regular.woff") format("woff");
}
@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Play-Regular"), url("../fonts/Play-Regular.woff2") format("woff2"), url("../fonts/Play-Regular.woff") format("woff");
}
/* fonts */

/* overall */
.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}

body {
  background-color: #1A488D;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Play";
}
@media (max-width: 1024px) {
  .page {
    display: block;
    height: 100%;
  }
}
.page__main {
  width: 68.55%;
}
@media (max-width: 1400px) {
  .page__main {
    width: 74.5%;
  }
}
@media (max-width: 1024px) {
  .page__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}

.body-block {
  overflow: hidden;
}

.cockie-pred {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
}
.cockie-pred__blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.cockie-pred__body {
  max-width: 572px;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 25px 10px 10px 10px;
  background-color: #0F3061;
  border-radius: 9px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
  .cockie-pred__body {
    max-width: 96%;
  }
}
.cockie-pred__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .cockie-pred__text {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .cockie-pred__text {
    font-size: 17px;
    line-height: 21px;
  }
}
.cockie-pred__wrapper-link {
  text-align: right;
}
.cockie-pred__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 13px 37px;
  background-color: #1F5595;
  border-radius: 6px;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .cockie-pred__link {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .cockie-pred__link {
    font-size: 17px;
    line-height: 21px;
  }
}
@media (any-hover: hover) {
  .cockie-pred__link:hover {
    background-color: #0093D4;
  }
}
/* overall */

/* header */
.header {
  width: 453px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 35px 0 35px 20px;
}
@media (max-width: 1400px) {
  .header {
    width: 353px;
    padding: 15px 0 15px 20px;
  }
}
@media (max-width: 1024px) {
  .header {
    width: 100%;
    padding: 10px 0;
    background-color: #84B5FF;
  }
}
.header__container {
  padding: 0;
}
@media (max-width: 1024px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
  }
}
@media (max-width: 600px) {
  .header__container {
    padding: 0 10px;
  }
}
.header__strong {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 25px 0 15px 0;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .header__strong {
    background-color: #84B5FF;
    padding: 33.5px 15px;
    margin-bottom: 98px;
  }
}
@media (max-width: 600px) {
  .header__strong {
    text-align: right;
  }
}
.header__wrapper-logo {
  background-color: #84B5FF;
  border-radius: 14px 14px 0 0;
}
@media (max-width: 1024px) {
  .header__wrapper-logo {
    border-radius: 0;
    background-color: transparent;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 198px;
  height: 117px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .header__logo {
    width: 146px;
    height: 86px;
  }
}
.header__logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.header__menu {
  background-color: #3C72C3;
  padding-bottom: 100px;
  border-radius: 0 0 14px 14px;
}
@media (max-width: 1024px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    padding: 0 0 60px 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    border-radius: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
  }
}
.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
@media (max-width: 1024px) {
  .header__exit-menu {
    display: block;
    top: 41px;
    left: 15px;
  }
}
.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav__item:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin-bottom: 44px;
  }
}
@media (max-width: 600px) {
  .nav__item:not(:last-child) {
    margin-bottom: 35px;
  }
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid transparent;
  -webkit-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  padding: 5px 25px;
  background-color: #354E74;
  -webkit-box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}
@media (any-hover: hover) {
  .nav__link:hover {
    border-color: #ffffff;
  }
}
@media (max-width: 600px) {
  .nav__link {
    padding: 5px 15px;
  }
}
.nav__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 50px;
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .nav__icon {
    width: 59px;
    height: 61px;
  }
}
@media (max-width: 600px) {
  .nav__icon {
    width: 40px;
    height: 50px;
  }
}
.nav__icon img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.burger {
  display: none;
  position: relative;
  width: calc(42px + 11 * ((100vw - 320px) / 1600));
  height: calc(28px + 6 * ((100vw - 320px) / 1600));
  background-color: transparent;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}
.burger__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 60%;
  height: 6px;
  background-color: #1A488D;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #1A488D;
}
.burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #1A488D;
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
/* header */

/* hero */
.hero__container {
  padding-left: 0;
}
@media (max-width: 1024px) {
  .hero__container {
    padding-left: 15px;
  }
}
@media (max-width: 600px) {
  .hero__container {
    padding-left: 10px;
  }
}
.hero__wrapper {
  position: relative;
  padding: 25px 0 200px 0;
}
@media (max-width: 1400px) {
  .hero__wrapper {
    padding: 0 0 220px 0;
  }
}
@media (max-width: 1150px) {
  .hero__wrapper {
    padding-top: 10px;
  }
}
@media (max-width: 1024px) {
  .hero__wrapper {
    padding-top: 60px;
    padding-bottom: 0;
  }
}
@media (max-width: 600px) {
  .hero__wrapper {
    padding-top: 30px;
    height: auto;
  }
}
.hero__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 2;
  height: 100%;
}
.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-size: 97px;
  line-height: 97px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 1150px) {
  .hero__title {
    font-size: 81px;
    line-height: 81px;
  }
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 78px;
    line-height: 78px;
  }
}
@media (max-width: 600px) {
  .hero__title {
    font-size: 40px;
    line-height: 44px;
  }
}
@media (max-width: 374px) {
  .hero__title {
    font-size: 36px;
    line-height: 40px;
  }
}
.hero__title span {
  text-align: center;
  font-size: 72px;
  line-height: 79px;
}
@media (max-width: 1150px) {
  .hero__title span {
    font-size: 58px;
    line-height: 58px;
  }
}
@media (max-width: 1024px) {
  .hero__title span {
    font-size: 50px;
    line-height: 55px;
  }
}
@media (max-width: 600px) {
  .hero__title span {
    font-size: 32px;
    line-height: 35px;
  }
}
@media (max-width: 374px) {
  .hero__title span {
    font-size: 28px;
    line-height: 32px;
  }
}
.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .hero__text {
    font-size: 25px;
    line-height: 29px;
  }
}
@media (max-width: 600px) {
  .hero__text {
    font-size: 20px;
    line-height: 23px;
  }
}
.hero__wrapper-link {
  text-align: right;
  margin-top: 250px;
  padding-right: 30px;
}
@media (max-width: 1024px) {
  .hero__wrapper-link {
    margin-top: 500px;
    text-align: center;
    padding-right: 0;
    padding-bottom: 35px;
  }
}
@media (max-width: 600px) {
  .hero__wrapper-link {
    margin-top: 350px;
  }
}
@media (max-width: 374px) {
  .hero__wrapper-link {
    margin-top: 300px;
  }
}
.hero__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  padding: 28.5px 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: -o-radial-gradient(0% 50.57%, 100% 2484.82%, #0A345C 0.01%, #1C82EF 48.85%, #205799 100%, #9E6300 100%);
  background: radial-gradient(100% 2484.82% at 0% 50.57%, #0A345C 0.01%, #1C82EF 48.85%, #205799 100%, #9E6300 100%);
  -webkit-box-shadow: 0px 5px 4px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 5px 4px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .hero__link {
    font-size: 23px;
    line-height: 27px;
    padding: 19px 54px;
  }
}
@media (max-width: 600px) {
  .hero__link {
    padding: 15.5px 66.5px;
  }
}
@media (any-hover: hover) {
  .hero__link:hover {
    -webkit-box-shadow: 0px 5px 4px white;
    box-shadow: 0px 5px 4px white;
  }
}
.hero__image {
  position: absolute;
  bottom: 20px;
  left: 0;
  max-width: 715px;
  height: 685px;
  z-index: 1;
  text-align: center;
}
@media (max-width: 1024px) {
  .hero__image {
    width: 100%;
    max-width: none;
    bottom: 0;
  }
}
@media (max-width: 600px) {
  .hero__image {
    height: 469px;
  }
}
.hero__image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
/* hero */

/* games */
.games {
  position: relative;
  z-index: 50;
  overflow: hidden;
  margin-top: -100px;
}
@media (max-width: 1024px) {
  .games {
    margin-top: 0;
  }
}
.games__body {
  padding: 30px 0 50px 0;
  border-radius: 17px 17px 0 0;
  background-color: #3C72C4;
}
@media (max-width: 1024px) {
  .games__body {
    padding-top: 60px;
  }
}
@media (max-width: 600px) {
  .games__body {
    padding-top: 80px;
  }
}
.games__title {
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #354E74;
  padding: 20px 0;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .games__title {
    font-size: 45px;
    line-height: 50px;
  }
}
@media (max-width: 600px) {
  .games__title {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
.games__wrapper-swiper {
  position: relative;
}

.games-swiper {
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.games-swiper__slide {
  width: 335px;
}
@media (max-width: 1024px) {
  .games-swiper__slide {
    width: 337px;
  }
}
@media (max-width: 600px) {
  .games-swiper__slide {
    width: 246px;
  }
}
.games-swiper__image {
  height: 276px;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .games-swiper__image {
    height: 282px;
  }
}
@media (max-width: 600px) {
  .games-swiper__image {
    height: 206px;
  }
}
.games-swiper__image a {
  display: block;
  width: 100%;
  height: 100%;
}
.games-swiper__image a img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.games-swiper__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
}
.games-swiper__play {
  display: inline-block;
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #0093D4;
  border-radius: 7px;
  padding: 10px 22.5px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .games-swiper__play:hover {
    color: #0093D4;
    background-color: #ffffff;
  }
}
@media (max-width: 600px) {
  .games-swiper__play {
    font-size: 21px;
    line-height: 23px;
    padding: 11.5px 15.5px;
  }
}
.games-swiper__name {
  display: inline-block;
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .games-swiper__name:hover {
    color: #0093D4;
  }
}
@media (max-width: 600px) {
  .games-swiper__name {
    font-size: 17px;
    line-height: 19px;
  }
}
.games-swiper__prev {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 62px;
  height: 62px;
  background-color: #19A56A;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 6;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .games-swiper__prev:hover {
    background-color: #0093D4;
  }
}
.games-swiper__prev::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 25px;
}
.games-swiper__prev::after {
  content: "";
  position: absolute;
  top: 47%;
  left: 13px;
  width: 15px;
  height: 15px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}
@media (max-width: 768px) {
  .games-swiper__prev {
    display: none;
  }
}
.games-swiper__next {
  position: absolute;
  top: 50%;
  right: -10px;
  width: 62px;
  height: 62px;
  background-color: #19A56A;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 6;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .games-swiper__next:hover {
    background-color: #0093D4;
  }
}
.games-swiper__next::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 25px;
}
.games-swiper__next::after {
  content: "";
  position: absolute;
  top: 47%;
  right: 13px;
  width: 15px;
  height: 15px;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}
@media (max-width: 768px) {
  .games-swiper__next {
    display: none;
  }
}

.play {
  padding-top: 35px;
}
@media (max-width: 1400px) {
  .play {
    padding-top: 15px;
  }
}
@media (max-width: 1024px) {
  .play {
    padding-top: 40px;
  }
}
.play__body {
  padding: 30px 0 50px 0;
  border-radius: 17px 17px 0 0;
  background-color: #3C72C4;
}
.play__title {
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #354E74;
  padding: 20px 0;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .play__title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 35px;
  }
}
@media (max-width: 600px) {
  .play__title {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.play__iframe {
  height: 600px;
}
@media (max-width: 768px) {
  .play__iframe {
    height: 350px;
  }
}
.play__iframe iframe {
  width: 100%;
  height: 100%;
}

.swiper-button-disabled {
  opacity: 0.5;
}
/* games */

/* about */
.about__body {
  background-color: #3C72C4;
  padding-bottom: 50px;
}
.about__title {
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #354E74;
  padding: 20px 0;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .about__title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .about__title {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
.about__subtitle {
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
  padding: 0 10px;
}
@media (max-width: 1024px) {
  .about__subtitle {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .about__subtitle {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 20px;
  }
}
.about__text {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  width: 80%;
  color: #FFFFFF;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .about__text {
    font-size: 24px;
    line-height: 28px;
    width: 95%;
  }
}
@media (max-width: 600px) {
  .about__text {
    font-size: 17px;
    line-height: 20px;
  }
}
.about__text:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .about__text:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .about__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* about */

/* benefits */
.advantages__body {
  background-color: #3C72C4;
}
.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 36px 1fr 36px 1fr 36px 1fr;
  grid-template: auto/repeat(4, 1fr);
  gap: 36px;
  padding: 0 5px;
}
@media (max-width: 768px) {
  .advantages__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 13px 23px;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .advantages__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 18px;
    padding: 0 10px;
  }
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ABCDFF;
  border-radius: 11px;
  padding: 20px;
}
.advantages__title {
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #0093D4;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .advantages__title {
    font-size: 37px;
    line-height: 41px;
  }
}
@media (max-width: 600px) {
  .advantages__title {
    font-size: 31px;
    line-height: 34px;
  }
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 81px;
  height: 81px;
}
@media (max-width: 768px) {
  .advantages__icon {
    width: 142px;
    height: 142px;
  }
}
@media (max-width: 500px) {
  .advantages__icon {
    width: 119px;
    height: 119px;
  }
}
.advantages__icon img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
/* benefits */

/* footer */
.footer {
  padding-bottom: 60px;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #3C72C4;
  padding: 25px 15px 60px 15px;
  border-radius: 0 0 17px 17px;
}
@media (max-width: 768px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 45%;
}
@media (max-width: 1250px) {
  .footer__left {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .footer__left {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .footer__ls:not(:last-child) {
    margin-bottom: 20px;
  }
}
.footer__it:not(:last-child) {
  margin-bottom: 20px;
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: #0093D4;
  }
}
.footer__right {
  width: 40%;
}
@media (max-width: 768px) {
  .footer__right {
    width: 100%;
  }
}
.footer__logo {
  max-width: 324px;
  height: 192px;
  margin-bottom: 20px;
  margin-left: auto;
}
@media (max-width: 1024px) {
  .footer__logo {
    max-width: 211px;
    height: 125px;
  }
}
@media (max-width: 600px) {
  .footer__logo {
    max-width: 273px;
    height: 162px;
  }
}
.footer__logo img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.footer__warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 30px;
}
@media (max-width: 1024px) {
  .footer__warning {
    padding-right: 10px;
  }
}
@media (max-width: 600px) {
  .footer__warning {
    padding-right: 0;
  }
}
.footer__text {
  width: 217px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #FFFFFF;
  margin-right: 37px;
}
@media (max-width: 374px) {
  .footer__text {
    width: 100%;
  }
}
.footer__icon {
  width: 56px;
  height: 56px;
}
.footer__icon img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
/* footer */

/* politicks */
.politicks {
  padding-top: 35px;
}
@media (max-width: 1400px) {
  .politicks {
    padding-top: 15px;
  }
}
@media (max-width: 1024px) {
  .politicks {
    padding-top: 40px;
  }
}
.politicks__body {
  padding: 40px;
  border-radius: 17px 17px 0 0;
  background-color: #3C72C4;
}
@media (max-width: 1024px) {
  .politicks__body {
    padding: 30px;
  }
}
@media (max-width: 600px) {
  .politicks__body {
    padding: 20px;
  }
}
.politicks h1 {
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .politicks h1 {
    font-size: 35px;
    line-height: 39px;
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .politicks h1 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 20px;
  }
}
.politicks h2 {
  font-family: "PassionOne";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .politicks h2 {
    font-size: 35px;
    line-height: 39px;
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .politicks h2 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 20px;
  }
}
.politicks p {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .politicks p {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .politicks p {
    font-size: 17px;
    line-height: 21px;
  }
}
.politicks p:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .politicks p:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .politicks p:not(:last-child) {
    margin-bottom: 20px;
  }
}
.politicks ul:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .politicks ul:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .politicks ul:not(:last-child) {
    margin-bottom: 20px;
  }
}
.politicks li {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .politicks li {
    font-size: 17px;
    line-height: 22px;
  }
}
@media (max-width: 600px) {
  .politicks li {
    font-size: 14px;
    line-height: 19px;
  }
}
.politicks li:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .politicks li:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .politicks li:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* politicks */