.footer {
  padding: 15px 0 30px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__left {
    width: 324px;

    @media (max-width: 991px) {
      width: 249px;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__logo {
    max-width: 324px;
    height: 108px;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      max-width: 249px;
      height: 83px;
    }

    @media (max-width: 768px) {
      max-width: 324px;
      height: 108px;
      margin: 0 auto;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__warning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1200px) {
      gap: 20px;
    }

    @media (max-width: 991px) {
      gap: 10px;
    }

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__warning-text {
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;

    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 70px;
    height: 70px;

    @media (max-width: 991px) {
      width: 53px;
      height: 53px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__right {
    width: 50%;

    @media (max-width: 1200px) {
      width: 55%;
    }

    @media (max-width: 991px) {
      width: 65%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 24px;
    margin-top: 50px;
  }


  &__link {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #E9161A;
    @media (max-width: 991px) {
      font-size: 16px;
line-height: 23px;
    }
    @media (max-width: 600px) {
      font-size: 13px;
line-height: 19px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #E9161A;
      transition: width .2s ease-in-out;
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}