.game {
  margin-bottom: 70px;

  @media (max-width: 991px) {
    margin-bottom: 50px;
  }

  @media (max-width: 600px) {
    margin-bottom: 35px;
  }

  &__title {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #E9161A;
    margin-bottom: 34px;

    @media (max-width: 991px) {
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 45px;
    }

    @media (max-width: 600px) {
      font-size: 39px;
      line-height: 48px;
      margin-bottom: 35px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 25px 20px;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 336px;
    height: 367px;
    overflow: hidden;
    border-radius: 10px;
    @media (max-width: 991px) {
      width: 342px;
      height: 373px;
    }

    @media (max-width: 400px) {
      width: 100%;
      height: 363px;
    }
    &_change {
      width: 550px;

      @media (max-width: 991px) {
        width: 342px;
      }
      @media (max-width: 730px) {
        height: 220px;
      }
      @media (max-width: 400px) {
        width: 100%;
        height: 213px;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        & .game__image {
          transform: scale(1.05);
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.play {
  margin-top: 70px;
  margin-bottom: 70px;

  @media (max-width: 991px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media (max-width: 600px) {
    margin-top: 50px;
    margin-bottom: 35px;
  }
  &__title {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #E9161A;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (max-width: 991px) {
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 25px;
    }

    @media (max-width: 600px) {
      font-size: 39px;
      line-height: 48px;
      margin-bottom: 20px;
    }
  }

  &__play {
    width: 100%;
    height: 700px;
    @media (max-width: 768px) {
      width: 100%;
      height: 350px;
    }
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}
