@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("TTFirsNeue-Bold"), url("../../fonts/OpenSansBold.woff2") format("woff2"), url("../../fonts/OpenSansBold.woff") format("woff");
}

body {
	margin: 0px;

	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;

	background-image: url(../images/back.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.black {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: -1;
}

h1 {
	font-family: "OpenSansBold";
	font-weight: 700;
	background: linear-gradient(45deg, #ffff55 33%, #ffff55 66%, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
	margin-bottom: 100px;
}