@font-face {
  font-family: 'meerainimai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MeeraInimai-Regular'),
       url("../../fonts/MeeraInimai-Regular.woff2") format("woff2"),
       url("../../fonts/MeeraInimai-Regular.woff") format("woff");
}

@font-face {
  font-family: 'ramaraja';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ramaraja-Regular'),
       url("../../fonts/Ramaraja-Regular.woff2") format("woff2"),
       url("../../fonts/Ramaraja-Regular.woff") format("woff");
}