*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222526;
}

body {
  font-family: 'Georgia', serif;
}

a {
  text-decoration: none;
}

a img {
  display: block;
  width: 100%;
  cursor: pointer;
}

.fixed__button {
  max-width: 380px;
  width: 100%;
  z-index: 999;
  position: fixed;
  bottom: 30px;
  right: calc(50% - (380px / 2));
}

.main__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0371E5;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  padding: 25px 0;
  transition: all 0.3s ease-in-out;
}

.main__btn:hover {
  background: #0371E5;
  transform: scale(1.1);
  transition-duration: 300ms;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.brandName {
  text-decoration: none;
  color: #0371E5;
  font-weight: 700;
}

.underImgText .brandName {
  font-weight: normal;
}

.comment-text .brandName {
  font-weight: normal;
}

header {
  width: 100%;
  overflow-y: auto;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  background-color: #5F6467;
  padding: 5px 0;
}

.header__advertorial {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #FFFFFF;
}

.header__inner {
  background: #26292B;
  padding: 30px 0;
}

.header__inner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 260px;
  height: 50px;
  margin-right: 70px;
}

.header__list {
  list-style: none;
  display: flex;
}

.header__item {
  margin-right: 25px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.header__item::after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F46B25;
  bottom: -1px;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.header__item:hover.header__item::after {
  opacity: 1;
}

.header__item.active.header__item::after {
  opacity: 1;
}

.header__item a {
  color: #FFFFFF;
}

.header__item:last-child {
  margin-right: 0;
}

.firstScreen {
  padding: 30px 0;
  background-color: #000000;
  background-image: url("../images/firstScreen-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.firstScreen__breadcrumbs {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */


  color: #FFFFFF;
  margin-bottom: 30px;
}

.firstScreen__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;

  color: #FFFFFF;
  margin-bottom: 30px;
}

.colored {
  font: inherit;
  color: #F46B25;
}

.firstScreen__image {
  margin-bottom: 30px;
}

.infoWidget {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -10px;
}

.infoWidget__inner {
  margin-right: 30px;
}

.infoWidget__inner:last-child {
  margin-right: 0;
}

.infoWidget__inner a {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.infoWidget__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #FFFFFF;
}

.infoWidget__text.author__name {
  font-weight: 700;
}

.infoWidget__text span {
  color: #FFFFFF;
}

.infoWidget__icon {
  width: 16px;
  height: auto;
  margin-right: 5px;
}

.infoWidget__icon.author__icon {
  margin-right: 10px;
}

.main {
  max-width: 1024px;
  margin: 30px auto;
}

.aside-block {
  max-width: 300px;
  margin-left: 30px;
  width: 100%;
}

.news-block {
  display: flex;
  flex-direction: column;
}

.news-wrp {
  display: flex;
  flex-direction: column;
  background-color: #f3f6f7;
}

.news-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 10px 5px;
}

.news-text {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222526;
  opacity: 0.5;
  padding: 0 10px 10px;
}

.more-block {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #c4c4c4;
}

.more-heroTitle {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.main-heroTitle.colored {
  color: #e81019;
  margin-bottom: 15px;
}

.more-item {
  display: flex;
}

.more-item a img {
  width: unset;
}

.more-inner {
  padding: 10px;
  background: #f3f6f7;
}

.more-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ec2613;
  padding-bottom: 5px;
}

.more-text {
  font-family: 'Roboto Condensed';
  font-size: 14px;
  line-height: 16px;
}

.more-hr {
  height: 1px;
  margin: 10px 0;
  background: #c4c4c4;
}

.main-article {
  max-width: 740px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.heroSection-breaking {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding: 5px;
  background: #0371E5;
  width: fit-content;
  margin-top: 15px;
  text-transform: uppercase;
}

.heroSection-path {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-top: 10px;
}

.heroSection-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-top: 10px;
}

.heroSection-title--colored {
  color: #5392d0;
}

.heroSection-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-top: 10px;
}

.heroSection-author {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  margin-top: 20px;
}

.heroSection-date {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #222526;
  margin-top: 10px;
}

.heroSection-date span {
  opacity: 0.5;
}

.heroSection-logosWrp {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 0;
  margin: 30px 0;
}

.heroSection-logos {
  width: 112px;
}

.main-heroTitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-acentText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}

.main-imgWrp {
  display: flex;
  flex-direction: column;
}

.main-underImgText {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 15px 0 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeeef;
}

.main-commonText {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #323232;
  margin-bottom: 10px;
}

.side_photoWrp {
  margin: 20px 0 15px;
  display: flex;
  justify-content: space-between;
}

.side_half1 {
  max-width: 312px;
  width: 100%;
}

.side_img {
  width: 100%;
}

.side_underImageText {
  margin-top: 10px;
  text-align: center;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.side_half2 {
  max-width: 398px;
  margin-left: 30px;
}

.quote_textWrp {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
}

.quote_img {
  margin-right: 10px;
}

.quote_text {
  font-family: 'Georgia';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 0 !important;
}

.undertextImgWrp {
  margin: 20px 0 30px;
}

.underImgText {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.main-acentWrp {
  margin: 15px 0;
}

.main-bgText {
  padding: 15px 20px;
  background: #f3f6f7;
  margin-bottom: 15px;
}

.main-editorWrp {
  background: rgba(58, 121, 187, 0.05);
  border: 2px solid #0371E5;
  border-radius: 10px;
  padding: 18px;
  margin: 20px 0 10px;
}

.main-editorWrp .main-commonText {
  margin: 0;
}

.editor-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #0371E5;
  margin-bottom: 10px;
}

.editor-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}

.main-infoBlock--wrp {
  background: #f3f6f7;
  padding: 10px;
  margin-bottom: 15px;
}

.infoBlock-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.infoBlock-inner {
  display: flex;
  justify-content: space-between;
}

.infoBlock-item {
  border: 1px solid #5392d0;
  max-width: 290px;
  width: 48%;
}

.infoBlock-text {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 10px;
}

.main-reviewCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.review-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background: #5392d0;
  padding: 10px 15px;
}

.review-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  background: #f3f6f7;
  padding: 15px;
}

.main-btn {
  display: block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #0371E5;
  border-radius: 5px;
  max-width: 380px;
  width: 100%;
  margin: 20px auto 30px;
  transition: all 0.3s;
}

.main-btn:hover {
  background: #5d9bdc;
}

.main-btn:active {
  background: #1f5fa3;
}

.main-alert {
  background: rgba(232, 16, 25, 0.02);
  border: 2px solid #e81019;
  border-radius: 10px;
  padding: 18px;
  margin-top: 20px;
}

.main-alert .main-commonText:last-of-type {
  margin-bottom: 0;
}

.alert-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #e81019;
  margin-bottom: 10px;
}

.stepSection-subTitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 60px auto 30px;
}

.main-topicWrp {
  margin: 30px 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  display: flex;
  align-items: center;
}

.main-topicWrp span {
  color: #222526;
  padding: 10px;
  border: 1px solid #979797;
  margin: 0 5px;
}

.main-topicWrp p {
  margin-right: 5px;
}

.highlightWrp {
  margin-top: 30px;
}

.highlight-heroTitile {
  margin-bottom: 20px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
}

.highlight-outer {
  max-width: 740px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-column-gap: 10px;
  row-gap: 10px;
}

.highlight-item {
  border: 1px solid #0371E5;
}

.highlight-inner {
  padding: 10px;
  background: #f3f6f7;
  min-height: 100px;
}

.highlight-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 10px;
}

.highlight-text {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}

.footerWrp {
  background: #272B2E;
}

.footer-outer {
  max-width: 1060px;
  margin: 0 auto;
  padding: 30px 0;
}

.footer__logo {
  width: 260px;
  height: 50px;
  margin-bottom: 30px;
}

.footer-inner.part1 {
  width: 320px;
}

.footer-logos {
  max-width: 115px;
  margin-bottom: 30px;
}

.footer-inner.part2 {
  max-width: 630px;
}

.footer-hr {
  margin: 15px 0;
  height: 1px;
  background: #eaeeef;
}

.footer-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.disclaimer-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #FFFFFF;

  margin-bottom: 5px;
}

.disclaimer-title:not(:first-of-type) {
  margin-top: 10px;
}

.disclaimer-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  /* or 16px */


  color: rgba(255, 255, 255, 0.5);

}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

@media (min-width: 1920px) {
  .header a {
    display: block;
  }
}

@media all and (max-width: 1200px) {
  .aside-block {
    display: none;
  }

  .header__desktop {
    min-width: 1350px;
  }

  .highlight-inner {
    min-height: 130px;
  }
}

@media all and (max-width: 1023px) {
  .header a {
    display: block;
  }

  .header__desktop {
    display: none;
  }

  .header__tablet {
    display: block;
    width: 100%;
  }

  .footer-outer {
    flex-direction: column;
    max-width: 650px;
    padding: 30px 10px;
  }

  .footer-inner.part1 {
    width: unset;
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    justify-content: flex-start;
    padding-left: 350px;
  }
}

@media all and (max-width: 767px) {
  .header__mob {
    display: block;
    width: 100%;
  }

  .header__tablet {
    display: none;
  }

  .heroSection-title {
    font-size: 32px;
    line-height: 38px;
  }

  .heroSection-logosWrp {
    margin: 15px 0;
  }

  .main-heroTitle {
    font-size: 24px;
    line-height: 120%;
  }

  .main-commonText {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 5px;
  }

  .undertextImgWrp {
    margin: 10px 0 15px;
  }

  .underImgText {
    font-size: 12px;
    line-height: 16px;
  }

  .side_photoWrp {
    margin: 15px 0 5px;
    flex-direction: column;
  }

  .side_half1 {
    max-width: 100%;
    margin: 0 auto;
  }

  .side_img {
    max-width: 180px;
    margin: 0 auto;
  }

  .side_underImageText {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 15px;
  }

  .side_half2 {
    margin-left: 0;
  }

  .quote_textWrp {
    padding: 10px 0;
  }

  .main-heroTitle.colored {
    margin-top: 10px;
  }

  .main-editorWrp {
    margin: 5px 0 0;
  }

  .editor-title {
    font-size: 16px;
    line-height: 150%;
  }

  .main-btn {
    max-width: 100%;
    margin: 10px 0 15px;
  }

  .alert-title {
    font-size: 16px;
    line-height: 150%;
  }

  .infoBlock-inner {
    flex-direction: column;
  }

  .infoBlock-item {
    width: 100%;
    max-width: unset;
  }

  .infoBlock-item:first-of-type {
    margin-bottom: 20px;
  }

  .stepSection-subTitle {
    margin: 45px 0 30px;
    font-size: 24px;
    line-height: 120%;
  }

  .highlight-heroTitile {
    font-size: 24px;
    line-height: 28px;
  }

  .highlight-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
  }

  .highlight-text {
    font-size: 14px;
    line-height: 18px;
  }

  .main-topicWrp {
    justify-content: center;
  }

  .highlight-outer {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .highlight-inner {
    min-height: unset;
  }
}

.main__warning {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;

  /* Warning-collor */

  color: #E81019;
  padding: 10px;
  border: 2px solid #E81019;
  border-radius: 10px;
}

.main__warning span {
  font: inherit;
  color: inherit;
}

@media (max-width: 1030px) {
  .container {
    padding: 0 14px;
  }

  .firstScreen {
    background-image: url("../images/bg\ tab-min.jpg");
  }

  .firstScreen__title {
    font-size: 36px;
    line-height: 49px;
  }

  .main {
    padding: 0 14px;
  }

  .main-article {
    max-width: 100%;
  }

  .side_half2 {
    max-width: 100%;
  }

  .footer-outer {
    padding: 30px 14px;
  }
}

@media (max-width: 1024px) {
  .header__wrapper {
    width: 1024px;
  }

  .header__inner {
    width: 1024px;
  }
}

@media (max-width: 460px) {
  .header__wrapper {
    justify-content: flex-start;
    padding-left: 150px;
  }

  .container {
    padding: 0 10px;
  }

  .main {
    padding: 0 10px;
    margin: 15px 0 30px;
  }

  .footer-outer {
    padding: 30px 10px;
  }

  .footer__logo {
    width: 200px;
    height: 39px;
    margin-bottom: 20px;
  }

  .header__advertorial {
    font-size: 10px;
    line-height: 14px;
  }

  .header__inner {
    padding: 15px 0;
  }

  .header__logo {
    width: 200px;
    height: 39px;
    margin-right: 0;
  }

  .firstScreen {
    background-image: url("../images/bg\ mob-min.jpg");
    padding: 15px 0;
  }

  .firstScreen__breadcrumbs {
    margin-bottom: 15px;
  }

  .firstScreen__title {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 15px;
  }

  .firstScreen__image {
    margin-bottom: 15px;
  }

  .infoWidget__text {
    font-size: 12px
  }

  .fixed__button {
    max-width: 340px;
    right: calc(50% - (340px / 2));
  }

  .main__btn {
    font-size: 18px;
    line-height: 25px;
    padding: 23px 0;
  }

  .main__btn:hover {
    transform: unset;
  }

  .main__warning {
    font-size: 24px;
    line-height: 120%;
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  33% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  33% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}


.pulse {
  position: relative;
}

.pulse::after,
.pulse::before {
  content: "";
  position: absolute;
  inset: 0px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0;
  margin: auto;
}

.pulse::before {
  animation: 1.5s linear 0s infinite normal none running pulse;
}

.pulse::after {
  animation: 2s linear 0.4s infinite normal none running pulse;
}