:root {
  --hover: #C71585;
  --active: #FF1493;
  --white: #ffffff;
  --black: #000000;
}

.container {
  max-width: 1560px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'ZenKakuGothicNew';
}

main {
  flex: 1 1 auto;
}

@media (max-width: 600px) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: 1024px) {
  .header {
    &__logo {
      &:hover {
        color: var(--hover);
      }
    }
    &__link {
      &:hover {
        color: var(--hover);
      }
    }
  }
  .header-sublist {
    &__link {
      &:hover {
        color: var(--hover);
      }
    }
  }
  .cockie {
    a {
      &:hover {
        color: var(--hover);
      }
    }
  }
  .faq {
    &__btn {
      &:hover {
        color: var(--hover);
        border-color: var(--hover);
        & span::before {
          background-color: var(--hover);
        }
        & span::after {
          background-color: var(--hover);
        }
      }
    }
    &__link {
      &:hover {
        color: var(--hover);
      }
    }
  }
  .games {
   &__link {
    &:hover {
      color: var(--white);
      background-color: var(--hover);
    }
   }
  }
  .sign {
    &__input {
      &:hover {
        border-color: var(--hover);
        &::placeholder {
          color: var(--hover);
        }
      }
    }
    &__btn {
      &:hover {
        color: var(--white);
        background-color: var(--hover);
      }
    }
  }
  .log {
    &__input {
      &:hover {
        border-color: var(--hover);
        &::placeholder {
          color: var(--hover);
        }
      }
    }
    &__btn {
      &:hover {
        color: var(--white);
        background-color: var(--hover);
      }
    }
  }
}