@font-face {
  font-family: 'kantumruy';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('KantumruyPro-Bold'),
       url("../../fonts/KantumruyPro-Bold.woff2") format("woff2"),
       url("../../fonts/KantumruyPro-Bold.woff") format("woff");
}

@font-face {
  font-family: 'kantumruy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('KantumruyPro-Regular'),
       url("../../fonts/KantumruyPro-Regular.woff2") format("woff2"),
       url("../../fonts/KantumruyPro-Regular.woff") format("woff");
}