:root {
  --black: #000000;
  --white: #ffffff;
  --gold: #FFFECB;
  --gray: #DEDEDE;
  --burbund: #AC2C3F;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "SourceSans3";
  background-color: #700E1D;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.body-block {
  overflow: hidden;
}

@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}
