.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  @media (max-width: 991px) {
    padding: 0 15px;
  }
  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

body {
  background-color: #100D1E;
}

.page {
  font-family: 'opensans';
  min-height: 100%;
  overflow: hidden;
  &__content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    @media (max-width: 991px) {
      display: block;
    }
  }
  &__bottom {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}

main {
  flex: 1 1 auto;
  &:not(:last-child) {
    margin-bottom: 90px;
  }
}

.title {
  display: flex;
  align-items: center;
  font-family: 'georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(90deg, #56299E 0%, rgba(133, 77, 224, 0) 100%);
  border-radius: 8px;
  padding: 5px 20px;
  min-height: 64px;
  @media (max-width: 991px) {
    font-size: 30px;
    padding: 5px 15px;
  }
  @media (max-width: 600px) {
    padding: 5px 10px;
  }
}