.form {

  &__container {}

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    margin: 0 auto;

    @media (max-width: 991px) {
      gap: 20px;
    }

    @media (max-width: 600px) {
      gap: 15px;
    }
  }

  &__label {
    width: 100%;
    display: block;
  }

  &__input {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    height: 40px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    border: 1px solid transparent;
    transition: border-color .2s ease-in-out;
    @media (max-width: 600px) {
      padding: 15px;
      font-size: 16px;
    }

    &::placeholder {
      font-size: 18px;
      line-height: 1;
      color: #fff;
      font-weight: 400;

      @media (max-width: 600px) {
        font-size: 16px;
      }
    }
    @media (any-hover: hover) {
    &:hover {
      border-color: #fff;
    }
    }
    &:focus-visible {
      border-color: #fff;
     transition-duration: .1s;
    }
  }

  &__textarea {
    display: block;
    height: 300px;
    padding: 20px;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    background-color: rgba(128, 128, 128, 0.3);
    resize: none;
    border: 1px solid transparent;
    transition: border-color .2s ease-in-out;
    @media (max-width: 991px) {
      height: 230px;
    }

    @media (max-width: 600px) {
      padding: 15px;
      font-size: 16px;
      height: 150px;
    }

    &::placeholder {
      font-size: 18px;
      line-height: 1;
      color: #fff;
      font-weight: 400;

      @media (max-width: 600px) {
        font-size: 16px;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        border-color: #fff;
      }
      }
      &:focus-visible {
        border-color: #fff;
       transition-duration: .1s;
      }
  }

  &__button {
    padding: 20px;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    background-color: rgba(128, 128, 128, 0.3);
    border: 1px solid transparent;
    transition: border-color .2s ease-in-out;
    @media (max-width: 600px) {
      padding: 15px;
      font-size: 16px;
    }
    @media (any-hover: hover) {
      &:hover {
        border-color: #fff;
      }
      }
      &:active {
        border-color: #fff;
       transition-duration: .1s;
      }
  }
}