.about {
  &:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 70px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 600px) {
      font-size: 17px;
    }
  }
}