.hero {
  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 65px;
    }

    @media (max-width: 600px) {
      margin-bottom: 70px;
    }
  }

  &__content {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    @media (max-width: 1100px) {
      display: block;
    }
  }

  &__descr {
    padding-right: 100px;
    @media (max-width: 1440px) {
      padding-right: 60px;
    }
    @media (max-width: 1100px) {
      max-width: 580px;
      padding-right: 0;
      margin-bottom: 37px;
    }

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__strong {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.8;
    text-transform: uppercase;
    color: #FFFFFF;


    @media (max-width: 991px) {
      font-size: 30px;
      padding-left: 0;
      &::before {
        display: none;
      }
    }

    @media (max-width: 600px) {
      font-size: 21px;
    }
    &:not(:last-child) {
      margin: 0;
    }
  }

  &__title {
    font-family: 'koho';
    font-style: normal;
    font-weight: 700;
    font-size: 77px;
    line-height: 1.19;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 60px;
    }

    @media (max-width: 600px) {
      font-size: 40px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {}

      @media (max-width: 600px) {}
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.45;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 991px) {
        margin-bottom: 30px;
      }

      @media (max-width: 600px) {
        margin-bottom: 40px;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding: 19.5px 55.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
    background: radial-gradient(50% 663.52% at 50% 50%, #5FF628 0%, #2F6307 100%);
    border-radius: 52px;

    @media (any-hover: hover) {
      &:hover {
        & span {
          transform: translateX(3px);
        }
      }
    }

    &:active {
      & span {
        transform: translateX(3px);
      }

      transition-duration: .1s;
    }

    @media (max-width: 991px) {
      font-size: 24px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    & span {
      display: block;
      width: 39px;
      height: 22px;
      margin-left: 10px;
      transition: transform .2s ease-in-out;

      @media (max-width: 991px) {
        width: 33px;
        height: 18px;
      }

      @media (max-width: 600px) {
        width: 25px;
        height: 14px;
      }

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (max-width: 1100px) {
      height: 488px;
    }
    @media (max-width: 600px) {
      height: 292px;
    }
    & img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}