.block-4 {
  &:not(:last-child) {
    margin-bottom: 100px;
    @media (max-width: 991px) {
      margin-bottom: 60px;
    }
    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
    }
  &__title {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    @media (max-width: 991px) {
      font-size: 22px;
    }
    @media (max-width: 600px) {
      font-size: 18px;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
      @media (max-width: 991px) {
        margin-bottom: 30px;
      }
      @media (max-width: 600px) {
margin-bottom: 20px;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    @media (max-width: 991px) {
      gap: 20px;
    }
    @media (max-width: 600px) {
      gap: 10px;
    }
  }

  &__item {
    flex: 0 0 400px;
    padding: 30px;
    border-radius: 25px;
    overflow: hidden;
    @media (max-width: 991px) {
      flex: 0 0 550px;
      padding: 20px;
    }
    @media (max-width: 600px) {
      flex: 0 0 100%;
      padding: 15px;
    }
  }

  &__image {
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
   & a {
    display: block;
    width: 100%;
    height: 100%;
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      }
   }
  }

  &__descr {
    padding: 15px 10px;
  }

  &__name {
    display: block;
    font-size: 18px;
    line-height: 1;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    transition:color .2s ease-in-out;
    @media (max-width: 991px) {
      font-size: 17px;
    }
    @media (max-width: 600px) {
      font-size: 16px;
    }
    @media (any-hover: hover) {
    &:hover {
      color: #6b8e23;
    }
    }
    &:active {
      color: #6b8e23;
     transition-duration: .1s;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
      @media (max-width: 600px) {
          margin-bottom: 10px;
      }
    }
  }

  &__play {
    display: block;
    font-size: 18px;
    line-height: 1;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    padding: 15px 10px;
    width: 100%;
    background-color: #6b8e23;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    @media (max-width: 991px) {
      font-size: 17px;
    }
    @media (max-width: 600px) {
      font-size: 16px;
      padding: 13px 10px;
    }
    @media (any-hover: hover) {
    &:hover {
      color: #6b8e23;
      background-color: #ffffff;
    }
    }
    &:active {
      color: #ffffff;
      background-color: #6b8e23;
     transition-duration: .1s;
    }
  }
}

.block-slot {

  &__title {
    font-size: 34px;
    line-height: 1.3;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: 991px) {
      font-size: 28px;
    }
    @media (max-width: 600px) {
      font-size: 24px;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
      @media (max-width: 991px) {
        margin-bottom: 30px;
      }
      @media (max-width: 600px) {
margin-bottom: 20px;
      }
    }
  }
  &__game {
    width: 100%;
    height: 800px;
    @media (max-width: 991px) {
      height: 600px;
    }
    @media (max-width: 600px) {
      height: 400px;
    }
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}
