.advantages {

  &__body {
    background-color: #3C72C4;
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 36px;
    padding: 0 5px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 13px 23px;
      padding: 0;
    }
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      gap: 18px;
      padding: 0 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ABCDFF;
    border-radius: 11px;
    padding: 20px;
  }

  &__title {
    font-family: 'PassionOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #0093D4;
    flex: 1 1 auto;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      font-size: 37px;
      line-height: 41px;
    }

    @media (max-width: 600px) {
      font-size: 31px;
      line-height: 34px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    @media (max-width: 768px) {
      width: 142px;
      height: 142px;
    }
    @media (max-width: 500px) {
      width: 119px;
      height: 119px;
    }
    & img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}