.hero {

  &__container {
    padding-left: 0;

    @media (max-width: 1024px) {
      padding-left: 15px;
    }

    @media (max-width: 600px) {
      padding-left: 10px;
    }
  }

  &__wrapper {
    position: relative;
    padding: 25px 0 200px 0;

    @media (max-width: 1400px) {
      padding: 0 0 220px 0;
    }

    @media (max-width: 1150px) {
      padding-top: 10px;
    }

    @media (max-width: 1024px) {
      padding-top: 60px;
      padding-bottom: 0;
    }

    @media (max-width: 600px) {
      padding-top: 30px;
      height: auto;
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    height: 100%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PassionOne';
    font-style: normal;
    font-weight: 400;
    font-size: 97px;
    line-height: 97px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;

    @media (max-width: 1150px) {
      font-size: 81px;
      line-height: 81px;
    }

    @media (max-width: 1024px) {
      font-size: 78px;
      line-height: 78px;
    }

    @media (max-width: 600px) {
      font-size: 40px;
      line-height: 44px;
    }

    @media (max-width: 374px) {
      font-size: 36px;
      line-height: 40px;
    }

    & span {
      text-align: center;
      font-size: 72px;
      line-height: 79px;

      @media (max-width: 1150px) {
        font-size: 58px;
        line-height: 58px;
      }

      @media (max-width: 1024px) {
        font-size: 50px;
        line-height: 55px;
      }

      @media (max-width: 600px) {
        font-size: 32px;
        line-height: 35px;
      }

      @media (max-width: 374px) {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 1024px) {
      font-size: 25px;
      line-height: 29px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__wrapper-link {
    text-align: right;
    margin-top: 250px;
    padding-right: 30px;

    @media (max-width: 1024px) {
      margin-top: 500px;
      text-align: center;
      padding-right: 0;
      padding-bottom: 35px;
    }

    @media (max-width: 600px) {
      margin-top: 350px;
    }

    @media (max-width: 374px) {
      margin-top: 300px;
    }
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    padding: 28.5px 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: radial-gradient(100% 2484.82% at 0% 50.57%, #0A345C 0.01%, #1C82EF 48.85%, #205799 100%, #9E6300 100%);
    box-shadow: 0px 5px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    transition: box-shadow .2s ease-in-out;

    @media (max-width: 1024px) {
      font-size: 23px;
      line-height: 27px;
      padding: 19px 54px;
    }

    @media (max-width: 600px) {
      padding: 15.5px 66.5px;
    }

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 5px 4px rgba(255, 255, 255, 1);
      }
    }
  }

  &__image {
    position: absolute;
    bottom: 20px;
    left: 0;
    max-width: 715px;
    height: 685px;
    z-index: 1;
    text-align: center;

    @media (max-width: 1024px) {
      width: 100%;
      max-width: none;
      bottom: 0;
    }

    @media (max-width: 600px) {
      height: 469px;
    }

    & img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}