@font-face {
  font-family: 'karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Karla-Bold'),
       url("../../fonts/Karla-Bold.woff2") format("woff2"),
       url("../../fonts/Karla-Bold.woff") format("woff");
}

@font-face {
  font-family: 'karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Karla-Regular'),
       url("../../fonts/Karla-Regular.woff2") format("woff2"),
       url("../../fonts/Karla-Regular.woff") format("woff");
}

@font-face {
  font-family: 'khula';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Khula-Regular'),
       url("../../fonts/Khula-Regular.woff2") format("woff2"),
       url("../../fonts/Khula-Regular.woff") format("woff");
}