.about {
  padding-top: calc(30px + 60 * ((100vw - 320px) / 1600));
  padding-bottom: calc(15px + 40 * ((100vw - 320px) / 1600));
}
.about__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 991px) {
  .about__bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.about__title {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: #F29A2E;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .about__title {
    font-size: calc(32px + 40.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .about__title {
    font-size: calc(32px + 24 * (100vw / 1920));
  }
}
.about__text {
  font-style: normal;
  font-weight: 400;
  line-height: calc(29px + 14 * ((100vw - 320px) / 1600));
  color: var(--white);
}
@media (max-width: 767px) {
  .about__text {
    font-size: calc(22px + 23.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .about__text {
    font-size: calc(22px + 14 * (100vw / 1920));
  }
}
.about__image {
  text-align: center;
}
.about__image img {
  max-width: 100%;
}