.no-webp .hero {
  background-image: url(../../img/hero.png); }
.hero {
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
@media (max-width: 1024px) {
  .no-webp .hero {
    background-image: url(../../img/hero_1024.png); }
}
@media (max-width: 600px) {
  .no-webp .hero {
    background-image: url(../../img/hero_320.png); }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.hero__body {
  max-width: 580px;
}
.hero__span {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: calc(23px + 7 * ((100vw - 320px) / 1600));
  color: var(--white);
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .hero__span {
    font-size: calc(18px + 11.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .hero__span {
    font-size: calc(18px + 7 * (100vw / 1920));
  }
}
.hero__title {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  line-height: calc(31px + 27 * ((100vw - 320px) / 1600));
  color: #EDAA39;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .hero__title {
    font-size: calc(32px + 45.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .hero__title {
    font-size: calc(32px + 27 * (100vw / 1920));
  }
}
.hero__text {
  font-style: normal;
  font-weight: 400;
  line-height: calc(29px + 14 * ((100vw - 320px) / 1600));
  color: var(--white);
}
@media (max-width: 767px) {
  .hero__text {
    font-size: calc(22px + 23.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .hero__text {
    font-size: calc(22px + 14 * (100vw / 1920));
  }
}
.webp .hero { background-image: url(../../img/hero.webp); }
@media (max-width: 1024px) {
  .webp .hero { background-image: url(../../img/hero_1024.webp); } }
@media (max-width: 600px) {
  .webp .hero { background-image: url(../../img/hero_320.webp); } }