.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding: 0 15px;
  }

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

body {
  background-color: #454545;
}

.page {

  font-family: 'inter';
  min-height: 100%;
  overflow: hidden;

  &__content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;

    @media (max-width: 991px) {
      display: block;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 68px;

    @media (max-width: 991px) {
      width: 100%;
      padding-top: 0;
    }

    @media (max-width: 600px) {}
  }
}

main {
  flex: 1 1 auto;
  &:not(:last-child) {
    margin-bottom: 90px;
  }
}