.block {
  padding-top: 50px;

  @media (max-width: 991px) {
    padding-top: 35px;
  }

  @media (max-width: 600px) {
    padding-top: 20px;
  }

  &__image {
    position: relative;
    padding-bottom: 48%;

    @media (max-width: 600px) {
      padding-bottom: 68%;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    &:not(:last-child) {
      margin-bottom: 100px;

      @media (max-width: 991px) {
        margin-bottom: 75px;
      }

      @media (max-width: 600px) {
        margin-bottom: 50px;
      }
    }
  }

  &__title {
    font-size: 28px;
    line-height: 1.3;
    color: #000000;
    font-weight: 700;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 24px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #000000;
    font-size: 18px;
    line-height: 1;
    color: #ffffff;
    font-weight: 700;
    background-color: #008000;
    padding: 15px 10px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;

    @media (max-width: 600px) {
      font-size: 16px;
      padding: 13px 10px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #000000;
        background-color: #20c220;
      }
    }

    &:active {
      color: #000000;
      background-color: #20c220;
      transition-duration: .1s;
    }
  }
}


.block-footer {
  padding: 30px 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    font-weight: 400;
    text-align: center;

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    color: #000000;
    font-weight: 400;
    padding-bottom: 5px;

    @media (max-width: 600px) {
      font-size: 14px;
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: scale(1);
        }
      }
    }

    &:active {
      &::before {
        transform: scale(1);
      }

      transition-duration: .1s;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #000000;
      transform: scale(0);
      transition: transform .2s ease-in-out;
    }
  }
}

.block-terms {
  padding-top: 50px;

  @media (max-width: 991px) {
    padding-top: 35px;
  }

  @media (max-width: 600px) {
    padding-top: 20px;
  }

  & h1 {
    font-size: 30px;
    line-height: 1.3;
    color: #000000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 30px;
    line-height: 1.3;
    color: #000000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }

    }
  }

    & h3 {
      font-size: 26px;
      line-height: 1.3;
      color: #000000;
      font-weight: 700;

      @media (max-width: 991px) {
        font-size: 20px;
      }

      @media (max-width: 600px) {
        font-size: 17px;
      }

      &:not(:last-child) {
        margin-bottom: 30px;

        @media (max-width: 991px) {
          margin-bottom: 20px;
        }

        @media (max-width: 600px) {
          margin-bottom: 15px;
        }
      }
    }
      & p {
        font-size: 18px;
        line-height: 1.3;
        color: #000000;
        font-weight: 400;

        @media (max-width: 991px) {
          font-size: 17px;
        }

        @media (max-width: 600px) {
          font-size: 16px;
        }

        &:not(:last-child) {
          margin-bottom: 30px;

          @media (max-width: 991px) {
            margin-bottom: 20px;
          }

          @media (max-width: 600px) {
            margin-bottom: 15px;
          }
        }
      }

      & ul {
        &:not(:last-child) {
          margin-bottom: 30px;

          @media (max-width: 991px) {
            margin-bottom: 20px;
          }

          @media (max-width: 600px) {
            margin-bottom: 15px;
          }
        }
      }

      & li {
        font-size: 18px;
        line-height: 1.3;
        color: #000000;
        font-weight: 400;

        @media (max-width: 991px) {
          font-size: 17px;
        }

        @media (max-width: 600px) {
          font-size: 16px;
        }

        &:not(:last-child) {
          margin-bottom: 30px;

          @media (max-width: 991px) {
            margin-bottom: 20px;
          }

          @media (max-width: 600px) {
            margin-bottom: 15px;
          }
        }
      }
    }

