.title-d {
    background-color: #0632d0;
    height: 5px;
    width: 100px;
    position: relative;
    margin: 20px auto 50px;
}

/*====== HEADER SECTION ======*/
.sphere-header-content h1 {
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 800;
}

.sphere-navbar {
    background-color: #0639d2;
}






/* POP UP CSS */
.modal-container {
    z-index: 999999999999999 !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(22px);

}

.modal-content-box {
    min-height: 200px;
    background-color: #fff;
    border: 0px solid #fff;
    width: 550px;
    max-width: 100%;
    margin: auto;
    border-radius: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    padding: 10px 30px 10px 30px;
    right: 0
}

.modal-content-box h3 {
    color: #000;
    font-size: 3rem;
    margin-bottom: 20px;
}

.modal-content-box h4 {
    color: #000;
    font-size: 1.4rem;
    font-weight: 800;
    text-shadow: 2px 2px 10px rgb(123 156 184 / 90%);

}

.modal-content-box img {
    width: 80px;
    margin-bottom: 20px;
}

.modal-content-box p {
    color: #000;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

.close-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.close-button i {
    color: red;
    font-size: 2rem;
}

.close-button i:hover {
    color: #1bd76f;
}

.modal-logo {
    width: 50px;
    margin-top: 40px
}

.modal-btn {
    background: #1bd76f;
    border-radius: 1000px;
    border-bottom: 4px solid #1ba57b;
    padding: 15px 45px;
    color: #ffffff;
    display: inline-block;
    font-family: 'Overpass', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 350px;
    max-width: 100%;
    margin-top: 20px;
    -webkit-box-shadow: 0px 10px 25px rgb(0 0 0 / 30%);
    box-shadow: 0px 10px 25px rgb(0 0 0 / 30%);

}

}

.modal-content-box a {
    color: #000;
}

.modal-content-box p a {
    text-decoration: underline;
    color: #000;
}

.modal-content-box p {
    line-height: 1.5rem;
}

.modal-btn:hover {
    background-color: #35c05c;

    text-decoration: none;
    color: #fff
}


/*====== GAME SECTION ======*/
.sphere-games {
    padding: 0px 15px 60px
}

.sphere-games h1 {
    font-size: 3rem;
}

.sphere-games img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.sphere-games img:hover {
    opacity: 0.7
}

.sphere-game-box {
    background-color: #fff;
    border: 0px solid #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
}

.sphere-game-btn {
    background: #29f0b4;
    border-radius: 1000px;
    border-bottom: 0px solid #288b44;
    padding: 10px 15px;
    color: #ffffff;
    display: inline-block;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 200px;
    max-width: 100%;
    margin-top: 0px;
}
@media (max-width: 991px) {
    .sphere-game-btn {
        font-size: .8rem;
        padding: 10px 10px;
    }
}
@media (max-width: 500px) {
    .sphere-game-btn {
        font-size: .6rem;
    }
    .sphere-game-box  {
        padding: 10px 5px;
    }
}
.sphere-game-btn:hover {
    background: #35c05c;
    color: #ffffff;
    text-decoration: none;
}

.sphere-disclaimer strong {
    color: #29f0b4;
    font-size: 0.85rem;
}

/*====== FEATURES SECTION ======*/
.sphere-features {

    padding: 60px 0px 60px;
}

.sphere-features-wrap {
    background-color: #0a66d2;
    border-radius: 20px;
    padding: 25px;
    position: relative;
    margin-top: -150px;
    -webkit-box-shadow: 0 12px 25px -1px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 25px -1px rgba(0, 0, 0, 0.35);

}

.sphere-features-wrap:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/bg-do2.png);
    opacity: .3;
}

.sphere-features-box {
    background-color: transparent;
    height: 200px;
    padding: 0px;
    border-radius: 10px;
    position: relative;
}

.sphere-features-box h3 {
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 800;
}

.sphere-features-box img {
    width: 100px;
}

.sphere-features-content {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

/*====== PAGE SECTION ======*/
.sphere-page-header h1 {
    font-size: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}

.sphere-page-section {
    padding: 60px 15px 60px 0px
}

.sphere-page-section h2,
.sphere-page-section h3 {
    font-size: 1.2rem
}

/*====== FOOTER ======*/
.sphere-disclaimer {
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    position: relative;
    -webkit-box-shadow: 0 12px 25px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 12px 25px -1px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    font-size: 0.7rem;
}

/*====== RESPONSIVE ======*/
@media (max-width: 600px) {

    h1,
    .sphere-header-content h1 {
        font-size: 2rem;
    }

    .sphere-features-box h3 {
        font-size: 0.8rem;
    }

    .sphere-features-box {
        height: 150px;
    }

}

@media (max-width: 400px) {
    .sphere-features-box h3 {
        font-size: 0.6rem;
    }
}
