.bnfts {
  overflow: hidden;
  padding-top: calc(38px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(38px + 30 * ((100vw - 320px) / 1600));
}
.bnfts__title {
  font-family: "Moul";
  font-style: normal;
  font-weight: 400;
  line-height: calc(40px + 31 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: #2C2C2C;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .bnfts__title {
    font-size: calc(17px + 49.3 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .bnfts__title {
    font-size: calc(17px + 29 * (100vw / 1920));
  }
}
@media (max-width: 768px) {
  .bnfts__title {
    margin-bottom: 30px;
  }
}
.bnfts__list {
  gap: 20px;
}
.bnfts__item {
  max-width: 447px;
}
.bnfts__icon {
  width: 164px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  height: 183px;
  text-align: center;
}
.bnfts__icon img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}
.bnfts__icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 112%;
  height: 100%;
  border-radius: 50%;
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(217, 96, 26, 0.9) 0%, rgba(110, 26, 0, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, rgba(217, 96, 26, 0.9) 0%, rgba(110, 26, 0, 0) 100%);
  z-index: 1;
}
.bnfts__descr {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background: rgb(239 196 171 / 90%);
  border: 2px solid #D9601A;
  padding: 20px;
}
.bnfts__text {
  font-family: "Moul";
  font-style: normal;
  font-weight: 400;
  line-height: calc(32px + 23 * ((100vw - 320px) / 1600));
  text-align: center;
  text-transform: uppercase;
  color: rgba(164, 60, 0, 0.9);
  margin: 0;
}
@media (max-width: 767px) {
  .bnfts__text {
    font-size: calc(17px + 28.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .bnfts__text {
    font-size: calc(17px + 17 * (100vw / 1920));
  }
}