.footer {
  background-color: #F2B47E;
  padding: 20px 0;
}
@media (max-width: 600px) {
  .footer {
    padding: 30px 0;
  }
}
.footer__container {
  overflow: hidden;
}
.footer__wrapper-logo {
  margin-bottom: 25px;
}
.footer__wrapper-logo img {
  max-width: 100%;
}
.footer__warning {
  font-style: normal;
  font-weight: 400;
  line-height: calc(30px + 19 * ((100vw - 320px) / 1600));
  line-height: 145.16%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 20px auto;
}
@media (max-width: 767px) {
  .footer__warning {
    font-size: calc(20px + 23.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .footer__warning {
    font-size: calc(20px + 14 * (100vw / 1920));
  }
}
.footer__lst {
  padding: 0;
  gap: 25px;
}
.footer__lst:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .footer__lst {
    gap: 10px;
  }
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  line-height: calc(36px + 12 * ((100vw - 320px) / 1600));
  text-align: center;
  color: #000000;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .footer__link {
    font-size: calc(18px + 23.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .footer__link {
    font-size: calc(18px + 14 * (100vw / 1920));
  }
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: #D9601A;
  }
}
.footer__link:active {
  color: #D9601A;
}