.bb2 {
  margin-bottom: 85px;

  @media (max-width: 600px) {
    margin-bottom: 80px;
  }

  &__content {
    display: flex;
    gap: 20px;

    @media (max-width: 991px) {
      display: block;
    }
  }

  &__list {
    width: 60%;

    @media (max-width: 991px) {
      width: 100%;
      margin-bottom: 25px;
    }

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    gap: 35px;
    padding: 23px 0;
    border-bottom: 1px solid #ffffff;
    @media (max-width: 991px) {
      gap: 30px;
      padding-bottom: 15px;
    }

    @media (max-width: 600px) {
      padding-bottom: 10px;
      gap: 15px;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 81px;
    height: 78px;

    @media (max-width: 991px) {
      width: 46px;
      height: 44px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    font-family: 'bookmanoldstyle';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 1.08;
    color: #FFFFFF;
    max-width: 530px;
    @media (max-width: 991px) {
      font-size: 28px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 15px;
    }
  }

  &__image {
    flex-shrink: 0;
    width: 453px;
    height: 549px;

    @media (max-width: 991px) {
      width: auto;
      max-width: 419px;
      height: 508px;
      margin: 0 auto;
    }

    @media (max-width: 600px) {
      max-width: 335px;
      height: 406px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}