.trms {
  margin-bottom: 85px;

  @media (max-width: 600px) {
    margin-bottom: 80px;
  }

  & h1 {
    font-family: 'bookmanoldstyle';
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #ED9D02;

    @media (max-width: 991px) {
      font-size: 29px;
    }

    @media (max-width: 600px) {
      font-size: 21px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-family: 'bookmanoldstyle';
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #ED9D02;

    @media (max-width: 991px) {
      font-size: 29px;
    }

    @media (max-width: 600px) {
      font-size: 21px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 19px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 17px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}