@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato-Regular'),
       url("../../fonts/Lato-Regular.woff2") format("woff2"),
       url("../../fonts/.Lato-Regularwoff") format("woff");
}

@font-face {
  font-family: 'JockeyOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('JockeyOne-Regular'),
       url("../../fonts/JockeyOne-Regular.woff2") format("woff2"),
       url("../../fonts/JockeyOne-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter-Regular'),
       url("../../fonts/Inter-Regular.woff2") format("woff2"),
       url("../../fonts/Inter-Regular.woff") format("woff");
}