
.container {
  max-width: 1440px;
  // padding: 0 20px;
  margin: 0 auto;
  // @media (max-width: 1024px) {
  //   padding: 0 15px;
  // }
  // @media (max-width: 600px) {
  //   padding: 0 10px;
  // }
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'JockeyOne';
  background-color: #950C0C;
}

main {
  flex: 1 1 auto;
}

