.games {

  margin-bottom: 100px;

  @media (max-width: 1024px) {
    margin-bottom: 60px;
  }

  @media (max-width: 600px) {
    margin-bottom: 30px;
  }


  &__title {
    width: max-content;
    font-size: 38px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    padding: 3px 10px 5px 10px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    margin: 0 auto;
    margin-bottom: 50px;

    @media (max-width: 1024px) {
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 40px;
    }

    @media (max-width: 600px) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  &__image {
    flex-shrink: 0;
    margin-bottom: 20px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__name {
    flex: 1 1 auto;
    margin-bottom: 20px;
    text-align: center;

    & a {
      display: inline-block;
      font-size: 22px;
      line-height: 22px;
      color: #ffffff;
      font-weight: 400;
      font-style: normal;
      text-transform: uppercase;
      transition: color .2s ease-in-out;

      @media (max-width: 1024px) {
        font-size: 19px;
        line-height: 19px;
      }

      @media (max-width: 600px) {
        font-size: 17px;
        line-height: 17px;
      }

      @media (any-hover: hover) {
        &:hover {
          color: #00008b;
        }
      }
    }
  }

  &__play {
    text-align: center;

    & a {
      display: inline-block;
      font-size: 22px;
      line-height: 22px;
      color: #ffffff;
      font-weight: 400;
      font-style: normal;
      transition: transform .2s ease-in-out;
      background-color: rgb(255, 208, 0);
      padding: 15px 45px;

      @media (max-width: 1024px) {
        font-size: 19px;
        line-height: 19px;
        padding: 13px 40px;
      }

      @media (max-width: 600px) {
        font-size: 17px;
        line-height: 17px;
        padding: 10px 35px;
      }

      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.play {
  padding: 60px 0;
  @media (max-width: 600px) {
    padding: 30px 0;
  }

  &__title {
    font-size: 38px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;

    @media (max-width: 1024px) {
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 40px;
    }

    @media (max-width: 600px) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 30px;
    }
  }

  &__iframe {
    height: 700px;
    @media (max-width: 768px) {
      height: 350px;
    }
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}