.benefits {
  margin-bottom: 82px;

  @media (max-width: 1024px) {
    margin-bottom: 36px;
  }

  @media (max-width: 600px) {
    margin-bottom: 41px;
  }

  &__title {
    width: max-content;
    position: relative;
    padding-right: 50px;
    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 117.5%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 50px;

    @media (max-width: 1024px) {
      font-size: 22px;
      padding-right: 40px;
      margin-bottom: 40px;
    }

    @media (max-width: 600px) {
      font-size: 26px;
      margin-bottom: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 36px;
      height: 2px;
      background-color: #094081;
      transform: translateY(-50%);

      @media (max-width: 1024px) {
        width: 30px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 14px;
      height: 14px;
      transform: translate(0, -50%) rotate(-45deg);
      border-right: 2px solid #094081;
      border-bottom: 2px solid #094081;

      @media (max-width: 1024px) {
        width: 11px;
        height: 11px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template: auto /repeat(3, 1fr);
    gap: 15px 70px;
    @media (max-width: 1250px) {
      column-gap: 30px;
    }
    @media (max-width: 991) {
      column-gap: 52px;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C395A;
    border-radius: 12px;
    padding: 25px;
  }

  &__subtitle {
    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 117.5%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: 1 1 auto;
    text-align: center;
    margin-bottom: 5px;
    @media (max-width: 1024px) {
      font-size: 17px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }
}


.benefits-item-color {
  background-color: #1AA0B5;
}