@font-face {
  font-family: 'kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kanit-Regular'),
       url("../../fonts/Kanit-Regular.woff2") format("woff2"),
       url("../../fonts/Kanit-Regular.woff") format("woff");
}

@font-face {
  font-family: 'koulen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Koulen-Regular'),
       url("../../fonts/Koulen-Regular.woff2") format("woff2"),
       url("../../fonts/Koulen-Regular.woff") format("woff");
}