.bl4 {
  margin-bottom: 80px;

  @media (max-width: 991px) {
    margin-bottom: 70px;
  }

  @media (max-width: 600px) {
    margin-bottom: 60px;
  }


  &__list {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(290px, 1fr));
    gap: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1366;
    min-height: 115px;
    padding: 10px;
    @media (max-width: 600px) {
      padding: 8px;
      min-height: 75px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 27px;
      line-height: 26px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}