@font-face {
  font-family: 'trebuchetms';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('TrebuchetMs'),
       url("../../fonts/TrebuchetMs.woff2") format("woff2"),
       url("../../fonts/TrebuchetMs.woff") format("woff");
}

@font-face {
  font-family: 'jockeyone';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('JockeyOne-Regular'),
       url("../../fonts/JockeyOne-Regular.woff2") format("woff2"),
       url("../../fonts/JockeyOne-Regular.woff") format("woff");
}

@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto-Regular'),
       url("../../fonts/Roboto-Regular.woff2") format("woff2"),
       url("../../fonts/Roboto-Regular.woff") format("woff");
}