.slots {
  &:not(:last-child) {
    margin-bottom: 80px;
    @media (max-width: 991px) {
      margin-bottom: 50px;
    }
    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }
  &__list { display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__item {
    flex: 0 0 400px;
    background-color: rgba(48, 47, 47, 0.5);
    @media (max-width: 991px) {
      flex: 0 0 350px;
    }
    @media (max-width: 450px) {
      flex: 0 1 100%;
    }
  }
  &__image {
    height: 300px;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @media (max-width: 600px) {
      height: 270px;
    }
    & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    }
  }
  &__link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
    transition: opacity .2s ease-in-out;
    @media (max-width: 600px) {
          font-size: 16px;
    }
    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
      }
      &:active {
        opacity: .2;
       transition-duration: .1s;
      }
  }
  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
    background-color: rgb(151, 126, 151);
    height: 50px;
    width: 100%;
    transition: background-color .2s ease-in-out;
    @media (max-width: 991px) {
      height: 40px;
    }
    @media (max-width: 600px) {
      font-size: 16px;
      height: 30px;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(32, 0, 32);
      }
      }
      &:active {
        background-color: rgb(32, 0, 32);
       transition-duration: .1s;
      }
  }
}

.slot {
  
  &__iframe {
    width: 100%;
    height: 760px;
    @media (max-width: 991px) {
      height: 560px; 
    }
    @media (max-width: 600px) {
      height: 460px;
    }
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

