@font-face {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alata-Regular'),
       url("../../fonts/Alata-Regular.woff2") format("woff2"),
       url("../../fonts/Alata-Regular.woff") format("woff");
}

@font-face {
  font-family: 'HoltwoodOneSC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HoltwoodOneSC-Regular'),
       url("../../fonts/HoltwoodOneSC-Regular.woff2") format("woff2"),
       url("../../fonts/HoltwoodOneSC-Regular.woff") format("woff");
}
