.prem {
  overflow: hidden;
  padding-top: calc(20px + 20 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
}
.prem__title {
  margin-bottom: 30px;
}
.prem__item {
  position: relative;
  width: 453px;
  min-height: 289px;
  margin-bottom: 30px;
  background-color: #78787863;
  border-radius: 23px;
  padding: calc(20px + 10 * ((100vw - 320px) / 1600));
  padding-bottom: 100px;
}
@media (max-width: 600px) {
  .prem__item {
    min-height: 215px;
  }
}
.prem__item:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 600px) {
  .prem__item:not(:last-child) {
    margin-right: 0;
  }
}
.prem__image {
  position: absolute;
  bottom: 5px;
  right: 20px;
}
.prem__text {
  max-width: 383px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width: 1024px) {
  .prem__text {
    line-height: calc(36px + 10 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .prem__text {
    font-size: calc(30px + 17 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .prem__text {
    font-size: calc(30px + 10 * (100vw / 1920));
  }
}

.korona {
  bottom: 50px;
}
@media (max-width: 600px) {
  .korona {
    bottom: 30px;
  }
}