.container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'OpenSans';
  font-weight: 400;
  background: linear-gradient(45deg, #8ba3e3, #edb5db);
}

main {
  flex: 1 1 auto;
}

.body-block {
  overflow: hidden;
}

@media (min-width: 1024px) {
  .hd {
    &__link {
      &:hover {
        &:after {
          opacity: 0;
        }
      }
    }
    &__log {
      &:hover {
        color: #fff;
      background-color: #000;
      }
    }
    &__sign {
      &:hover {
        color: #fff;
      background-color: #000;
      }
    }
  }
  .buttons {
    &__btn {
      &:hover {
        background-color: #000;
      }
    }
  }
  .best {
    &__link {
      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }
  .slots {

    &__fun {
      &:hover {
        &::before {
          background-color: rgba(0,0,0,.2);
        }
        & .slots__play {
          opacity: 1;
          visibility: visible;
          pointer-events: visible;
        }
      }
    }
    &__item { 
      &:hover {
        &::before {
          background-color: rgba(0,0,0,.2);
        }
        & .slots__play {
          opacity: 1;
          visibility: visible;
          pointer-events: visible;
        }
      }
    }
    &__link {
      &:hover {
        color: #fff;
        background-color: #000;
        &:before {
          background-color: #fff;
        }
        &::after {
          border-color: transparent transparent transparent #fff;
        }
      }
    }
    &__btn {
      &:hover {
        color: #fff;
        background-color: #000;
        &:before {
          background-color: #fff;
        }
        &::after {
          border-color: #fff transparent transparent transparent;
        }
      }
    }
    &__play {
      &:hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
      }
    }
  }
  .faq {
    &__title {
      &:hover {
        color: #fff;
        background-color: #cacaca;
        &::before {
          border-color: #fff;
        }
      }
    }
    &__link {
      &:hover {
        &::after {
          opacity: 0;
        }
      }
    }
    &__mail {
      &:hover {
        &::after {
          opacity: 0;
        }
      }
    }
  }
  .news {
    &__item {
      &:hover {
        &::before {
          background-color: rgba(0,0,0,.5);
        }
        & .news__link {
          opacity: 1;
          visibility: visible;
          pointer-events: visible;
        }
      }
    }
    &__link {
      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }
  .footer {
    &__link {
      &:hover {
        &:after {
          opacity: 0;
        }
      }
    }
  }
  .week-collapse  {
    &:hover {
      &::after {
        border-color: transparent transparent #fff transparent;
      }
    }
  }
  .best-collapse  {
    &:hover {
      &::after {
        border-color: transparent transparent #fff transparent;
      }
    }
  }
  .all-collapse  {
    &:hover {
      &::after {
        border-color: transparent transparent #fff transparent;
      }
    }
  }
}

