@font-face {
  font-family: 'jejugothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('JejuGothic-Regular'),
       url("../../fonts/JejuGothic-Regular.woff2") format("woff2"),
       url("../../fonts/JejuGothic-Regular.woff") format("woff");
}

@font-face {
  font-family: 'kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kanit-Regular'),
       url("../../fonts/Kanit-Regular.woff2") format("woff2"),
       url("../../fonts/Kanit-Regular.woff") format("woff");
}

@font-face {
  font-family: 'kanit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Kanit-Bold'),
       url("../../fonts/Kanit-Bold.woff2") format("woff2"),
       url("../../fonts/Kanit-Bold.woff") format("woff");
}