.auditory {
  margin-bottom: 90px;
  @media (max-width: 991px) {
    margin-bottom: 60px;
  }
  @media (max-width: 600px) {
    margin-bottom: 30px;
  }
  &__title {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-style: normal;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 25px;
    padding-bottom: 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      border: 1px solid rgba(51, 51, 51,.1);
      border-left: 0;
      border-right: 0;
    }
  }

  &__middle {
    margin-bottom: 60px;
    @media (max-width: 991px) {
      margin-bottom: 45px;
    }
    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 20px;
    @media (max-width: 991px) {
      grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(51, 51, 51, .1);
  }

  &__item-top {
    flex: 1 1 auto;
    height: 100%;
    padding: 10px 20px 30px 20px;
    @media (max-width: 991px) {
      padding: 10px 15px 25px 15px;
    }
    @media (max-width: 600px) {
      padding: 10px 10px 20px 10px;
    }
  }

  &__icon {
    width: 130px;
    height: 120px;
    margin: auto;
    margin-bottom: 10px;
    @media (max-width: 991px) {
      width: 110px;
      height: 90px;
    }
    @media (max-width: 600px) {
      width: 90px;
      height: 70px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__strong {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    font-style: normal;
    text-align: center;
    color: rgba(51, 51, 51, 1);

    &_big {
      position: relative;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      min-height: 64px;
      padding-bottom: 10px;
      margin-bottom: 25px;
      @media (max-width: 991px) {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 20px;
        min-height: auto;
      }
      @media (max-width: 600px) {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border: 1px solid rgba(51, 51, 51,.1);
        border-left: 0;
        border-right: 0;
      }
    }
  }

  &__descr {
    border-top: 1px solid rgba(51, 51, 51, .1);
    padding: 10px 10px 20px 10px;
    @media (max-width: 991px) {
      padding-bottom: 15px;
    }
    @media (max-width: 600px) {
      padding-bottom: 10px;
    }
  }

  &__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    font-style: normal;
    text-align: center;
    color: rgba(51, 51, 51, 1);

    &_change {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      font-style: normal;
      color: rgba(51, 51, 51, 1);
    }

    &_line {
      position: relative;
      padding-left: 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      font-style: normal;
      color: rgba(51, 51, 51, 1);
      text-align: left;

      &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(51, 51, 51, .1);
        margin-bottom: 20px;
      }
    }
  }

  &__footer {
    margin-bottom: 60px;
    @media (max-width: 991px) {
      margin-bottom: 45px;
    }
    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__colums {
    display: grid;
    grid-template: auto / 1.1fr .9fr;
    gap: 15px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  &__column {}

  &__kvad {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, .1);
  }
  &__treg {
    position: absolute;
    bottom: -16px;
    left: 30px;
    width: 22px;
    height: 30px;
    transform: rotate(88deg);
    background-color: #ffffff;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-right: 1px solid rgba(51, 51, 51, .1);
      border-bottom: 1px solid rgba(51, 51, 51, .1);
      transform: skewX(35deg) ;
    }
  }
  &__ok {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 7px;

    &::before {
      content: "";
      position: absolute;
      top:6px;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 3px solid #ffa500;
      border-left: 3px solid #ffa500;
      transform: rotate(-45deg);
    }
  }
}