.footer {
  background-color: rgba(255,255,255,.3);
  grid-area: footer;
  border-left: 2px solid #fff;
  padding: 30px 0;

  &__ls {
    margin-bottom: 30px;
  }

  &__it:not(:last-child) {
    margin-bottom: 30px;
  }

  &__link {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    transition: color .2s ease-in-out;
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .footer {
    &__ls {
      display: flex;
    }
    &__it:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}
@media (max-width: 600px) {
  .footer {
    &__link {
      font-size: 18px;
      line-height: 26px;
    }
    &__text {
      font-size: 14px;
    }
  }
}