.header {
  grid-area: header;
  border-right: 2px solid #fff;
  padding: 30px 0;
  background-color: rgba(255,255,255,.3);

  &__logo {
    display: inline-block;
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -10px;
    margin-bottom: 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__link {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    transition: color .2s ease-in-out;
  }
}
.burger {
  display: none;
position: relative;
width: 25px;
height: 25px;
background-color: transparent;
&__line {
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 3px;
background-color: black;
transform: translateY(-50%);
transition: all .2s ease-in-out;
}
&::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 3px;
background-color: black;
transition: all .2s ease-in-out;
}
&::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 3px;
background-color: black;
transition: all .2s ease-in-out;
}
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 90px;
    &__logo {
      letter-spacing: 0;
      writing-mode: horizontal-tb;
      text-orientation: inherit;
    }
    &__list {
      display: flex;
    }
    &__item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .header {
    margin-bottom: 30px;
    &__link {
      font-size: 18px;
      line-height: 26px;
    }
  }
}