* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: opensans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans-Bold.woff) format("woff")
}

@font-face {
  font-family: opensans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans-Regular"), url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff")
}

@font-face {
  font-family: opensans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("OpenSans-Light"), url(../fonts/OpenSans-Light.woff2) format("woff2"), url(../fonts/OpenSans-Light.woff) format("woff")
}

:root {
  --black: #000000;
  --white: #ffffff;
  --hover: #7B68EE;
  --active: #4169E1
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #65ac5e
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: opensans;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  main:not(:last-child) {
    margin-bottom: 45px
  }
}

@media (max-width:600px) {
  main:not(:last-child) {
    margin-bottom: 30px
  }
}

.head {
  padding: 35px 0;
  background-color: green
}

@media (max-width:991px) {
  .head {
    padding: 30px 0
  }
}

@media (max-width:600px) {
  .head {
    padding: 20px 0
  }
}

.head__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:991px) {
  .head__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0d3304;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.head__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .head__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.head__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.head__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.head__logo {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  padding: 5px 0
}

.head__logo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #fff
}

.head__logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 2px;
  background-color: #fff
}

@media (max-width:991px) {
  .head__logo {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .head__logo {
    font-size: 20px
  }
}

.head__logo_menu {
  display: none;
  margin-right: auto;
  margin-bottom: 120px
}

@media (max-width:991px) {
  .head__logo_menu {
    display: inline-block
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 60px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (any-hover:hover) {
  .nav__link:hover {
    opacity: .6
  }
}

.nav__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

@media (max-width:991px) {
  .nav__link {
    font-size: 22px
  }
}

.burger {
  display: none;
  position: relative;
  width: calc(45px + 7 * ((100vw - 320px)/ 1600));
  height: calc(19px + 7 * ((100vw - 320px)/ 1600));
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: block
  }
}

.burger__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff
}

.burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.hero:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .hero:not(:last-child) {
    margin-bottom: 45px
  }
}

@media (max-width:600px) {
  .hero:not(:last-child) {
    margin-bottom: 30px
  }
}

.hero__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 600px
}

@media (max-width:1200px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 100px
  }
}

@media (max-width:600px) {
  .hero__content {
    min-height: 400px
  }
}

.hero__image {
  position: relative;
  padding-bottom: 28%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 600px;
  flex: 0 1 600px
}

@media (max-width:1200px) {
  .hero__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    max-width: 600px;
    padding-bottom: 35%
  }
}

@media (max-width:768px) {
  .hero__image {
    padding-bottom: 55%
  }
}

@media (max-width:400px) {
  .hero__image {
    padding-bottom: 75%
  }
}

.hero__image img {
  position: absolute;
  top: 0;
  left: 9;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.hero__body {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 800px;
  flex: 0 1 800px
}

@media (max-width:1200px) {
  .hero__body {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.hero__title {
  font-size: 58px;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center
}

@media (max-width:1440px) {
  .hero__title {
    font-size: 50px
  }
}

@media (max-width:991px) {
  .hero__title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .hero__title {
    font-size: 30px
  }
}

.hero__title:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .hero__title:not(:last-child) {
    margin-bottom: 35px
  }
}

@media (max-width:600px) {
  .hero__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.hero__text {
  color: #fff;
  font-weight: 400;
  line-height: 1.4;
  font-size: 24px;
  text-align: center
}

@media (max-width:991px) {
  .hero__text {
    font-size: 20px
  }
}

@media (max-width:600px) {
  .hero__text {
    font-size: 18px
  }
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  min-height: 60px;
  background-color: green;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .hero__link {
    width: 180px;
    min-height: 50px;
    font-size: 20px
  }
}

@media (max-width:600px) {
  .hero__link {
    font-size: 18px;
    width: 160px;
    min-height: 40px
  }
}

@media (any-hover:hover) {
  .hero__link:hover {
    color: green;
    background-color: #fff
  }
}

.hero__link:active {
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .games:not(:last-child) {
    margin-bottom: 45px
  }
}

@media (max-width:600px) {
  .games:not(:last-child) {
    margin-bottom: 30px
  }
}

.games__title {
  font-size: 40px;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase
}

@media (max-width:991px) {
  .games__title {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .games__title {
    font-size: 26px
  }
}

.games__title:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .games__title:not(:last-child) {
    margin-bottom: 45px
  }
}

@media (max-width:600px) {
  .games__title:not(:last-child) {
    margin-bottom: 30px
  }
}

.games__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px 20px
}

@media (max-width:991px) {
  .games__list {
    row-gap: 20px
  }
}

@media (max-width:600px) {
  .games__list {
    row-gap: 15px
  }
}

.games__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 450px;
  flex: 0 0 450px
}

@media (max-width:991px) {
  .games__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px
  }
}

@media (max-width:400px) {
  .games__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.games__image {
  height: 300px
}

.games__image a {
  display: block;
  width: 100%;
  height: 100%
}

.games__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.games__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  min-height: 60px;
  background-color: green;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .games__link {
    min-height: 50px;
    font-size: 20px
  }
}

@media (max-width:600px) {
  .games__link {
    font-size: 18px;
    min-height: 40px
  }
}

@media (any-hover:hover) {
  .games__link:hover {
    color: green;
    background-color: #fff
  }
}

.games__link:active {
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.benefits:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .benefits:not(:last-child) {
    margin-bottom: 45px
  }
}

@media (max-width:600px) {
  .benefits:not(:last-child) {
    margin-bottom: 30px
  }
}

.benefits__title {
  font-size: 40px;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase
}

@media (max-width:991px) {
  .benefits__title {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .benefits__title {
    font-size: 26px
  }
}

.benefits__title:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .benefits__title:not(:last-child) {
    margin-bottom: 45px
  }
}

@media (max-width:600px) {
  .benefits__title:not(:last-child) {
    margin-bottom: 30px
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px
}

@media (max-width:600px) {
  .benefits__list {
    gap: 15px
  }
}

.benefits__item {
  padding: 20px;
  background-color: green;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 450px;
  flex: 0 0 450px
}

@media (max-width:991px) {
  .benefits__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px
  }
}

@media (max-width:400px) {
  .benefits__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.benefits__subtitle {
  font-size: 28px;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
  text-align: center
}

@media (max-width:991px) {
  .benefits__subtitle {
    font-size: 24px
  }
}

@media (max-width:600px) {
  .benefits__subtitle {
    font-size: 20px
  }
}

.benefits__subtitle:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:600px) {
  .benefits__subtitle:not(:last-child) {
    margin-bottom: 15px
  }
}

.benefits__text {
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  font-weight: 400
}

@media (max-width:600px) {
  .benefits__text {
    font-size: 16px
  }
}

.no-webp .about {
  background-image: url(../img/about.png)
}

.about {
  padding: 70px 0;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6)
}

.about:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .about:not(:last-child) {
    margin-bottom: 45px
  }
}

@media (max-width:600px) {
  .about:not(:last-child) {
    margin-bottom: 30px
  }
}

.about__title {
  position: relative;
  z-index: 2;
  font-size: 40px;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase
}

@media (max-width:991px) {
  .about__title {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .about__title {
    font-size: 26px
  }
}

.about__title:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .about__title:not(:last-child) {
    margin-bottom: 45px
  }
}

@media (max-width:600px) {
  .about__title:not(:last-child) {
    margin-bottom: 30px
  }
}

.about__content {
  position: relative;
  z-index: 2;
  min-height: 400px
}

.about__text {
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  max-width: 900px;
  margin: 0 auto;
  text-align: center
}

@media (max-width:991px) {
  .about__text {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .about__text {
    font-size: 16px
  }
}

.about__text:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:600px) {
  .about__text:not(:last-child) {
    margin-bottom: 15px
  }
}

.footer {
  background-color: green;
  padding: 30px 0 60px 0
}

.footer__logo {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  padding: 5px 0;
  margin-bottom: 30px
}

.footer__logo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #fff
}

.footer__logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 2px;
  background-color: #fff
}

@media (max-width:991px) {
  .footer__logo {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .footer__logo {
    font-size: 20px;
    margin-bottom: 20px
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 60px
}

@media (max-width:991px) {
  .footer__list {
    gap: 15px 50px
  }
}

@media (max-width:600px) {
  .footer__list {
    gap: 10px 40px
  }
}

.footer__link {
  display: inline-block;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  font-weight: 400;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:991px) {
  .footer__link {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .footer__link {
    font-size: 14px
  }
}

@media (any-hover:hover) {
  .footer__link:hover {
    opacity: .6
  }
}

.footer__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px
}

@media (max-width:600px) {
  .footer__text {
    font-size: 14px;
    margin-bottom: 20px
  }
}

.terms {
  margin-top: 50px
}

@media (max-width:991px) {
  .terms {
    margin-top: 40px
  }
}

@media (max-width:600px) {
  .terms {
    margin-top: 30px
  }
}

.terms h1 {
  font-size: 32px;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
  text-align: center
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 26px;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
  text-align: center
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 18px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-align: center
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 16px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul {
  text-align: center
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  font-weight: 300
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 14px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.game {
  margin-top: 50px
}

@media (max-width:991px) {
  .game {
    margin-top: 40px
  }
}

@media (max-width:600px) {
  .game {
    margin-top: 30px
  }
}

.game__content {
  height: 800px
}

@media (max-width:991px) {
  .game__content {
    height: 450px
  }
}

@media (max-width:600px) {
  .game__content {
    height: 350px
  }
}

.game__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 540px;
  background-color: green;
  border-radius: 5px;
  z-index: 2;
  padding: 35px 25px
}

@media (max-width:991px) {
  .popup__body {
    padding: 25px 15px
  }
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center
}

@media (max-width:991px) {
  .popup__text {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .popup__text {
    margin-bottom: 20px;
    font-size: 16px
  }
}

.popup__form-bottom {
  text-align: center
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  min-height: 60px;
  background-color: #fff;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #008000;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .popup__button {
    width: 180px;
    min-height: 50px;
    font-size: 20px
  }
}

@media (max-width:600px) {
  .popup__button {
    font-size: 18px;
    width: 160px;
    min-height: 40px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    color: #fff;
    background-color: #008000
  }
}

.popup__button:active {
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .about {
  background-image: url(../img/about.webp)
}