.privacy {
  margin-bottom: 70px;
  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
    margin-bottom: 35px;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
    margin-bottom: 35px;
  }

  &__text {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
    & span {
      display: block;
    }
  }
}


@media (max-width: 600px) {
  .privacy {
    &__container {
      padding: 0 15px;
    }
    &__text {
      font-size: 18px;
      line-height: 28px;
    }
  }
}