.about {
  margin: 270px 0 170px 0;
}
@media (max-width: 1024px) {
  .about {
    margin: 150px 0 100px 0;
  }
}
@media (max-width: 600px) {
  .about {
    margin: 100px 0 60px 0;
  }
}
.about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 95px;
}
@media (max-width: 1024px) {
  .about__top {
    margin-bottom: 75px;
  }
}
@media (max-width: 600px) {
  .about__top {
    margin-bottom: 45px;
  }
}
.about__top-descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66.22%;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .about__top-descr {
    width: 100%;
  }
}
.about__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FF6737;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .about__title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .about__title {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 20px;
  }
}
.about__top-text {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .about__top-text {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 600px) {
  .about__top-text {
    font-size: 20px;
    line-height: 24px;
  }
}
.about__top-text:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .about__top-text:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) {
  .about__top-text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.about__top-image {
  position: relative;
  width: 31.6%;
  height: 550px;
  overflow: hidden;
  text-align: center;
}

@media (max-width: 1300px) {
  .about__top-image {
    height: 35%;
  }
}
@media (max-width: 1024px) {
  .about__top-image {
    height: 311px;
  }
}
@media (max-width: 768px) {
  .about__top-image {
    display: none;
  }
}
.about__top-image::before {
  content: "";
  position: absolute;
  top: -45px;
  right: -20px;
  width: 100%;
  height: 75%;
  border-radius: 50%;
  background: -o-radial-gradient(50% 50%, 37.67% 37.67%, rgba(52, 125, 117, 0.874) 0%, rgba(52, 125, 117, 0) 100%);
  background: radial-gradient(37.67% 37.67% at 50% 50%, rgba(52, 125, 117, 0.874) 0%, rgba(52, 125, 117, 0) 100%);
  z-index: -1;
}
@media (max-width: 1024px) {
  .about__top-image::before {
    display: none;
  }
}
.about__top-image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.about__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FF6737;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .about__subtitle {
    font-size: 40px;
    line-height: 49px;
  }
}
@media (max-width: 600px) {
  .about__subtitle {
    font-size: 29px;
    line-height: 35px;
  }
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__item:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .about__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 75px;
  height: 93px;
  margin-right: 30px;
}
@media (max-width: 600px) {
  .about__icon {
    width: 67px;
    height: 67px;
    margin-right: 15px;
  }
}
.about__icon img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.about__item-descr {
  width: 80%;
}
.about__item-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #FF6737;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .about__item-title {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (max-width: 600px) {
  .about__item-title {
    font-size: 14px;
    line-height: 17px;
  }
}
.about__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .about__item-text {
    font-size: 21px;
    line-height: 25px;
  }
}
@media (max-width: 600px) {
  .about__item-text {
    font-size: 14px;
    line-height: 17px;
  }
}