.footer {
  padding: 30px 0 60px 0;
  background-color: #2A164D;
}
@media (max-width: 865px) {
  .footer {
    padding: 20px 0 30px 0;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 865px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.footer__left {
  width: 30%;
}
@media (max-width: 1200px) {
  .footer__left {
    width: 35%;
  }
}
@media (max-width: 970px) {
  .footer__left {
    width: 40%;
  }
}
@media (max-width: 865px) {
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }
}
.footer__wrapper-logo {
  width: 309px;
  height: 107px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .footer__wrapper-logo {
    max-width: 309px;
  }
}
.footer__logo {
  display: block;
  width: 100%;
  height: 100%;
}
.footer__logo img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.footer__warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 865px) {
  .footer__warning {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__warning-icon {
  width: 57px;
  height: 55px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 49px;
}
.footer__warning-icon img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
@media (max-width: 400px) {
  .footer__warning-icon {
    width: 47px;
    height: 45px;
    margin-right: 25px;
  }
}
.footer__warning-text {
  width: 270px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 400px) {
  .footer__warning-text {
    width: 100%;
    font-size: 11px;
    line-height: 13px;
  }
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30%;
}
@media (max-width: 1200px) {
  .footer__right {
    width: 35%;
  }
}
@media (max-width: 970px) {
  .footer__right {
    width: 40%;
  }
}
@media (max-width: 865px) {
  .footer__right {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__wrapper-ls:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 400px) {
  .footer__wrapper-ls:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.footer__name-ls {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FF815A;
  margin-bottom: 40px;
}
@media (max-width: 400px) {
  .footer__name-ls {
    margin-bottom: 20px;
  }
}
.footer__ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__item:not(:last-child) {
  margin-bottom: 17px;
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: #FB834F;
  }
}

.footer-link-active {
  color: #FB834F;
}

.footer-links {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}