.game {
  margin-bottom: 72px;
}
@media (max-width: 1024px) {
  .game {
    margin-bottom: 65px;
  }
}
@media (max-width: 600px) {
  .game {
    margin-bottom: 45px;
  }
}
.game__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #FF6737;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .game__title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .game__title {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}
.game__body {
  margin: 170px 0;
}
@media (max-width: 1024px) {
  .game__body {
    margin: 140px 0 100px 0;
  }
}
@media (max-width: 600px) {
  .game__body {
    margin: 100px 0 60px 0;
  }
}
.game__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px 18px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .game__list {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .game__list {
    margin-bottom: 30px;
  }
}
.game__item {
  width: 454px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
@media (max-width: 600px) {
  .game__item {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .game__item:hover {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  .game__item:hover .game__image::before {
    opacity: 1;
  }
  .game__item:hover .game__play {
    opacity: 1;
  }
}
.game__wrapper-name {
  text-align: center;
  margin-bottom: 15px;
}
.game__name {
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .game__name {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 600px) {
  .game__name {
    font-size: 19px;
    line-height: 23px;
  }
}
@media (any-hover: hover) {
  .game__name:hover {
    color: #FF6737;
  }
}
.game__image {
  position: relative;
  border-radius: 26px;
  overflow: hidden;
  height: 424px;
}
@media (max-width: 1024px) {
  .game__image {
    height: 418px;
  }
}
@media (max-width: 600px) {
  .game__image {
    height: 347px;
  }
}
.game__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.game__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 61, 61, 0.43);
  z-index: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.game__play {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  padding: 13.5px 36px;
  color: #E6E6E6;
  background-color: #FF6737;
  border-radius: 14px;
  -webkit-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
}
@media (max-width: 1024px) {
  .game__play {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
  }
}
@media (any-hover: hover) {
  .game__play:hover {
    background-color: #d4532c;
  }
}
@media (any-hover: hover) and (max-width: 1024px) {
  .game__play:hover {
    background-color: transparent;
  }
}
.game__wrapper-all {
  text-align: center;
}
.game__all {
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  padding: 13.5px 36px;
  color: #ffffff;
  background-color: #FF6737;
  border-radius: 14px;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .game__all {
    font-size: 21px;
    line-height: 31px;
  }
}
@media (max-width: 600px) {
  .game__all {
    font-size: 17px;
    line-height: 27px;
  }
}
@media (any-hover: hover) {
  .game__all:hover {
    background-color: #d4532c;
  }
}

.all-games {
  background-color: #103555;
}

.all-games .game {
  margin: 0;
}

.game__game-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 71px;
  text-align: center;
  text-transform: uppercase;
  color: #FF6737;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .game__game-title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .game__game-title {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 20px;
  }
}

.play {
  margin: 170px 0 100px 0;
}
@media (max-width: 1024px) {
  .play {
    margin: 140px 0 75px 0;
  }
}
@media (max-width: 600px) {
  .play {
    margin: 100px 0 60px 0;
  }
}
.play__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #FF6737;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .play__title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .play__title {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}
.play__iframe {
  width: 100%;
  height: 600px;
}
@media (max-width: 768px) {
  .play__iframe {
    height: 300px;
  }
}
.play__iframe iframe {
  width: 100%;
  height: 100%;
}