.politicks {
  margin: 170px 0 100px 0;
}
@media (max-width: 1024px) {
  .politicks {
    margin: 140px 0 75px 0;
  }
}
@media (max-width: 600px) {
  .politicks {
    margin: 100px 0 60px 0;
  }
}
.politicks h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 52px;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .politicks h1 {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) {
  .politicks h1 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
  }
}
.politicks h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .politicks h2 {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) {
  .politicks h2 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}
.politicks p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .politicks p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 600px) {
  .politicks p {
    font-size: 16px;
    line-height: 26px;
  }
}
.politicks p:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .politicks p:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .politicks p:not(:last-child) {
    margin-bottom: 20px;
  }
}
.politicks ul:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .politicks ul:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .politicks ul:not(:last-child) {
    margin-bottom: 20px;
  }
}
.politicks li {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .politicks li {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 600px) {
  .politicks li {
    font-size: 14px;
    line-height: 24px;
  }
}
.politicks li:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .politicks li:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .politicks li:not(:last-child) {
    margin-bottom: 20px;
  }
}