.about {
  margin-bottom: 100px;
  @media (max-width: 1024px) {
    margin-bottom: 60px;
  }
  @media (max-width: 600px) {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 25px;
    }
    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  &__text-wrapper {
    padding: 30px 15px;
    border: 2px solid #ffffff;
    @media (any-hover: hover) {
    &:hover {
      & .about__text {
        opacity: 1;
      }
    }
    }
  }


  &__text {
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    opacity: .1;
    transition: opacity .2s ease-in-out;
    @media (max-width: 1024px) {
      font-size: 22px;
      line-height: 28px;
      opacity: 1;
    }
    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 26px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 1024px) {
        margin-bottom: 25px;
      }
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }
}