@font-face {
  font-family: 'kantumruy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kantumruy-Regular'),
       url("../../fonts/Kantumruy-Regular.woff2") format("woff2"),
       url("../../fonts/Kantumruy-Regular.woff") format("woff");
}

@font-face {
  font-family: 'koho';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('KoHo-Bold'),
       url("../../fonts/KoHo-Bold.woff2") format("woff2"),
       url("../../fonts/KoHo-Bold.woff") format("woff");
}