.about {
  padding: 30px 0;
  background-color: #0B598D;
  margin-bottom: 90px;

  @media (max-width: 991px) {
    margin-bottom: 83px;
    padding: 50px 0;
  }

  @media (max-width: 600px) {
    margin-bottom: 60px;
    padding: 20px 0;
  }


  &__title {
    font-family: 'kronaone';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;

    @media (max-width: 991px) {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 20px;
    }
  }

  &__content {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 25px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 27px;
    }
  }
}

.container {}