.hero {
  background-image: url(../../img/hero/image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 90px;

  @media (max-width: 991px) {
    margin-bottom: 83px;
    background-image: url(../../img/hero/image-2.jpg);
  }

  @media (max-width: 600px) {
    margin-bottom: 60px;
    background-image: url(../../img/hero/image-3.jpg);
  }

  &__container {
    min-height: 746px;

    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 863px;
    }

    @media (max-width: 600px) {
      min-height: 669px;
    }
  }

  &__content {
    padding-top: 165px;
    max-width: 550px;
    margin-left: auto;
    @media (max-width: 991px) {
      padding-top: 0;
    }

    @media (max-width: 600px) {}
  }

  &__strong {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      margin-bottom: 15px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__title {
    font-family: 'kronaone';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;

    @media (max-width: 991px) {
      font-size: 44px;
      line-height: 55px;
      margin-bottom: 202px;
    }

    @media (max-width: 600px) {
      font-size: 34px;
      line-height: 42px;
      margin-bottom: 60px;
    }
  }

  &__wrapper-link {
    text-align: right;
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #FFFFFF;
    background-color: #0B598D;
    border-radius: 9px;
    padding: 22px 61.5px;
    transition: box-shadow .2s ease-in-out;
    @media (max-width: 991px) {
      padding: 22px 75.5px;
    }
    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 44px;
      padding: 22px 55.5px;
    }
    @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 3px 5px #ffffff;
    }
    }
  }
}