.lists-gameplay {
  margin-bottom: 120px;
  &__title {
    font-size: 34px;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__prev {
    align-self: flex-start;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
    transition: all .2s ease-in-out;
    background-color: rgba(0,0,0, .5);
    border: 2px solid transparent;
    padding: 15px 32px;
    border-radius: 100px;
    cursor: pointer;
    animation-name: border-link;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-left: 7%;
  }
  &__next {
    align-self: flex-start;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
    transition: all .2s ease-in-out;
    background-color: rgba(0,0,0, .5);
    border: 2px solid transparent;
    padding: 15px 32px;
    border-radius: 100px;
    cursor: pointer;
    animation-name: border-link;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-right: 7%;
  }
}

.gameplay-swiper {
  overflow: hidden;

  &__slide {
    display: flex;
    border: 2px solid transparent;
    border-radius: 100px;
    padding: 15px;
    animation-name: border-link;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27%;
    height: 100%;
    align-self: center;
    margin-right: 15px;
    & img {
      max-width: 100%;
      height: 100%;
      border-radius: 100px;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-left: 2px solid #fff;
    padding: 15px 15px 15px 30px;
  }

  &__title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 50px;
    flex: 1 1 auto;
  }
  &__link {
    align-self: flex-start;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
    transition: all .2s ease-in-out;
    background-color: rgba(0,0,0, .5);
    border: 2px solid transparent;
    padding: 15px 32px;
    border-radius: 100px;
    cursor: pointer;
    animation-name: border-link;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
}

.swiper-button-disabled {
  opacity: .5;
  &:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
}


@keyframes border-link {
  0% {
    border-color: red;
  }
  25% {
    border-color: aqua;
  }
  50% {
    border-color: slateblue;
  }
  75% {
    border-color: darkgreen;
  }
  100% {
    border-color: white;
  }
}

@media (max-width: 1024px) {
  .gameplay-swiper {
    &__image {
      width: 40%;
    }
  
    &__descr {
      width: 57%;
    }
  }
}

@media (max-width: 768px) {
  .gameplay-swiper {
    &__slide {
      flex-direction: column;
    }
    &__image {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
    &__descr {
      width: 100%;
      border-top: 2px solid #fff;
      border-left: none;
      padding: 25px;
    }
  }
}

@media (max-width: 600px)  {
  .gameplay-swiper  {
    &__container {
      padding: 0 15px;
    }
  }
}