.lists-head {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 3;

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    font-size: 42px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    animation-name: color;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: opacity .2s ease-in-out;
    margin-right: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__btn {
    align-self: flex-start;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
    transition: all .2s ease-in-out;
    background-color: rgba(0,0,0, .5);
    border: 2px solid transparent;
    padding: 15px 32px;
    border-radius: 100px;
    cursor: pointer;
    animation-name: border-link;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
}

.user {
  display: flex;
  align-items: center;
  margin-left: auto;
  &__prof {
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
    margin-right: 10px;
  }
  &__img {
    border-radius: 100px;
    background-color: #fff;
  }
}

@keyframes border-link {
  0% {
    border-color: red;
  }
  25% {
    border-color: aqua;
  }
  50% {
    border-color: slateblue;
  }
  75% {
    border-color: darkgreen;
  }
  100% {
    border-color: white;
  }
}

@keyframes color {
  0% {
    color: red;
  }
  25% {
    color: aqua;
  }
  50% {
    color: slateblue;
  }
  75% {
    color: darkgreen;
  }
  100% {
    color: white;
  }
}

@media (max-width: 800px) {
  .lists-head {
    &__container {
      display: grid;
      grid-template: repeat(2, auto) / repeat(12, minmax(0,60px));
      grid-template-areas: "logo logo logo logo logo logo logo logo user user user user" "nav nav nav nav nav nav nav nav nav nav nav nav";
      gap: 25px 5px;
    }
    &__logo {
      font-size: 38px;
      grid-area: logo;
      // text-align: center;
    }
    &__nav {
      grid-area: nav;
    }
    &__btn {
      padding: 12px 22px;
    }
  }
  .user {
    grid-area: user;
  }
}


@media (max-width: 600px) {
  .lists-head {
    background-color: #000;
    &__container {
      flex-direction: column;
      padding: 0 15px;
    }
    &__nav {
      justify-self: center;
    }
    &__logo {
      font-size: 26px;
      margin-right: 0;
    }
  }
}