.lists-hero {
  margin-top: 150px;
  margin-bottom: 100px;
  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    border: 2px solid transparent;
    border-radius: 100px;
    animation-name: border;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: opacity .2s ease-in-out;
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 10px;
  }

  &__text {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    width: 90%;
    padding: 0 10px;
  }
}

@keyframes border {
  0% {
    border-color: red;
  }
  25% {
    border-color: aqua;
  }
  50% {
    border-color: slateblue;
  }
  75% {
    border-color: darkgreen;
  }
  100% {
    border-color: white;
  }
}

@media (max-width: 600px) {
  .lists-hero {
    margin-top: 150px;
    &__container {
      padding: 0 15px;
    }
    &__title {
      font-size: 24px;
      margin-bottom: 40px;
      padding: 0 15px;
    }
    &__text {
      font-size: 18px;
      width: 100%;
      padding: 0 15px;
    }
  }
}