@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter-Regular'),
       url("../../fonts/Inter-Regular.woff2") format("woff2"),
       url("../../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Moul';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Moul-Regular'),
       url("../../fonts/Moul-Regular.woff2") format("woff2"),
       url("../../fonts/Moul-Regular.woff") format("woff");
}

@font-face {
  font-family: 'MPLUS1p';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MPLUS1p-Regular'),
       url("../../fonts/MPLUS1p-Regular.woff2") format("woff2"),
       url("../../fonts/MPLUS1p-Regular.woff") format("woff");
}


@font-face {
  font-family: 'MPLUS1p';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('MPLUS1p-ExtraBold'),
       url("../../fonts/MPLUS1p-ExtraBold.woff2") format("woff2"),
       url("../../fonts/MPLUS1p-ExtraBold.woff") format("woff");
}