@font-face {
  font-family: 'BalooThambi2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('BalooThambi2-Regular'),
       url("../../fonts/BalooThambi2-Regular.woff2") format("woff2"),
       url("../../fonts/BalooThambi2-Regular.woff") format("woff");
}

@font-face {
  font-family: 'LilitaOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('LilitaOne-Regular'),
       url("../../fonts/LilitaOne-Regular.woff2") format("woff2"),
       url("../../fonts/LilitaOne-Regular.woff") format("woff");
}
