@font-face {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Commissioner-Regular'),
       url("../../fonts/Commissioner-Regular.woff2") format("woff2"),
       url("../../fonts/Commissioner-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Moul';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Moul-Regular'),
       url("../../fonts/Moul-Regular.woff2") format("woff2"),
       url("../../fonts/Moul-Regular.woff") format("woff");
}