.hero {
  position: relative;
  z-index: 2;
  &:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-bottom: 70px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 800px;

    @media (max-width: 991px) {
      min-height: 600px;
    }

    @media (max-width: 600px) {
      min-height: 400px;
    }
  }

  &__body {
    // max-width: 600px;
    text-align: center;
    padding: 30px 20px;
    background-color: rgb(202, 202, 202,.5);
    @media (max-width: 991px) {
      padding: 20px 15px;
    }
  }

  &__title {
    font-size: 46px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 36px;
    }

    @media (max-width: 600px) {
      font-size: 26px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;

      @media (max-width: 991px) {
        margin-bottom: 35px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 21px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;

      @media (max-width: 991px) {
        margin-bottom: 35px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__wrapper-link {
    text-align: center;
  }

  &__link {
    display: inline-block;
    padding: 15px 50px;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    background-color: #4682b4;
    transition: background-color .2s ease-in-out;
    border-radius: 15px;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #0f3e64;
      }
    }

    &:active {
      background-color: #0f3e64;
      transition-duration: .1s;
    }
  }
}