.slots {
  position: relative;
  z-index: 2;
  & .container {
    padding: 30px 25px;
    background-color: rgb(202, 202, 202,.5);
    @media (max-width: 991px) {
      padding: 25px 20px;
    }
    @media (max-width: 600px) {
      padding: 20px 15px;
    }
  }
  &:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-bottom: 70px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }
  &__title {
    font-size: 32px;
    line-height: 1.2;
    color: #fff;
    font-weight: 700;
    @media (max-width: 991px) {
      font-size: 26px;
    }
    @media (max-width: 600px) {
      font-size: 22px;
    }
    &:not(:last-child) {
      margin-bottom: 50px;
      @media (max-width: 991px) {
        margin-bottom: 35px;
      }
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: 991px) {
      row-gap: 30px;
    }
    @media (max-width: 600px) {
      row-gap: 15px;
    }
  }

  &__item {
    flex: 0 0 450px;
    @media (max-width: 991px) {
      flex: 0 0 400px;
    }
    @media (max-width: 500px) {
      flex: 0 1 100%;
    }
  }

  &__image {
    height: 300px;
    margin-bottom: 20px;
    @media (max-width: 600px) {
      height: 250px;
      margin-bottom: 10px;
    }
    & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    }
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    text-align: center;
    background-color: #4682b4;
    transition: background-color .2s ease-in-out;
    @media (max-width: 600px) {
          font-size: 16px;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: #0f3e64;
      }
    }

    &:active {
      background-color: #0f3e64;
      transition-duration: .1s;
    }
  }
}


.slot {
  position: relative;
  z-index: 2;
  &__name {
    font-size: 32px;
    line-height: 1.2;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 991px) {
      font-size: 26px;
    }
    @media (max-width: 600px) {
      font-size: 22px;
    }
    &:not(:last-child) {
      margin-bottom: 50px;
      @media (max-width: 991px) {
        margin-bottom: 35px;
      }
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__game {
    width: 100%;
    height: 700px;
    @media (max-width: 991px) {
      height: 550px;
    }
    @media (max-width: 600px) {
      height: 400px;
    }
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}