@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
  src: local('Inter'), local('Inter'), url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf');
  src: local('Inter'), local('Inter'), url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.bankLetterWrp {
  position: relative;
}
.bankLetter-img {
  width: 100%;
}
.bankLetter-periodWrp {
  position: relative;
}
.bankLetter-period {
  font-family: Inter;
  font-size: calc(4px + 2.5 * (100vw / 620));
  color: transparent;
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
  position: absolute;
  top: 42.5%;
  left: 9.5%;
}
.bankLetter-start {
  font-family: Inter;
  font-size: calc(6px + 2 * (100vw / 620));
	color: transparent;
  text-shadow: 0 0 1px rgba(169, 0, 0, 1);
  font-weight: 700;
  position: absolute;
  top: 49%;
  left: 9.5%;
}
.bankLetter-end {
  font-family: Inter;
  font-weight: 700;
	color: transparent;
  text-shadow: 0 0 1px rgba(69, 88, 103, 1);
  font-size: calc(4px + 2.5 * (100vw / 620));
  position: absolute;
  top: 69.2%;
  left: 9.5%;
}
.bankLetter-date {
  font-family: Inter;
  font-size: calc(3.5px + 2.5 * (100vw / 620));
	color: transparent;
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
  position: absolute;
  top: 76.2%;
  left: 8.5%;
}

@media all and (max-width: 1200px) {
  .bankLetter-period {
    font-size: calc(5px + 2.5 * (100vw / 620));
    top: 42.5%;
  }
  .bankLetter-start {
    font-size: calc(7px + 2 * (100vw / 620));
    top: 49.2%;
  }
  .bankLetter-end {
    font-size: calc(6px + 2.5 * (100vw / 620));
    top: 69.2%;
  }
  .bankLetter-date {
    font-size: calc(6px + 2.5 * (100vw / 620));
    top: 76.2%;
  }
}
@media all and (max-width: 1023px) {
  .bankLetter-period {
    top: 42.7%;
  }
  .bankLetter-start {
    font-size: calc(8px + 2 * (100vw / 620));
    top: 49.2%;
  }
  .bankLetter-end {
    top: 69.3%;
  }
  .bankLetter-date {
    top: 76.3%;
  }
}
@media all and (max-width: 455px) {
  .bankLetter-period {
		text-shadow: 0 0 0.75px rgba(0, 0, 0, 1);
    top: 42.5%;
  }
  .bankLetter-start {
		text-shadow: 0 0 0.75px rgba(169, 0, 0, 1);
    font-size: calc(7px + 2 * (100vw / 620));
    top: 48.8%;
  }
  .bankLetter-end {
		text-shadow: 0 0 1px rgba(69, 88, 103, 1);
		font-size: calc(5.5px + 2.5 * (100vw / 620));
    top: 69.1%;
  }
  .bankLetter-date {
		text-shadow: 0 0 0.75px rgba(0, 0, 0, 1);
		font-size: calc(5px + 2.5 * (100vw / 620));
    top: 76%;
  }
}
@media all and (max-width: 449px) {
  .bankLetter-period {
    top: 42.4%;
  }
  .bankLetter-start {
    font-size: calc(6px + 2 * (100vw / 620));
    top: 48.9%;
  }
  .bankLetter-end {
    top: 68.9%;
  }
  .bankLetter-date {
    top: 75.9%;
  }
}
@media all and (max-width: 413px) {
  .bankLetter-period {
    top: 42.2%;
  }
  .bankLetter-start {
    top: 48.7%;
  }
  .bankLetter-end {
    top: 68.7%;
  }
  .bankLetter-date {
    top: 75.7%;
  }
}
