.comments-mainTitle {
  width: 100%;
  text-align: left;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  border-bottom: 1px solid #eaeeef;
}

.comment-block {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.comment-block:nth-of-type(1) {
  margin-top: 15px;
}

.comment-img {
  border-radius: 50%;
  display: block;
  width: 41px;
  height: 41px;
}

.comment-mainPart {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(100% - 57px);
}

.comment-mainPart p {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #323232;
  margin-bottom: 0;
}

.comment-mainPart p span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #cccccc;
}

.comment-mainPart .comment-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #323232;
}

.comment-like {
  height: 21px;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey);
}

.comment-like span {
  margin: 0 4px;
}

.comment-like {
  height: 21px;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey);
}

.selected-rew {
  font: inherit !important;
  background: inherit;
  color: #0197EB !important;
  text-decoration: none;
  cursor: pointer;
}


.blue-text {
  color: var(--blue-color);
}
