.footer {
  padding: 40px 0;
  background-color: #572109;

  @media (max-width: 991px) {
    padding: 30px 0;
  }

  &__container {
    display: flex;

    @media (max-width: 991px) {
      display: block;
    }
  }

  &__main-content {
    max-width: 588px;
    margin-left: auto;
    margin-right: 71px;
    @media (max-width: 991px) {
      margin: 0 auto 20px auto;
    }
  }

  &__wrapper-logo {
    max-width: 375px;
    height: 106px;
    margin: 0 auto 25px auto;

    @media (max-width: 991px) {
      max-width: 442px;
      height: 125px;
      margin: 0 auto 25px auto;
    }

    @media (max-width: 600px) {
      max-width: 327px;
      height: 92px;
    }
  }

  &__logo {
    display: block;
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 59px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    transition: color .2s ease-in-out;

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 19px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #9E4418;
      }
    }

    &:active {
      color: #9E4418;
    }
  }

  &__text {
    max-width: 335px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #FFFFFF;
    margin-top: auto;
    @media (max-width: 991px) {
      margin-top: 0;
      margin-left: auto;
    }
  }
}