.benefits {
  &:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-bottom: 75px;
    }

    @media (max-width: 600px) {
      margin-bottom: 70px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 44px;

      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    position: relative;
    flex: 0 0 545px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 20px 15px;
    overflow: hidden;
    @media (max-width: 991px) {
      flex: 0 0 665px;
    }
    @media (max-width: 680px) {
      flex: 0 0 100%;
      padding: 15px 10px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(194, 54, 143, 0.2);
      z-index: 1;
    }

    &_1 {
      background-image: url(../../img/benefits-1.png);
    }

    &_2 {
      background-image: url(../../img/benefits-2.png);
    }
  }

  &__subtitle {
    position: relative;
    z-index: 2;
    font-family: 'encodesanssc';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.25;
    color: #FFFFFF;
    @media (max-width: 991px) {
      font-size: 29px;
    }
    @media (max-width: 600px) {
      font-size: 26px;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.25;
    color: #FFFFFF;
    @media (max-width: 991px) {
      font-size: 24px;
    }
    @media (max-width: 600px) {
      font-size: 21px;
    }
  }
}