.terms {
  &:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-bottom: 75px;
    }

    @media (max-width: 600px) {
      margin-bottom: 70px;
    }
  }
  & h1 {
    font-family: 'encodesanssc';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.025em;
    color: #C2368F;
    @media (max-width: 991px) {
      font-size: 32px;
    }
    @media (max-width: 600px) {
      font-size: 22px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }
  & h2 {
    font-family: 'encodesanssc';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.025em;
    color: #C2368F;
    @media (max-width: 991px) {
      font-size: 32px;
    }
    @media (max-width: 600px) {
      font-size: 22px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }
  & p {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.04;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    @media (max-width: 991px) {
      font-size: 21px;
    }
    @media (max-width: 600px) {
      font-size: 17px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }
  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }
  & li {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.04;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    @media (max-width: 991px) {
      font-size: 19px;
    }
    @media (max-width: 600px) {
      font-size: 15px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }
}