.footer {
  padding: 20px 0;
  background-color: #3a3c42;
  @media (max-width: 1024px) {
    padding: 15px 0;
  }
  @media (max-width: 600px) {
    padding: 10px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper-logo {
    width: 300px;
    text-align: center;
    @media (max-width: 1024px) {
      width: 250px;
    }
    @media (max-width: 600px) {
      width: 200px;
    }
  }

  &__logo {
    display: block;
    text-transform: uppercase;
    color: transparent;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    font-style: normal;
    color: #ffffff;
    @media (max-width: 1024px) {
      font-size: 26px;
    }
    @media (max-width: 600px) {
      font-size: 20px;
    }
  }
}

@keyframes color-text {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  60% {
    background-size: 325%;
    background-position: -10em -4em;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}