.services {
  margin-bottom: 50px;
  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }
  @media (max-width: 600px) {
    margin-bottom: 30px;
  }

  &__container {
  }

  &__title {
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
    margin-bottom: 30px;
    text-align: right;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      font-size: 32px;
      line-height: 42px;
    }
    @media (max-width: 600px) {
      font-size: 26px;
      line-height: 36px;
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(auto-fit,minmax(300px, 1fr));
    gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    box-shadow: 0 3px 10px #000000;
    padding: 30px;
    @media (max-width: 600px) {
      padding: 20px;
    }
  }
  &__descr {
    flex:  1 1 auto;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 20px;
    @media (max-width: 1024px) {
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 15px;
    }
    @media (max-width: 600px) {
      font-size: 22px;
      line-height: 32px;
    }
  }

  &__text {
    display: grid;
    grid-template: auto / 40px 1fr;
    gap: 20px;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 26px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__num {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 50%;
    font-style: normal;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    background-color: rgba(255, 115, 0, 1);
    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__price {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
  }

  &__image {
    text-align: center;
    height: 576px;
    & img {
      max-width: 100%;
      height: 100%;
    }
  }
}
