:root {
  --black: #000000;
  --white: #ffffff;
  --hover: #7B68EE;
  --active: #4169E1;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding: 0 15px;
  }

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

body {
  background-color: #F3EFEF;
}

.page {
  font-family: 'hammersmithone';
  min-height: 100%;
  overflow: hidden;

  &__content {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      display: block;
    }
  }

  &__bottom {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    @media (max-width: 1200px) {
      width: 100%;
      padding-top: 0;
    }
  }
}

main {
  flex: 1 1 auto;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 680px;
  background-color: #0E2C97;
  border-radius: 10px;
  z-index: 2;
  padding: 45px 25px;

  @media (max-width: 700px) {
    width: 95%;
    padding: 25px 15px;
  }
}

.popup__form {
  width: 100%;
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px;
}

.popup__text {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.025em;
  color: #FFFFFF;
  margin-bottom: 20px;

  @media (max-width: 991px) {
    font-size: 19px;
    margin-bottom: 15px;
  }

  @media (max-width: 600px) {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.popup__form-bottom {
  text-align: center;
}

.popup__button {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.025em;
  color: #FFFFFF;
  background-color: transparent;
  padding: 14px 42px;
  background: radial-gradient(50% 555.56% at 50% 50%, #ECD300 0%, #E18A17 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 12px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;

  @media (max-width: 991px) {
    font-size: 19px;
    padding: 10px 40px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
    padding: 10px 30px;
  }
}

@media (any-hover: hover) {
  .popup__button:hover {
    color: #0E2C97;
  }
}

.popup__button:active {
  color: #0E2C97;
  transition-duration: .1s;
}