.footer {
  padding: 15px 0 67px 0;
  @media (max-width: 991px) {
    padding: 15px 0 56px 0;
  }
  @media (max-width: 600px) {
    padding: 15px 0 50px 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 26px;
    gap: 15px 81px;
    max-width: 1045px;
    margin: 0 auto;
    @media (max-width: 1660px) {
      gap: 15px 61px;
    }
    @media (max-width: 1440px) {
      gap: 15px 31px;
    }
    @media (max-width: 991px) {
      padding-top: 20px;
    }

    @media (max-width: 600px) {}

    &_top {
      gap: 15px 74px;
      padding-top: 0;
      padding-bottom: 39px;
      border-bottom: 1px solid #008FB2;
      @media (max-width: 1660px) {
        gap: 15px 51px;
      }
      @media (max-width: 1440px) {
        gap: 15px 31px;
      }
      @media (max-width: 991px) {
        padding-bottom: 20px;
      }

      @media (max-width: 600px) {}
    }
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    transition: color .2s ease;

    @media (max-width: 600px) {
      font-size: 14px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #003284;
      }
    }

    &:active {
      color: #003284;
      transition-duration: .1s;
    }
  }
}