.hero {
  background-image: url(../../img/hero/hero.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 991px) {
    background-image: url(../../img/hero/hero_2.svg);
  }
  @media (max-width: 600px) {
    background-image: url(../../img/hero/hero_3.svg);
  }
  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 600px) {
      margin-bottom: 70px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 867px;

    @media (max-width: 991px) {
      align-items: center;
      min-height: 753px;
    }

    @media (max-width: 600px) {
      min-height: 773px;
    }
  }

  &__body {
    max-width: 630px;
    padding-bottom: 136px;
    @media (max-width: 991px) {
      max-width: 525px;
      padding-bottom: 0;
    }
  }

  &__span {
    display: block;
    font-family: 'trebuchetms';
    font-weight: 700;
    font-size: 35px;
    line-height: 1.17;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 27px;
    }

    @media (max-width: 600px) {
      font-size: 21px;
    }
    &:not(:last-child) {
    margin-bottom: 10px;
    }
  }

  &__title {
    font-family: 'trebuchetms';
    font-weight: 700;
    font-size: 70px;
    line-height: 0.92;
    text-align: right;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 55px;
    }

    @media (max-width: 600px) {
      font-size: 38px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 991px) {
        margin-bottom: 40px;
      }
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 23px;
    line-height: 1.17;
    text-align: right;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}