.benefits {
  margin-bottom: 130px;
  @media (max-width: 991px) {
margin-bottom: 115px;
  }
  @media (max-width: 600px) {
margin-bottom: 80px;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 453px;
    background: radial-gradient(50% 293.42% at 50% 50%, #4DC4E9 0%, #0B5172 100%);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 48px;
    padding: 30px;

    @media (max-width: 991px) {
      width: 458px;
      padding: 25px;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__title {
    flex: 1 1 auto;
    font-family: 'candara';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 5px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 25px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 20px;
      line-height: 20px;
    }

    @media (max-width: 600px) {
      font-size: 15px;
      line-height: 15px;
    }
  }
}