.terms {
  margin: 150px 0;

  @media (max-width: 991px) {
    margin: 140px 0 100px 0;
  }

  @media (max-width: 600px) {
    margin: 100px 0 60px 0;
  }

  &__container {
    padding-left: 148px;
    @media (max-width: 991px) {
      padding: 0 15px;
    }

    @media (max-width: 600px) {
      padding: 0 10px;
    }
  }

  & h1 {
    font-family: 'candara';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 117.5%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #61C3FF;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      font-size: 27px;
      margin-bottom: 25px;
    }
    @media (max-width: 600px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  & h2 {
    font-family: 'candara';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 117.5%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #61C3FF;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      font-size: 27px;
      margin-bottom: 25px;
    }
    @media (max-width: 600px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  & p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 104%;
    letter-spacing: -0.025em;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 21px;
    }

    @media (max-width: 600px) {
      font-size: 17px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 991px) {
        margin-bottom: 17px;
      }

      @media (max-width: 600px) {
        margin-bottom: 13px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 991px) {
        margin-bottom: 17px;
      }

      @media (max-width: 600px) {
        margin-bottom: 13px;
      }
    }
  }

  & li {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 104%;
    letter-spacing: -0.025em;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 17px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 991px) {
        margin-bottom: 17px;
      }

      @media (max-width: 600px) {
        margin-bottom: 13px;
      }
    }
  }
}