.hero {
  margin-bottom: 80px;

  @media (max-width: 991px) {
    margin-bottom: 40px;
  }

  @media (max-width: 600px) {
    margin-bottom: 45px;
  }

  &__content {
    background-image: url(../../img/hero/image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 28px;
    min-height: 490px;
    padding: 75px 40px 40px 40px;

    @media (max-width: 991px) {
      background-image: url(../../img/hero/image_2.jpg);
      min-height: 388px;
      padding: 50px 20px 20px 20px;
    }

    @media (max-width: 600px) {
      background-image: url(../../img/hero/image_3.jpg);
      min-height: 376px;
      padding: 65px 15px 15px 15px;
    }
  }

  &__body {
    max-width: 650px;

    @media (max-width: 991px) {
      max-width: 450px;
    }
  }

  &__title {
    font-family: 'righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 38px;
    }

    @media (max-width: 600px) {
      font-size: 31px;
    }

    &:not(:last-child) {
      margin-bottom: 35px;

      @media (max-width: 991px) {
        margin-bottom: 15px;
      }

      @media (max-width: 600px) {
        margin-bottom: 25px;
      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}