.terms {
  margin-top: 55px;
  margin-bottom: 80px;

  @media (max-width: 991px) {
    margin-top: 0;
    margin-bottom: 40px;
  }

  @media (max-width: 600px) {
    margin-bottom: 45px;
  }

  & h1 {
    font-family: 'righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 1.05;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FE1252;

    @media (max-width: 991px) {
      font-size: 31px;
    }

    @media (max-width: 600px) {
      font-size: 21px;
    }

    &:not(:last-child) {
      margin-bottom: 35px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-family: 'righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 1.05;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FE1252;

    @media (max-width: 991px) {
      font-size: 31px;
    }

    @media (max-width: 600px) {
      font-size: 21px;
    }

    &:not(:last-child) {
      margin-bottom: 35px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 19px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 35px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 35px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 17px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 35px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}