@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inder-Regular'),
       url("../../fonts/Inder-Regular.woff2") format("woff2"),
       url("../../fonts/Inder-Regular.woff") format("woff");
}

@font-face {
  font-family: 'LilitaOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('LilitaOne-Regular'),
       url("../../fonts/LilitaOne-Regular.woff2") format("woff2"),
       url("../../fonts/LilitaOne-Regular.woff") format("woff");
}