.hero {
  background-image: url(../../img/hero/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 991px) {
    background-image: url(../../img/hero/back2.jpg);
  }

  @media (max-width: 600px) {
    background-image: url(../../img/hero/back3.jpg);
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 794px;

    @media (max-width: 991px) {
      justify-content: center;
      min-height: 682px;
    }
  }

  &__content {
    max-width: 572px;

    @media (max-width: 991px) {
      max-width: 460px;
    }
  }

  &__span {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 23px;
      line-height: 34px;
    }

    @media (max-width: 600px) {
      font-size: 19px;
      line-height: 28px;
    }
  }

  &__title {
    font-family: 'palatinolinotype';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 90px;

    @media (max-width: 991px) {
      font-size: 42px;
      line-height: 57px;
      margin-bottom: 50px;
    }

    @media (max-width: 600px) {
      font-size: 35px;
      line-height: 47px;
      margin-bottom: 25px;
    }
  }

  &__wrapper-link {
    text-align: center;
  }

  &__link {
    display: inline-block;
    font-family: 'palatinolinotype';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 25px 47px;
    background: #DF5600;
    border-radius: 54px;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    @media (max-width: 991px) {
      font-size: 20px;
      line-height: 27px;
      padding: 22.5px 29px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
      line-height: 32px;
      padding: 18px 45px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #DF5600;
        background-color: #ffffff;
      }
    }
  }
}