.benefits {
  margin-top: -70px;

  &:not(:last-child) {
    margin-bottom: 125px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-top: -30px;
      margin-bottom: 90px;
    }
  }

  &__list {
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template: auto / .76fr 1fr .76fr;
    padding: 20px;
    gap: 20px;
    background-color: #C18316;

    @media (max-width: 991px) {
      grid-template: auto / 1fr 1fr 1fr;
      padding: 20px 10px;
      gap: 10px;
    }

    @media (max-width: 760px) {
      grid-template-columns: 1fr;
      row-gap: 25px;
    }
  }

  &__item {
    &:not(:last-child) {
      border-right: 2px solid #331F10;
      padding-right: 20px;

      @media (max-width: 991px) {
        padding-right: 15px;
      }

      @media (max-width: 760px) {
        border: 0;
        padding: 0;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 125px;
    font-family: 'karla';
    font-weight: 500;
    font-size: 29px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 991px) {
      min-height: 102px;
      font-size: 22px;
    }
    @media (max-width: 760px) {
      min-height: auto;
    }
    @media (max-width: 600px) {
      font-size: 25px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
      @media (max-width: 991px) {
        margin-bottom: 15px;
      }
      @media (max-width: 600px) {

      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 14px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}