.top-game {
  margin-bottom: 85px;

  @media (max-width: 991px) {
    margin-bottom: 80px;
  }

  @media (max-width: 600px) {
    margin-bottom: 75px;
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(480px, 1fr));
    gap: 45px 38px;

    @media (max-width: 1298px) {
      grid-template-columns: minmax(0, 583px);
      justify-content: center;
    }

    @media (max-width: 991px) {
      row-gap: 30px;
      justify-content: flex-start;
    }

    @media (max-width: 600px) {
      row-gap: 20px;
      grid-template-columns: minmax(0, 450px);
    }
  }

  &__item {
    display: flex;
    gap: 20px;
    position: relative;
    padding: 18px 13px;
    background-color: #1F4096;
    border-radius: 27px;

    @media (max-width: 991px) {
      column-gap: 45px;
      padding: 10px 15px;
    }

    @media (max-width: 600px) {
      column-gap: 10px;
      padding: 10px;
    }
  }

  &__image {
    flex: 0 0 203px;
    height: 223px;
    border-radius: 30px;
    overflow: hidden;

    @media (max-width: 991px) {
      flex: 0 0 186px;
      height: 191px;
    }

    @media (max-width: 600px) {
      flex: 0 0 94px;
      height: 147px;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    flex: 0 1 217px;

    @media (max-width: 991px) {
      flex: 0 1 221px;
    }

    @media (max-width: 600px) {
      flex: 0 1 157px;
    }

    @media (max-width: 400px) {
      flex: 0 1 110px;
    }
  }

  &__text {
    font-family: 'karla';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.2;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 15px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @media (max-width: 991px) {
        margin-bottom: 5px;
      }
    }
  }

  &__price {
    display: inline-block;
    width: 41px;
    height: 39px;

    @media (max-width: 991px) {
      width: 34px;
      height: 32px;
    }

    @media (max-width: 600px) {
      width: 25px;
      height: 26px;
    }

    &:not(:last-child) {
      margin-bottom: 38px;

      @media (max-width: 991px) {
        margin-bottom: 65px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__heart {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 600px) {
      gap: 5px;
    }
  }

  &__heart-icon {
    display: inline-block;
    width: 26px;
    height: 26px;

    @media (max-width: 991px) {
      width: 21px;
      height: 21px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__heart-value {
    display: inline-block;
    font-family: 'karla';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 19px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    width: 57px;
    height: 100%;
    border-radius: 21px;

    @media (max-width: 991px) {
      width: 47px;
    }

    @media (max-width: 600px) {
      width: 41px;
    }

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: #0EC590;
      border-radius: 21px;
      transition: background-color .2s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          background-color: #09215F;
        }
      }

      &:active {
        background-color: #09215F;
        transition-duration: .1s;
      }

      & span {
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        color: #FFFFFF;
        transform: rotate(-90deg);

        @media (max-width: 991px) {
          font-size: 19px;
        }

        @media (max-width: 600px) {
          font-size: 16px;
        }
      }
    }
  }
}