.about {
  margin-bottom: 80px;

  @media (max-width: 991px) {
    margin-bottom: 87px;
  }

  @media (max-width: 600px) {
    margin-bottom: 50px;
  }

  &__title {
    display: flex;
    align-items: center;
    font-family: 'JosefinSans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 45px;

    @media (max-width: 991px) {
      font-size: 48px;
      line-height: 48px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 25px;
    }

    &::before {
      content: "";
      width: 44px;
      height: 2px;
      background-color: #E489F0;
      margin-right: 15px;

      @media (max-width: 600px) {
        width: 28px;
      }
    }
  }

  &__descr {
    max-width: 1164px;
    margin: 0 auto;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 51px;
    text-align: center;
    color: #F8B709;
    margin-bottom: 30px;

    @media (max-width: 991px) {
      font-size: 58px;
      line-height: 58px;
    }

    @media (max-width: 600px) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__text {
    font-family: 'InriaSans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 139.9%;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 27px;
    }

    @media (max-width: 600px) {
      font-size: 17px;
    }
  }
}