.footer {
  padding: 50px 0;
  background-color: #391277;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 991px) {
      display: block;
    }
  }

  &__left {
    width: 49%;
    @media (max-width: 1200px) {
      width: 55%;
    }
    @media (max-width: 991px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__logo {
    max-width: 331px;
    height: 121px;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      max-width: 449px;
      height: 164px;
      margin-bottom: 45px;
    }

    @media (max-width: 600px) {
      max-width: 335px;
      height: 122px;
      margin-bottom: 15px;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__text {
    font-family: 'InriaSans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 139.9%;
    color: #FFFFFF;

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }

  &__lists {
    width: 385px;
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: 991px) {
      margin-left: auto;
    }
    @media (max-width: 600px) {
      width: 290px;
    }
  }

  &__list-one {
    & .footer__list {
      text-align: right;
    }
  }

  &__strong {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #F8B709;
    margin-bottom: 20px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 34px;
    }
  }

  &__link {
    display: inline-block;
    font-family: 'InriaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    transition: color .2s ease-in-out;

    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 17px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #953fca;
      }
    }
  }
}