$maxWidth: 1920;
$maxWidthContainer: 1120;

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $addMobSize: $addSize + $addSize * 0.7;
 @media (max-width: 767px) {
   font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
 }
 @media (min-width: 767px) {
  font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
}
}

.prem {
  padding: 0 0 50px 0;

  &__grid {
    display: grid;
    grid-template: 200px / repeat(3,minmax(200px, 1fr));
    grid-template-areas: "item-left . item-top" ". title ." "item-right . item-bottom";
    min-height: 600px;
  }

  &__title {
    display: inline-block;
    @include adaptiv-font(32, 22);
    line-height: 42px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    grid-area: title;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    background: #232526;
    background: -webkit-linear-gradient(to top, #414345, #232526);
    background: linear-gradient(to top, #414345, #232526);
    border: 1px solid #fff;
    &:hover {
      animation-play-state: paused
    }
  }

  &__text {
    @include adaptiv-font(20, 15);
    font-weight: 400;
    line-height: 32px;
    color: #fff;
    text-align: center;
    padding: 0 15px;
  }
}

.prem-dekstop .item-l {
  animation-name: trust;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.item-l {
  grid-area: item-left;
}

@keyframes trust {
  from {
    left: 0;
  }
  50% {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.prem-dekstop .item-t {
  animation-name: trust1;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.item-t {
  grid-area: item-top;
}

@keyframes trust1 {
  from {
    top: 0;
  }
  50% {
    top: 100%;
  }
  to {
    top: 0;
  }
}

.prem-dekstop .item-r {
  animation-name: trust2;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.item-r {
  grid-area: item-right;
}

@keyframes trust2 {
  from {
    bottom: 0;
  }
  50% {
    bottom: 100%;
  }
  to {
    bottom: 0;
  }
}

.prem-dekstop .item-b {
  animation-name: trust3;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.item-b {
  grid-area: item-bottom;
}

@keyframes trust3 {
  from {
    right: 0;
  }
  50% {
    right: 100%;
  }
  to {
   right: 0;
  }
}

@media (max-width: 1024px) {
  .prem {
    &__grid {
      grid-template: auto / 1fr;
      grid-template-areas: "title" "item-left" "item-top" "item-right" "item-bottom";
      gap: 20px 0;
      min-height: 450px;
    }
  }
}