.game {
  padding: 75px 0;
  background-color: #597CCC;
  @media (max-width: 991px) {
    padding: 155px 0;
  }
  @media (max-width: 600px) {
    padding: 55px 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px 20px;
    @media (max-width: 600px) {
      row-gap: 26px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 453px;
    @media (max-width: 991px) {
      width: 457px;
    }
    @media (max-width: 600px) {
      width: 325px;
    }
    @media (max-width: 360px) {
      width: 100%;
    }
  }

  &__image {
    flex-shrink: 0;
    height: 274px;
    @media (max-width: 600px) {
      height: 197px;
    }
    & img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__descr {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    height: 100%;
    @media (max-width: 600px) {
      padding-top: 20px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 10px;
  }

  &__name-game {
    flex: 1 1 auto;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 109.16%;
    color: #FFFFFF;
    transition: text-shadow .2s ease-in-out;
    @media (max-width: 600px) {
      font-size: 20px;
    }
    @media (any-hover: hover) {
      &:hover {
        text-shadow: 0px 4px 4px #294179;
      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 142.16%;
    color: #FFFFFF;
    @media (max-width: 600px) {
      font-size: 14px;
    }
  }

  &__wrapper-play {
    width: 45%;
    text-align: center;
  }

  &__play {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 142.16%;
    color: #FFFFFF;
    padding: 17px 49px;
    background-color: #294179;
    box-shadow: 0px 4px 4px rgba(252, 252, 252, 0.25);
    border-radius: 4px;
    transition: box-shadow .2s ease-in-out;
    @media (max-width: 600px) {
      font-size: 12px;
      padding: 14px 34px;
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 4px 4px rgba(252, 252, 252, 1);
      }
    }
  }
}

.play-go {
  padding: 180px 0 40px 0;
  @media (max-width: 991px) {
    padding-bottom: 20px;
  }
  @media (max-width: 600px) {
    padding-top: 130px;
  }

  &__title {
    font-family: 'Moul';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 142.16%;
    text-align: center;
    text-transform: uppercase;
    color: #303F74;
    margin-bottom: 50px;

    @media (max-width: 991px) {
      font-size: 38px;
      margin-bottom: 40px;
    }

    @media (max-width: 600px) {
      font-size: 29px;
      margin-bottom: 30px;
    }
  }

  &__iframe {
    height: 650px;
    @media (max-width: 768px) {
      height: 350px;
    }
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}
