.content {
	width: 100%;
	height: 100%;
	position: fixed;
	-webkit-perspective: 3000px;
	perspective: 3000px;
}

.content__item {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height: 100%;
}

.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: var(--transition), opacity .75s ease;
	-o-transition: var(--transition), opacity .75s ease;
	transition: var(--transition), opacity .75s ease;
	will-change: transform;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.frame__container {
	max-width: none;
	padding: 0;
	margin: 0;
}

.welcome {
	background-color: var(--white);
	border-radius: 30px;
}

.welcome-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 20px;
}

.welcome-links__link {
	display: inline-block;
	font-weight: 300;
	line-height: 1;
	text-align: center;
	font-size: calc(var(--index) * 1);
	color: var(--black);
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.welcome-links__link:active {
	color: var(--active);
}

.reg-link {
	margin-right: 30px;
}

.welcome__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.welcome__descr {
	padding: 50px;
}

.welcome__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.3;
	text-align: center;
	font-size: calc(var(--index) * 2);
	color: var(--black);
	margin-bottom: 30px;
}

.welcome__text {
	font-weight: 300;
	line-height: 1;
	text-align: center;
	font-size: calc(var(--index) * 1.5);
	color: var(--black);
	margin-bottom: 30px;
}

.welcome__image {
	text-align: center;
}

.welcome__image img {
	max-width: 100%;
}

.welcome-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 30px;
}

.welcome-list__item:not(:last-child) {
	margin-right: 20px;
}

.welcome-list__link {
	display: inline-block;
	font-weight: 300;
	line-height: 1;
	text-align: center;
	font-size: calc(var(--index) * 1);
	color: var(--black);
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.welcome-list__link:active {
	color: var(--active);
}

.welcome__warning {
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
	font-size: calc(var(--index) * .6);
	color: var(--black);
}

.about {
	background-color: var(--white);
	border-radius: 30px;
	padding-top: 30px;
}

.about__body {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto;
	-ms-grid-columns: 1fr 30px 1fr;
	grid-template: auto / repeat(2, 1fr);
	gap: 30px;
}

.about__image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 30px 0 0 30px;
}

.about__descr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 50px;
}

.about__title {
	font-weight: 300;
	line-height: 1;
	text-align: center;
	font-size: calc(var(--index) * 2);
	color: var(--black);
	text-align: center;
	margin-bottom: 30px;
	padding-top: 30px;
}

.about__text {
	font-weight: 300;
	line-height: 1.25;
	text-align: center;
	font-size: calc(var(--index) * 1.5);
	color: var(--black);
}

.games {
	padding-top: 30px;
}

.games__image {
	height: 550px;
}

.games__image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.games__descr {
	padding: 30px;
}

.games__title {
	font-weight: 300;
	line-height: 1;
	text-align: center;
	font-size: calc(var(--index) * 2);
	color: var(--white);
	text-align: center;
	margin-bottom: 30px;
}

.games__subtitle {
	font-weight: 300;
	line-height: 1;
	text-align: center;
	font-size: calc(var(--index) * 2);
	color: var(--white);
	text-align: center;
	margin-bottom: 30px;
}

.games__wrapper-link {
	text-align: center;
}

.games__link {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--white);
	padding: 15px 40px;
	border-radius: 15px;
	background-color: #7B68EE;
	-webkit-transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
	transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out, transform .2s ease-in-out;
	transition: background-color .2s ease-in-out, transform .2s ease-in-out;
	transition: background-color .2s ease-in-out, transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.games-link {
	color: var(--white);
}

.games__link:active {
	-webkit-transform: translateY(3px);
	-ms-transform: translateY(3px);
	transform: translateY(3px);
	background-color: var(--active);
}

.games-body {
	height: 100%;
}

.benefits {
	background-color: var(--white);
	border-radius: 30px;
	padding-top: 30px;
}

.benefits__body {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto;
	-ms-grid-columns: 1fr 30px 1fr;
	grid-template: auto / repeat(2, 1fr);
	gap: 30px;
}

.benefits__title {
	font-weight: 300;
	line-height: 1;
	text-align: center;
	font-size: calc(var(--index) * 2);
	color: var(--black);
	text-align: center;
	margin-bottom: 30px;
}

.benefits__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.benefits__item:not(:last-child) {
	margin-bottom: 30px;
}

.benefits__text {
	font-weight: 300;
	line-height: 1.25;
	font-size: calc(var(--index) * 1.5);
	color: var(--black);
}

.benefits__image img {
	max-width: 100%;
	border-radius: 30px;
}

.backer {
	background-color: var(--white);
	border-radius: 30px;
	padding: 30px;
}

.backer__image {
	text-align: center;
}

.backer__image img {
	max-width: 100%;
}

.backer__text {
	font-size: calc(var(--index) * 2);
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	margin-bottom: 20px;
}

.backer__wrapper-btn {
	text-align: center;
}

.backer__btn {
	font-size: calc(var(--index) * 2);
	line-height: 1;
	font-weight: 300;
	color: var(--white);
	padding: 15px 40px;
	border-radius: 15px;
	background-color: #7B68EE;
	-webkit-transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
	transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out, transform .2s ease-in-out;
	transition: background-color .2s ease-in-out, transform .2s ease-in-out;
	transition: background-color .2s ease-in-out, transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.backer__btn:active {
	-webkit-transform: translateY(3px);
	-ms-transform: translateY(3px);
	transform: translateY(3px);
	background-color: var(--active);
}

.politicks-welcome {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 635px;
}

.politicks {
	background-color: var(--white);
	border-radius: 30px;
	padding: 30px;
}

.politicks h1 {
	color: var(--black);
	text-align: center;
	margin-bottom: 10px;
	font-size: calc(var(--index) * 1.1);
}

.politicks h2 {
	font-size: calc(var(--index) * 0.9);
	color: var(--black);
	margin-bottom: 10px;
}

.politicks p {
	color: var(--black);
	margin-bottom: 10px;
	font-size: calc(var(--index) * 0.8);
}

.politicks ul {
	color: var(--black);
}

.politicks li {
	color: var(--black);
	font-size: calc(var(--index) * 0.7);
}

.cockie-body {
	height: 2600px;
}

.policy-body {
	height: 3300px;
}

.forms-body {
	height: 100%;
}

.forms-body__content {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.forms-link {
	color: var(--white);
}

.reg__wrapper-form {
	width: 70%;
	margin: 0 auto;
}

.reg__label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

.reg__label:not(:last-child) {
	margin-bottom: 20px;
}

.reg__input {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	height: 60px;
	border: 2px solid transparent;
	border-radius: 25px;
	padding: 0 15px;
	-webkit-transition: border-color .2s ease-in-out;
	-o-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
}

.reg__input:not(:last-child) {
	margin-bottom: 20px;
}

.reg__input:focus-visible {
	border-color: var(--active);
}

.reg__input::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	padding: 3px 0;
}

.reg__input::-moz-placeholder {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	padding: 3px 0;
}

.reg__input:-ms-input-placeholder {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	padding: 3px 0;
}

.reg__input::-ms-input-placeholder {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	padding: 3px 0;
}

.reg__input::placeholder {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	padding: 3px 0;
}

.reg__btn {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--white);
	padding: 15px 40px;
	border-radius: 15px;
	background-color: #7B68EE;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	cursor: pointer;
}

.reg__btn {
	background-color: var(--active);
}

.log-content {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.log__wrapper-form {
	width: 70%;
	margin: 0 auto;
}

.log__label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

.log__label:not(:last-child) {
	margin-bottom: 20px;
}

.log__input {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	height: 60px;
	border: 2px solid transparent;
	border-radius: 25px;
	padding: 0 15px;
	-webkit-transition: border-color .2s ease-in-out;
	-o-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
}

.log__input:not(:last-child) {
	margin-bottom: 20px;
}

.log__input:focus-visible {
	border-color: var(--active);
}

.log__input::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	padding: 3px 0;
}

.log__input::-moz-placeholder {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	padding: 3px 0;
}

.log__input:-ms-input-placeholder {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	padding: 3px 0;
}

.log__input::-ms-input-placeholder {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	padding: 3px 0;
}

.log__input::placeholder {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--black);
	padding: 3px 0;
}

.log__btn {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--white);
	padding: 15px 40px;
	border-radius: 15px;
	background-color: #7B68EE;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	cursor: pointer;
}

.log__btn {
	background-color: var(--active);
}

.page-cockie-body {
	height: 100%;
}

.page-cockie {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.page-cockie__body {
	position: relative;
	left: 50%;
	top: 50%;
	max-width: 900px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 30px;
	background-color: #ffffff;
	border-radius: 30px;
}

.page-cockie__text {
	color: var(--black);
	margin-bottom: 10px;
	font-size: calc(var(--index) * 1);
}

.page-cockie__link {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--white);
	padding: 15px 40px;
	border-radius: 15px;
	background-color: #7B68EE;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

.page-cockie__btn {
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--white);
	padding: 15px 40px;
	border-radius: 15px;
	background-color: #7B68EE;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

.page-cockie__btn:first-child {
	margin-right: 10px;
}

.page-cockie__btn:active {
	background-color: var(--active);
}

.cockie {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
}

.cockie__close {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	z-index: 1;
}

.cockie h1 {
	font-size: calc(var(--index) * .8);
	color: var(--black);
}

.cockie h2 {
	font-size: calc(var(--index) * .8);
	color: var(--black);
}

.cockie p {
	font-size: calc(var(--index) * .8);
	color: var(--black);
}

.cockie li {
	font-size: calc(var(--index) * .8);
	color: var(--black);
}

.cockie__body {
	position: relative;
	background-color: #ffffff;
	max-width: 1000px;
	border-radius: 30px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 2;
	padding: 60px 15px 30px 30px;
}

.cockie__exit {
	position: absolute;
	top: 15px;
	right: 20px;
	width: 22px;
	height: 22px;
	z-index: 3;
	background-color: transparent;
}

.cockie__exit::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--black);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

.cockie__exit::after {
	content: "";
	position: absolute;
	top: 10px;
	right: 0;
	width: 100%;
	height: 2px;
	background-color: var(--black);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

.cockie__exit:active::before {
	background-color: var(--active);
}

.cockie__exit:active::after {
	background-color: var(--active);
}

.cockie__wrapper-link {
	text-align: center;
	padding: 15px 0 0 0;
}

.cockie__link {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	font-weight: 300;
	color: var(--white);
	padding: 15px 40px;
	border-radius: 15px;
	background-color: #7B68EE;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

.cockie__link:active {
	background-color: var(--active);
}

.cockie__scroll {
	height: 500px;
	padding-right: 30px;
}

.cockie-active {
	opacity: 1;
	visibility: visible;
	pointer-events: visible;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}

.profile__text {
	font-size: calc(var(--index) * 1);
	max-width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--black);
}

.profile__btn {
	position: relative;
	width: calc(var(--index) * 1);
	height: calc(var(--index) * 1);
	/* width: 20px; */
	/* height: 20px; */
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	color: var(--black);
	text-align: center;
	margin-left: 20px;
	background-color: transparent;
	border: 1px solid var(--black);
	align-self: center;
	padding: 3px 6px 4px 7px;
	transition: border-color .2s ease-in-out;
}

.profile__btn::before {
	content: "";
	position: absolute;
	top: 45%;
	/* top: 8px; */
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--black);
	transform: rotate(45deg);
	transition: background-color .2s ease-in-out;
}

.profile__btn::after {
	content: "";
	position: absolute;
	top: 45%;
	/* top: 8px; */
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--black);
	transform: rotate(-45deg);
	transition: background-color .2s ease-in-out;
}

.profile__btn:active {
	border-color: var(--active);
	transition-duration: .1s;
}

.profile__btn:active::before {
	background-color: var(--active);
}

.profile__btn:active::after {
	background-color: var(--active);
}

@media (max-width: 1041px) {
	body {
		height: 100%;
		background: #ffffff;
	}

	.content {
		position: static;
		height: 100%;
		-webkit-perspective: 0;
		perspective: 0;
	}

	.container {
		padding: 0 30px;
	}

	.content__item {
		-webkit-transform-style: inherit;
		transform-style: inherit;

	}

	.frame {
		position: static;
		height: auto;
	}

	.welcome {
		border-radius: 0;
	}

	.welcome__image {
		display: none;
	}

	.welcome__link {
		font-size: calc(var(--index) * 1.2);
	}

	.welcome__text {
		display: none;
	}

	.welcome__descr {
		padding: 5.3% 0;
	}

	.welcome__title span {
		display: none;
	}

	.welcome__warning {
		font-size: calc(var(--index) * 1.2);
	}

	.welcome-links {
		display: none;
	}

	.welcome-list {
		display: none;
	}

	.vis {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.about {
		border-radius: 0;
		padding-bottom: 5.3%;
	}

	.about__body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.about__descr {
		padding: 0;
	}

	.about__image img {
		border-radius: 0;
	}

	.games {
		border-radius: 0;
		padding: 5.3% 0;
	}

	.games__title {
		padding-top: 0;
		color: var(--black);
	}

	.games__image img {
		border-radius: 0;
	}

	.games-link {
		color: var(--black);
	}

	.games__subtitle {
		color: var(--black);
	}

	.benefits {
		border-radius: 0;
		padding: 5.3% 0;
	}

	.benefits__body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.backer {
		border-radius: 0;
	}

	.reg__link-home {
		color: var(--black);
	}

	.log__link-home {
		color: var(--black);
	}

	.reg__input {
		border-color: var(--black);
		background-color: transparent;
	}

	.log__input {
		border-color: var(--black);
		background-color: transparent;
	}

	.politicks {
		padding: 0;
	}

	.politicks-welcome {
		min-height: auto;
	}

	.politicks h1 {
		font-size: calc(var(--index) * 1.7);
	}

	.politicks h2 {
		font-size: calc(var(--index) * 1.5);
	}

	.politicks p {
		font-size: calc(var(--index) * 1.3);
	}

	.politicks li {
		font-size: calc(var(--index) * 1.1);
	}

	.page-cockie__body {
		width: 95%;
		max-width: none;
	}

	.profile__btn {
		width: 15px;
		height: 15px;
	}

	.page-cockie-body {
		background: #0f0c29;
		background: -webkit-gradient(linear, left top, right top, from(#24243e), color-stop(#302b63), to(#0f0c29));
		background: -o-linear-gradient(left, #24243e, #302b63, #0f0c29);
		background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
	}

	.page-cockie__text {
		font-size: calc(var(--index) * 1.3);
	}

	.cockie__body {
		width: 95%;
		max-width: none;
	}

	.cockie h1 {
		font-size: calc(var(--index) * 1.4);
	}

	.cockie h2 {
		font-size: calc(var(--index) * 1.3);
	}

	.cockie p {
		font-size: calc(var(--index) * 1.2);
	}

	.cockie li {
		font-size: calc(var(--index) * 1.1);
	}

	.forms-link {
		color: var(--black);
	}
}

@media (max-width: 600px) {
	.container {
		padding: 0 15px;
	}

	.games__image {
		height: 300px;
	}

	.backer__btn {
		font-size: calc(var(--index) * 1.2);
	}

	.page-cockie__body {
		padding: 15px;
	}

	.reg__wrapper-form {
		width: 100%;
	}

	.log__wrapper-form {
		width: 100%;
	}

	.page-cockie__link {
		font-size: 14px;
		padding: 10px 25px;
	}

	.page-cockie__btn {
		font-size: 14px;
		padding: 10px 25px;
	}

	.cockie__link {
		font-size: 14px;
		padding: 10px 25px;
	}
}