.container {
  max-width: 1320px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  background-color: #000;
}

.page {
  display: flex;
  flex-direction: column;
  font-family: 'OpenSans';
  font-weight: 400;
  background-image: url(../../img/picture.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
}

main {
  flex: 1 1 auto;
   background-color: rgba(0, 0, 0, .7);
}

.body-block {
  overflow: hidden;
}

@media (min-width: 1024px) {
  .page-header {
    &__logo {
      &:hover {
        opacity: .7;
      }
    }
    &__link {
      &:hover {
        color: #cacaca;
      }
    }
    &__profile {
      &:hover {
        color: #cacaca;
      }
    }
  }
  .page-games {
    &__link {
      &:hover {
        background-color: #ff6600;
      }
    }
  }
  .page-registration {
    &__btn {
      &:hover {
        background-color: #ff6600;
      }
    }
    &__input {
      &:focus-visible {
        border-color: #ff6600;
      }
    }
  }
  .page-entrance {
    &__btn {
      &:hover {
        background-color: #ff6600;
      }
    }
    &__input {
      &:focus-visible {
        border-color: #ff6600;
      }
    }
  }
  .page-footer {
    &__link {
      &:hover {
        color: #cacaca;
      }
    }
  }
}

@media (max-width: 1024px) {
  .page {
    background-image: url(../../img/picture.jpg);
  }
}

@media (max-width: 550px) {
  .page {
    background-image: url(../../img/picture.jpg);
  }
}