.about {
  padding: 70px 0;
  @media (max-width: 1024px) {
    padding: 50px 0;
  }
  @media (max-width: 600px) {
    padding: 30px 0;
  }


  &__body {
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #375aa5;
    @media (max-width: 1024px) {
      padding: 25px;
    }
    @media (max-width: 600px) {
      padding: 20px;
    }
  }

  &__title {
    font-size: 42px;
    line-height: 52px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 50px;
    @media (max-width: 1024px) {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 40px;
    }
    @media (max-width: 600px) {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 30px;
    }
  }

  &__text {
    font-size: 26px;
    line-height: 36px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 1024px) {
        margin-bottom: 25px;
      }
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
    @media (max-width: 1024px) {
      font-size: 22px;
      line-height: 32px;
    }
    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__subtitle {
    font-size: 32px;
    line-height: 42px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 25px;
    }
    @media (max-width: 600px) {
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 20px;
    }
  }
}
