@font-face {
  font-family: 'encodesanssc';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('EncodeSansSC-Black'),
       url("../../fonts/EncodeSansSC-Black.woff2") format("woff2"),
       url("../../fonts/EncodeSansSC-Black.woff") format("woff");
}

@font-face {
  font-family: 'encodesanssc';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('EncodeSansSC-Bold'),
       url("../../fonts/EncodeSansSC-Bold.woff2") format("woff2"),
       url("../../fonts/EncodeSansSC-Bold.woff") format("woff");
}

@font-face {
  font-family: 'exo2';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Exo2-Bold'),
       url("../../fonts/Exo2-Bold.woff2") format("woff2"),
       url("../../fonts/Exo2-Bold.woff") format("woff");
}

@font-face {
  font-family: 'exo2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Exo2-Regular'),
       url("../../fonts/Exo2-Regular.woff2") format("woff2"),
       url("../../fonts/Exo2-Regular.woff") format("woff");
}

@font-face {
  font-family: 'kantumruy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kantumruy-Regular'),
       url("../../fonts/Kantumruy-Regular.woff2") format("woff2"),
       url("../../fonts/Kantumruy-Regular.woff") format("woff");
}