.no-webp .hero {
  background-image: url(../../img/hero/hero-1.jpg); }
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
@media (max-width: 1024px) {
  .no-webp .hero {
    background-image: url(../../img/hero/hero-2.jpg); }
  .hero {
    padding-top: calc(90px + 50 * ((100vw - 320px) / 1600));
    padding-bottom: calc(90px + 50 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 600px) {
  .no-webp .hero {
    background-image: url(../../img/hero/hero-3.jpg); }
}
.hero__body {
  max-width: 560px;
}
@media (max-width: 1024px) {
  .hero__body {
    max-width: calc(360px + 200 * ((100vw - 320px) / 1600));
  }
}
.hero__span {
  display: inline-block;
  font-family: "Kufam";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .hero__span {
    line-height: calc(28px + 6 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .hero__span {
    font-size: calc(14px + 20.4 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .hero__span {
    font-size: calc(14px + 12 * (100vw / 1920));
  }
}
.hero__title {
  font-family: "KronaOne";
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 64px;
  color: #E48702;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .hero__title {
    line-height: calc(38px + 26 * ((100vw - 320px) / 1600));
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .hero__title {
    font-size: calc(28px + 39.1 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .hero__title {
    font-size: calc(28px + 23 * (100vw / 1920));
  }
}
.hero__link {
  display: inline-block;
  font-family: "KronaOne";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 27px 47px;
  background: -o-linear-gradient(355.64deg, #E48702 0%, rgba(255, 10, 0, 0.53) 100%);
  background: linear-gradient(94.36deg, #E48702 0%, rgba(255, 10, 0, 0.53) 100%);
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .hero__link:hover {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
  }
}
@media (max-width: 1024px) {
  .hero__link {
    line-height: calc(24px + 6 * ((100vw - 320px) / 1600));
    padding-top: calc(18px + 9 * ((100vw - 320px) / 1600));
    padding-bottom: calc(18px + 9 * ((100vw - 320px) / 1600));
    padding-left: calc(27px + 20 * ((100vw - 320px) / 1600));
    padding-right: calc(27px + 20 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .hero__link {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .hero__link {
    font-size: calc(16px + 8 * (100vw / 1920));
  }
}
.webp .hero { background-image: url(../../img/hero/hero-1.webp); }
@media (max-width: 1024px) {
  .webp .hero { background-image: url(../../img/hero/hero-2.webp); } }
@media (max-width: 600px) {
  .webp .hero { background-image: url(../../img/hero/hero-3.webp); } }
