* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato-Regular"), url(../fonts/Lato-Regular.woff2) format("woff2"), url(../fonts/Lato-Regular.woff) format("woff")
}

@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Lato-Semibold"), url(../fonts/Lato-Semibold.woff2) format("woff2"), url(../fonts/Lato-Semibold.woff) format("woff")
}

@font-face {
  font-family: leaguespartan;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("LeagueSpartan-Bold"), url(../fonts/LeagueSpartan-Bold.woff2) format("woff2"), url(../fonts/LeagueSpartan-Bold.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #1f1f1f
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: leaguespartan;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 90px
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: .92;
  text-align: center;
  color: #fdc80d
}

@media (max-width:991px) {
  .title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .title {
    font-size: 35px
  }
}

.header {
  padding: 5px 0
}

@media (max-width:991px) {
  .header {
    padding: 10px 0
  }
}

@media (max-width:600px) {
  .header {
    padding: 15px 0
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%
}

@media (max-width:991px) {
  .header__menu {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1f1f1f;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__logo {
  display: block;
  width: 222px;
  height: 142px;
  margin: 0 60px
}

@media (max-width:991px) {
  .header__logo {
    margin: 0
  }
}

@media (max-width:600px) {
  .header__logo {
    width: 157px;
    height: 100px
  }
}

.header__logo_menu {
  display: none;
  margin-right: auto;
  margin-bottom: 100px
}

@media (max-width:991px) {
  .header__logo_menu {
    display: block
  }
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

@media (max-width:991px) {
  .nav {
    width: 100%
  }
}

@media (max-width:991px) {
  .nav_1 {
    margin-bottom: 52px
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 52px
}

@media (max-width:991px) {
  .nav__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.nav__link {
  display: inline-block;
  font-family: lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #fdc80d
  }
}

.nav__link:active {
  color: #fdc80d;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  position: relative;
  width: calc(45px + 23 * ((100vw - 320px)/ 1600));
  height: calc(19px + 7 * ((100vw - 320px)/ 1600));
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: block
  }
}

.burger__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fdc80d;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fdc80d
}

.burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fdc80d
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.hero:not(:last-child) {
  margin-bottom: 90px
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px
}

@media (max-width:991px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 0
  }
}

.hero__body {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 447px;
  flex: 0 0 447px
}

@media (max-width:991px) {
  .hero__body {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    margin-bottom: 10px
  }
}

@media (max-width:600px) {
  .hero__body {
    margin-bottom: 20px
  }
}

.hero__span {
  display: block;
  font-family: lato;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 1.2;
  color: #ebebeb
}

.hero__span:not(:last-child) {
  margin-bottom: 10px
}

@media (max-width:600px) {
  .hero__span:not(:last-child) {
    margin-bottom: 15px
  }
}

.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: .91;
  color: #fdc80d
}

@media (max-width:991px) {
  .hero__title {
    font-size: 70px
  }
}

@media (max-width:600px) {
  .hero__title {
    font-size: 50px
  }
}

.hero__title:not(:last-child) {
  margin-bottom: 37px
}

@media (max-width:991px) {
  .hero__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .hero__title:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:991px) {
  .hero__wrapper-link {
    width: 100%;
    text-align: center
  }
}

.hero__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -o-radial-gradient(50% 50%, 50% 1329.35%, #d19d36 0, #856516 100%);
  background: radial-gradient(50% 1329.35% at 50% 50%, #d19d36 0, #856516 100%);
  -webkit-box-shadow: 0 0 7px #fdc80d;
  box-shadow: 0 0 7px #fdc80d;
  width: 330px;
  min-height: 64px;
  font-family: lato;
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:991px) {
  .hero__link {
    width: 405px;
    font-size: 26px
  }
}

@media (max-width:600px) {
  .hero__link {
    width: 334px;
    font-size: 24px
  }
}

@media (max-width:359px) {
  .hero__link {
    width: 280px;
    font-size: 20px
  }
}

@media (any-hover:hover) {
  .hero__link:hover {
    opacity: .6
  }
}

.hero__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.hero__image {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-bottom: 41.74%
}

@media (max-width:991px) {
  .hero__image {
    width: 100%;
    margin-bottom: 17px;
    padding-bottom: 60%
  }
}

@media (max-width:600px) {
  .hero__image {
    margin-bottom: 20px;
    padding-bottom: 64%
  }
}

.hero__image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.benefits:not(:last-child) {
  margin-bottom: 90px
}

.benefits__title:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .benefits__title:not(:last-child) {
    margin-bottom: 40px
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px 22px
}

.benefits__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 440px;
  flex: 0 0 440px
}

@media (max-width:991px) {
  .benefits__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 340px;
    flex: 0 0 340px
  }
}

@media (max-width:400px) {
  .benefits__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.benefits__wrapper-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 171px;
  height: 171px;
  background-color: #4b4b4b;
  -webkit-box-shadow: 0 0 5px rgba(171, 62, 62, .25);
  box-shadow: 0 0 5px rgba(171, 62, 62, .25);
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 37px
}

@media (max-width:991px) {
  .benefits__wrapper-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .benefits__wrapper-icon {
    margin-bottom: 10px
  }
}

.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 96px;
  height: 80px
}

@media (max-width:991px) {
  .benefits__icon {
    width: 68px;
    height: 45px
  }
}

.benefits__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.benefits__subtitle {
  font-size: 35px;
  line-height: .91;
  text-align: center;
  color: #fdc80d;
  margin-bottom: 10px
}

@media (max-width:991px) {
  .benefits__subtitle {
    font-size: 30px
  }
}

.benefits__text {
  font-family: lato;
  font-weight: 600;
  font-size: 23px;
  line-height: 1.2;
  text-align: center;
  text-transform: lowercase;
  color: #ccc
}

@media (max-width:991px) {
  .benefits__text {
    font-size: 20px
  }
}

.games:not(:last-child) {
  margin-bottom: 90px
}

.games__title:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .games__title:not(:last-child) {
    margin-bottom: 40px
  }
}

.games__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px 25px
}

.games__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 330px;
  flex: 0 0 330px;
  height: 367px;
  -webkit-filter: drop-shadow(0 4px 4px rgba(171, 62, 62, .25));
  filter: drop-shadow(0 4px 4px rgba(171, 62, 62, .25));
  border-radius: 5px
}

@media (max-width:400px) {
  .games__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.games__item_1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 680px;
  flex: 0 0 680px
}

@media (max-width:767px) {
  .games__item_1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 330px;
    flex: 0 0 330px
  }
}

@media (max-width:400px) {
  .games__item_1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    height: 180px
  }
}

@media (any-hover:hover) {
  .games__link:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }
}

.games__link:active img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.games__link picture {
  overflow: hidden
}

.games__link picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.about:not(:last-child) {
  margin-bottom: 90px
}

.about__title:not(:last-child) {
  margin-bottom: 50px
}

@media (max-width:991px) {
  .about__title:not(:last-child) {
    margin-bottom: 40px
  }
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 20px 25px
}

@media (max-width:991px) {
  .about__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

@media (max-width:600px) {
  .about__content {
    row-gap: 35px
  }
}

.about__subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: .92;
  color: #fdc80d
}

@media (max-width:991px) {
  .about__subtitle {
    font-size: 35px
  }
}

@media (max-width:600px) {
  .about__subtitle {
    font-size: 30px
  }
}

.about__subtitle:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .about__subtitle:not(:last-child) {
    margin-bottom: 15px
  }
}

.about__text {
  font-family: lato;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.5;
  color: #ccc
}

@media (max-width:991px) {
  .about__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .about__text {
    font-size: 19px
  }
}

.footer {
  padding: 27px 0 60px 0;
  background-color: #333
}

@media (max-width:991px) {
  .footer {
    padding: 25px 0 50px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 20px 0 40px 0
  }
}

.footer__logo {
  display: block;
  width: 220px;
  height: 141px;
  margin: 0 auto;
  margin-bottom: 33px
}

@media (max-width:991px) {
  .footer__logo {
    margin-bottom: 19px
  }
}

@media (max-width:600px) {
  .footer__logo {
    width: 157px;
    height: 101px
  }
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__wrapper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 615px;
  margin: 0 auto;
  margin-bottom: 15px
}

@media (max-width:991px) {
  .footer__wrapper-text {
    margin-bottom: 20px
  }
}

.footer__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 53px;
  height: 53px;
  margin-right: 20px
}

.footer__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__text {
  font-family: lato;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.49;
  color: #ccc
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px 60px
}

@media (max-width:991px) {
  .footer__list {
    gap: 10px 50px
  }
}

@media (max-width:600px) {
  .footer__list {
    gap: 10px 40px
  }
}

.footer__link {
  display: inline-block;
  font-family: lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #fdc80d
  }
}

.footer__link:active {
  color: #fdc80d;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  margin-top: 50px
}

.terms h1 {
  font-weight: 700;
  font-size: 49px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -.025em;
  text-transform: uppercase;
  color: #fdc80d
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 36px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 700;
  font-size: 49px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -.025em;
  text-transform: uppercase;
  color: #fdc80d
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 36px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 22px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-family: lato;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms p {
    font-size: 24px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 18px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-family: lato;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms li {
    font-size: 20px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 16px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.game {
  margin-top: 50px
}

.game__game {
  height: 700px
}

@media (max-width:991px) {
  .game__game {
    height: 500px
  }
}

@media (max-width:600px) {
  .game__game {
    height: 350px
  }
}

.game__game iframe {
  width: 100%;
  height: 100%
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 500px;
  background: #383838;
  border-radius: 5px;
  z-index: 2;
  padding: 45px 25px
}

@media (max-width:991px) {
  .popup__body {
    padding: 35px 20px
  }
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 25px 15px
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-family: lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff;
  margin-bottom: 45px
}

@media (max-width:991px) {
  .popup__text {
    font-size: 18px;
    margin-bottom: 35px
  }
}

@media (max-width:600px) {
  .popup__text {
    font-size: 16px;
    margin-bottom: 25px
  }
}

.popup__form-bottom {
  text-align: center
}

.popup__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #e9aa0a;
  -webkit-box-shadow: 0 0 7px rgba(253, 200, 13, .56);
  box-shadow: 0 0 7px rgba(253, 200, 13, .56);
  border-radius: 5px;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  font-family: lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff;
  min-width: 165px;
  min-height: 53px;
  max-width: 200px
}

@media (max-width:991px) {
  .popup__button {
    font-size: 18px;
    min-width: 145px;
    min-height: 45px
  }
}

@media (max-width:600px) {
  .popup__button {
    font-size: 16px;
    min-width: 145px;
    min-height: 35px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    opacity: .6
  }
}

.popup__button:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}