@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('JosefinSans-Regular'),
       url("../../fonts/JosefinSans-Regular.woff2") format("woff2"),
       url("../../fonts/JosefinSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'InriaSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(InriaSans-Regular''),
       url("../../fonts/InriaSans-Regular.woff2") format("woff2"),
       url("../../fonts/InriaSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'InriaSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('InriaSans-Bold'),
       url("../../fonts/InriaSans-Bold.woff2") format("woff2"),
       url("../../fonts/InriaSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('JosefinSans-Bold'),
       url("../../fonts/JosefinSans-Bold.woff2") format("woff2"),
       url("../../fonts/JosefinSans-Bold.woff") format("woff");
}