.footer {
  padding: 118px 0 50px 0;

  @media (max-width: 991px) {
    padding: 80px 0 54px 0;
  }

  @media (max-width: 600px) {
    padding: 40px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 138px;

    @media (max-width: 1400px) {
      gap: 30px 70px;
    }

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      justify-content: flex-start;
    }

    @media (max-width: 600px) {
      row-gap: 20px;
    }
  }

  &__left {
    flex: 0 1 39%;

    @media (max-width: 991px) {
      flex: 0 1 100%;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    color: #FFFFFF;

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }

  &__right {
    flex: 0 1 47%;

    @media (max-width: 991px) {
      flex: 0 1 100%;
    }
  }

  &__wrapper-logo {
    max-width: 211px;
    height: 75px;
    margin-bottom: 30px;
    margin-left: auto;
    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    @media (max-width: 991px) {
      margin-bottom: 22px;
    }

    @media (max-width: 600px) {
      margin: 0 auto 20px auto;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 25px;

    @media (max-width: 991px) {
      gap: 20px;
    }

    @media (max-width: 600px) {
      justify-content: center;
      gap: 10px;
    }
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    transition: color .2s ease-in-out;

    @media (max-width: 600px) {
      font-size: 15px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #650F09;
      }
    }

    &:active {
      color: #650F09;
      transition-duration: .1s;
    }
  }
}