.games {
  padding: 50px 0 95px 0;
  background-color: #650F09;

  @media (max-width: 991px) {
    padding: 100px 0 52px 0;
  }

  @media (max-width: 600px) {
    padding: 59px 0 66px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 20px;

    @media (max-width: 600px) {
      row-gap: 43px;
    }
  }

  &__item {
    flex: 0 0 453px;

    @media (max-width: 991px) {
      flex: 0 0 342px;
    }

    @media (max-width: 600px) {
      flex: 0 0 100%;
    }
  }

  &__image {
    height: 437px;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 991px) {
      height: 333px;
    }

    @media (max-width: 600px) {
      height: 330px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__links {
    text-align: center;
    margin-top: -34px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}
  }

  &__play-link {
    display: inline-block;
    padding: 10.5px 116px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.4;
    color: #FFFFFF;
    background-color: #420805;
    border-radius: 33px;
    margin-bottom: 7px;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: #420805;
        background-color: #ffffff;
      }
    }

    &:active {
      color: #420805;
      background-color: #ffffff;
      transition-duration: .1s;
    }

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 30px;
      padding: 10.5px 70px;
    }
  }

  &__top-link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.4;
    color: #FFFFFF;
    padding: 10px 33px;
    border: 3px solid #FFFFFF;
    border-radius: 33px;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: #420805;
        border-color: #420805;
      }
    }

    &:active {
      color: #420805;
      border-color: #420805;
      transition-duration: .1s;
    }

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 21px;
      padding: 10px 25px;
    }
  }
}

.game {
  margin-bottom: 80px;
  @media (max-width: 600px) {
    margin-bottom: 60px;
  }
  &__content {
    padding-top: 160px;
    @media (max-width: 991px) {
      padding-top: 140px;
    }
    @media (max-width: 600px) {
      padding-top: 100px;
    }
  }
  &__content {
    height: 800px;
    padding-top: 160px;
    @media (max-width: 991px) {
      padding-top: 140px;
    }
    @media (max-width: 768px) {
      height: 400px;
    }
    @media (max-width: 600px) {
      padding-top: 100px;
    }
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

