@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Livvic-Regular'),
       url("../../fonts/Livvic-Regular.woff2") format("woff2"),
       url("../../fonts/Livvic-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Livvic-Medium'),
       url("../../fonts/Livvic-Medium.woff2") format("woff2"),
       url("../../fonts/Livvic-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Centur-Gothic-bold'),
       url("../../fonts/Centur-Gothic-bold.woff2") format("woff2"),
       url("../../fonts/Centur-Gothic-bold.woff") format("woff");
}