$maxWidth: 1920;
$maxWidthContainer: 1320;

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.forms {
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: space-evenly;
  }

  &__wrapper-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 500px;
    height: 300px;
    padding: 35px;
    border: 1px solid #ffffff;
    background-image: url(../../img/reg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .4s ease-in-out;
    animation: backInLeft;
    animation-duration: 1s;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.4);
    }
  }

  &__text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 70%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    transition: all .2s ease-in-out;
    padding-bottom: 40px;
  }

  &__btn {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, 35%);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    background: linear-gradient(to right, #3494e6, #ec6ead);
    background-color: transparent;
    padding: 10px 20px;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
      z-index: -1;
      transform: translateY(-100%);
      transition: transform .2s ease-in-out;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 100px;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: background-color .2s ease-in-out;

    & span {
      position: relative;
      top: -1px;
      font-size: 18px;
      line-height: 1;
      font-weight: 700;
      color: #ffffff;
      transition: color .2s ease-in-out;
    }
  }

  &__wrapper-log {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 500px;
    height: 300px;
    padding: 35px;
    border: 1px solid #ffffff;
    background-image: url(../../img/vhod.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .4s ease-in-out;
    animation: backInRight;
    animation-duration: 1s;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.4);
    }
  }
}

.sign {
  position: relative; 
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .4s ease-in-out;
  z-index: 2;

  &__input {
    width: 100%;
    height: 60px;
    @include adaptiv-font(24, 18);
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 0 15px;
    margin-bottom: 20px;
    background-color: transparent;
    transition: border-color .2s ease-in-out;
    &:focus-visible {
      border-color: #DA70D6;
    }

    &::placeholder {
      @include adaptiv-font(20, 16);
      line-height: 1;
      font-weight: 400;
      color: #ffffff;
      padding: 5px 0;
    }
  }

  &__btn {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    background: linear-gradient(to right, #3494e6, #ec6ead);
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    transition: color .2s ease-in-out;
  }
}

.log {
  position: relative;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .4s ease-in-out;
  z-index: 2;

  &__input {
    width: 100%;
    height: 60px;
    @include adaptiv-font(24, 18);
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 0 15px;
    margin-bottom: 20px;
    background-color: transparent;
    transition: border-color .2s ease-in-out;
    &:focus-visible {
      border-color: #DA70D6;
    }

    &::placeholder {
      @include adaptiv-font(20, 16);
      line-height: 1;
      font-weight: 400;
      color: #ffffff;
      padding: 5px 0;
    }
  }

  &__btn {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    background: linear-gradient(to right, #3494e6, #ec6ead);
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    transition: color .2s ease-in-out;
  }
}

.log-active {
  height: 500px;

  & .log {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }

  & .log-text {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  & .log-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  & .log-close {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }
}

.sign-active {
  height: 500px;

  & .sign {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }

  & .sign-text {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  & .sign-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  & .sign-close {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }
}

@media (max-width: 1150px) {
  .forms {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__wrapper-sign {
      width: 100%;
      margin-bottom: 30px;
    }

    &__wrapper-log {
      width: 100%;
    }
  }
}