@import url(../../css-1);

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  border: 0
}

footer {
  padding: 15px 0 !important;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0;
  border: 0
}

body,
html {
  height: 100%;
  overflow: hidden
}

body {
  overflow: auto;
  font-weight: 400;
  line-height: 1;
  color: #b9b9f8;
  font-family: "Lato", sans-serif, monospace;
  font-size: 1rem;
  background-color: #01083c
}

b,
strong {
  font-weight: 700
}

em,
i {
  font-style: normal
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
  outline: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: none
}

table {
  border-spacing: 0;
  border-collapse: collapse
}

* {
  outline: 0;
  box-sizing: border-box
}

:not(input) {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

@media screen and (min-width:80px) and (max-width:159px) {
  html {
    font-size: 1px
  }
}

@media screen and (min-width:160px) and (max-width:239px) {
  html {
    font-size: 2px
  }
}

@media screen and (min-width:240px) and (max-width:319px) {
  html {
    font-size: 3px
  }
}

@media screen and (min-width:320px) and (max-width:399px) {
  html {
    font-size: 4px
  }
}

@media screen and (min-width:400px) and (max-width:479px) {
  html {
    font-size: 5px
  }
}

@media screen and (min-width:480px) and (max-width:559px) {
  html {
    font-size: 6px
  }
}

@media screen and (min-width:560px) and (max-width:639px) {
  html {
    font-size: 7px
  }
}

@media screen and (min-width:640px) and (max-width:719px) {
  html {
    font-size: 8px
  }
}

@media screen and (min-width:720px) and (max-width:799px) {
  html {
    font-size: 9px
  }
}

@media screen and (min-width:800px) and (max-width:879px) {
  html {
    font-size: 10px
  }
}

@media screen and (min-width:880px) and (max-width:959px) {
  html {
    font-size: 11px
  }
}

@media screen and (min-width:960px) and (max-width:1039px) {
  html {
    font-size: 12px
  }
}

@media screen and (min-width:1040px) and (max-width:1119px) {
  html {
    font-size: 13px
  }
}

@media screen and (min-width:1120px) and (max-width:1199px) {
  html {
    font-size: 14px
  }
}

@media screen and (min-width:1200px) and (max-width:1279px) {
  html {
    font-size: 15px
  }
}

@media screen and (min-width:1280px) and (max-width:1359px) {
  html {
    font-size: 16px
  }
}

@media screen and (min-width:1360px) and (max-width:1439px) {
  html {
    font-size: 17px
  }
}

@media screen and (min-width:1440px) {
  html {
    font-size: 18px
  }
}

body.backdrop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: #000;
  z-index: 5
}

body.backdrop .close-backdrop {
  display: block !important
}

img {
  object-fit: contain
}

button {
  color: #fff;
  font-family: "Lato", sans-serif, monospace;
  font-size: 1rem;
  border: 0;
  cursor: pointer
}

h1,
h2,
h3 {
  color: #ffd200;
  font-size: 1.625rem
}

h2,
h3 {
  font-size: 1.5rem
}

h3 {
  font-size: 1.375rem
}

.hidden {
  display: none !important
}

header {
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #2f2f82;
  box-shadow: 0 2px .5625rem 0 rgba(0, 0, 0, .3);
  background: #212269;
  background: linear-gradient(to bottom, #212269 45%, #000951 100%);
  grid-template-columns: 4.375rem 13.125rem 13.125rem auto 18.4375rem 12.1875rem
}

header button {
  width: 150px;
  height: 2.5rem;
  font-size: .8125rem;
  font-weight: 600;
  margin-top: .625rem;
  border-radius: 3px
}

header .best-casino,
header .nav-toggle {
  border-right: 1px solid rgba(185, 185, 248, .1)
}

header .nav-toggle {
  visibility: hidden;
  cursor: pointer;
  grid-column: 1
}

header .nav-toggle img {
  width: 3.75rem;
  height: 3.75rem
}

header .best-casino {
  grid-column: 2
}

header .best-casino img {
  width: 13.125rem;
  height: 3.75rem
}

header .award {
  margin-left: 1rem;
  grid-column: 1
}

header .award img {
  width: 12.5rem;
  height: 3.4375rem
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 4
}

header .logo a {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid rgb(185, 185, 248);
  font-size: 18px;
  line-height: 1;
}

footer .logo img,
header .logo img {
  width: 10.125rem;
  height: 3.125rem;
  margin-top: .3125rem
}

header .signup {
  grid-column: 5;
  justify-self: right
}

header .signup button {
  width: 150px;
  margin-left: 15px;
  background-color: #01b33a
}

header .signup button:hover {
  background-color: #05f552
}

header .login {
  grid-column: 6;
  justify-self: center
}

header .login button {
  position: relative;
  right: 0;
  background-color: #01b33a
}

header .login button:hover {
  filter: brightness(105%)
}

nav.topnav {
  font-size: 1.875rem;
  background-color: #000951
}

nav.topnav a {
  height: 5.625rem;
  display: block;
  line-height: 5.625rem;
  padding-left: .625rem;
  border-bottom: 1px solid #212269
}

nav.topnav a span {
  display: inline-block;
  line-height: 2.0625rem;
  vertical-align: middle
}

nav.topnav a span img {
  padding-right: .625rem;
  padding-bottom: 2px
}

nav.topnav a .caret {
  position: absolute;
  right: 1.25rem;
  bottom: 1.25rem;
  display: inline-block;
  font-size: 3.75rem;
  font-weight: 700;
  border: 0
}

sidebar.settings {
  position: absolute;
  top: 6.25rem;
  right: 0;
  z-index: 1
}

sidebar.settings .toggle {
  position: absolute;
  right: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #2f2f82;
  border-radius: 1.25rem;
  background-image: url('../../img/default/website/icons/cog.merkur.png'), linear-gradient(to bottom, #212269 0%, #000951 100%);
  background-position: center;
  background-size: 90%, auto;
  cursor: pointer
}

sidebar.settings ul {
  position: absolute;
  right: 0;
  padding: .625rem .9375rem;
  border-radius: .3125rem 0 0 .3125rem;
  opacity: 0;
  background-color: #000951;
  transition: opacity 300ms ease-in-out;
  pointer-events: none
}

sidebar.settings ul.visible {
  opacity: 1;
  pointer-events: all
}

sidebar.settings ul li {
  color: rgba(185, 185, 248, .8);
  white-space: nowrap;
  padding: .25rem
}

sidebar.settings ul li:hover {
  background-color: rgba(255, 255, 255, .25)
}

sidebar.settings ul li.head {
  color: #b9b9f8;
  font-weight: 900
}

button,
sidebar.settings ul li.head:hover {
  background: 0 0
}

sidebar.settings ul li img {
  margin-right: .3125rem
}

sidebar.settings ul li.selected {
  background-color: rgba(255, 255, 255, .15)
}

sidebar.settings ul li.selected:hover {
  background-color: rgba(255, 255, 255, .25)
}

main,
nav.topnav a {
  position: relative
}

section.login-signup {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  z-index: 5
}

section.login-signup .tabs-button {
  position: relative;
  width: 20.625rem;
  display: flex;
  margin: 0 auto
}

section.login-signup .tabs-button button {
  width: 10rem;
  height: 3.5rem;
  display: flex;
  color: #b9b9f8;
  font-size: .6875rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  padding-top: .875rem;
  border: 2px solid #212269;
  border-bottom: 0;
  border-radius: .625rem .625rem 0 0;
  background: #000951;
  cursor: pointer;
  justify-content: center;
  z-index: 9
}

section.login-signup .tabs-button button:last-child {
  margin-left: .625rem
}

section.login-signup .tabs-button button.active {
  height: 2.8125rem;
  border-color: #f63434;
  z-index: 11
}

section.login-signup section {
  width: 20.625rem;
  height: 32.5rem;
  margin-top: 1.25rem;
  background-color: #000951
}

section.login-signup section.login,
section.login-signup section.signup {
  position: relative;
  height: 35rem;
  display: none;
  text-align: center;
  padding: 0 2.375rem;
  margin-top: -.8125rem;
  border: 2px solid #f63434;
  border-radius: .9375rem;
  background: linear-gradient(to bottom, #000951 0%, #212269 40%, #2f2f82 100%);
  align-items: center;
  justify-content: center;
  z-index: 10
}

section.login-signup section.login.active,
section.login-signup section.signup.active {
  display: flex;
  padding-top: 1.25rem;
  align-items: flex-start
}

section.login-signup section.login .header-text,
section.login-signup section.signup .header-text {
  margin-bottom: 1.5625rem
}

section.login-signup section.login .header-text b,
section.login-signup section.signup .header-text b {
  color: #ffd200;
  font-size: 1.6875rem;
  font-weight: 700
}

section.login-signup section.login .header-text p,
section.login-signup section.signup .header-text p {
  color: #b9b9f8;
  font-size: 1.0625rem;
  margin-top: .8125rem
}

section.login-signup section.login .login-input input,
section.login-signup section.signup .login-input input {
  width: 100%;
  height: 2.5rem;
  display: block;
  color: #151515;
  font-size: .875rem;
  padding-left: .875rem;
  margin-bottom: .375rem;
  border: 2px solid #fff;
  border-radius: .375rem;
  box-shadow: 0 0 .375rem #777 inset;
  background: #fff
}

section.login-signup section.login .login-input input:focus,
section.login-signup section.signup .login-input input:focus {
  outline: 0
}

section.login-signup section.login .login-input button,
section.login-signup section.signup .login-input button {
  width: 100%;
  height: 3.75rem;
  color: #fff;
  font-size: 1.1875rem;
  font-weight: 700;
  margin-top: .625rem;
  border: 2px solid #03ff03;
  border-radius: .375rem;
  background: linear-gradient(to bottom, #33d402 15%, #2f8d35 62%, #33d402 94%);
  cursor: pointer
}

section.login-signup section.login .login-input button:hover,
section.login-signup section.signup .login-input button:hover {
  filter: brightness(1.08)
}

section.login-signup section.login .login-input button:focus,
section.login-signup section.login .social-icon button:focus,
section.login-signup section.signup .login-input button:focus,
section.login-signup section.signup .social-icon button:focus {
  outline: 0
}

section.login-signup section.login .login-input p,
section.login-signup section.signup .login-input p {
  color: #b9b9f8;
  font-size: .8125rem;
  margin-top: .9375rem;
  opacity: 1
}

section.login-signup section.login .login-input .checkbox,
section.login-signup section.signup .login-input .checkbox {
  display: flex;
  margin-top: .3125rem;
  align-items: center
}

section.login-signup section.login .login-input .checkbox input,
section.login-signup section.signup .login-input .checkbox input {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  border: 1px solid red;
  flex-shrink: 0
}

section.login-signup section.login .login-input .checkbox .checkbox-text,
section.login-signup section.signup .login-input .checkbox .checkbox-text {
  color: #b9b9f8;
  font-size: .5625rem;
  line-height: 12px;
  margin-left: .625rem
}

section.login-signup section.login .login-input .checkbox label,
section.login-signup section.signup .login-input .checkbox label {
  text-align: left
}

section.login-signup section.login .login-input .checkbox a,
section.login-signup section.signup .login-input .checkbox a {
  font-weight: 600;
  text-decoration: underline
}

section.login-signup section.login .muted,
section.login-signup section.signup .muted {
  color: rgba(185, 185, 248, .65);
  font-size: .6875rem;
  text-align: center;
  margin-top: .9375rem;
  opacity: .65
}

section.login-signup section.login .social-icon,
section.login-signup section.signup .social-icon {
  display: flex;
  margin-top: .9375rem;
  justify-content: space-between
}

section.login-signup section.login .social-icon button,
section.login-signup section.signup .social-icon button {
  height: 2.5rem;
  display: flex;
  margin: 0 .625rem;
  border-radius: .375rem;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 0
}

section.login-signup section.login .social-icon button:first-child,
section.login-signup section.signup .social-icon button:first-child {
  margin-left: 0
}

section.login-signup section.login .social-icon button:last-child,
section.login-signup section.signup .social-icon button:last-child {
  margin-right: 0
}

section.login-signup section.login .social-icon button:hover,
section.login-signup section.signup .social-icon button:hover {
  filter: brightness(108%)
}

section.login-signup section.login .social-icon button.fbook,
section.login-signup section.signup .social-icon button.fbook {
  border: 2px solid #5c8be1;
  background-color: #3b78e7;
  background-image: url('../../img/default/website/icons/social/fbook.png')
}

section.login-signup section.login .social-icon button.google,
section.login-signup section.signup .social-icon button.google {
  border: 2px solid #fff;
  background-color: #fff;
  background-image: url('../../img/default/website/icons/social/google.png')
}

section.login-signup section.login .social-icon button.google:hover,
section.login-signup section.signup .social-icon button.google:hover {
  box-shadow: inset 0 0 0 4px #e8dada;
  filter: none
}

section.login-signup section.login .social-icon button.nk,
section.login-signup section.signup .social-icon button.nk {
  border: 2px solid #33b1ea;
  background-color: #005aa0;
  background-image: url(/img/default/website/icons/social/nk.png)
}

section.login-signup section.login .social-icon button.vk,
section.login-signup section.signup .social-icon button.vk {
  border: 2px solid #305075;
  background-color: #507299;
  background-image: url('../../img/default/website/icons/social/vk.png')
}

section.login-signup section.login .social-icon button.ok,
section.login-signup section.signup .social-icon button.ok {
  border: 2px solid #ffc948;
  background-color: #ee8208;
  background-image: url('../../img/default/website/icons/social/ok.png')
}

section.login-signup section.login .after-form,
section.login-signup section.signup .after-form {
  margin-top: 1.25rem
}

section.login-signup section.login .after-form a,
section.login-signup section.signup .after-form a {
  color: #b9b9f8;
  font-size: .8125rem;
  text-decoration: underline
}

section.login-signup section.login .signup-more,
section.login-signup section.signup .signup-more {
  cursor: pointer
}

section.login-signup section.login {
  border-top-right-radius: 0
}

section.login-signup section.signup {
  border-top-left-radius: 0
}

section.login-signup section.signup .instant-play {
  width: 100%
}

section.login-signup section.signup .instant-play .checkbox-text {
  color: #b9b9f8;
  font-size: .625rem;
  margin-top: 1.25rem
}

section.login-signup section.signup .instant-play .separator {
  display: flex;
  color: #da8cf4;
  margin: 2.5rem 0;
  justify-content: space-between
}

section.login-signup section.signup .instant-play .separator .center {
  margin-top: .4375rem
}

section.login-signup section.signup .instant-play button {
  width: 100%;
  height: 3.75rem;
  color: #fff;
  font-size: 1.1875rem;
  font-weight: 700;
  margin-top: .625rem;
  border: 2px solid #03ff03;
  border-radius: .375rem;
  background: linear-gradient(to bottom, #33d402 15%, #2f8d35 62%, #33d402 94%);
  cursor: pointer
}

section.login-signup section.signup .instant-play button:hover {
  filter: brightness(1.08)
}

section.login-signup section.signup .instant-play button:focus {
  outline: 0
}

section.login-signup section.signup .instant-play button.signup {
  border: 2px solid #da8cf4;
  background: linear-gradient(to bottom, #912cc5 15%, #731994 62%, #912cc5 94%)
}

section.login-signup section.signup .instant-play .signup-text {
  font-size: 1.1875rem;
  font-weight: 700;
  margin-bottom: 1.25rem
}

section.login-signup .close-backdrop {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 2.5rem;
  height: 2.5rem;
  display: none;
  background: url('../../img/default/website/icons/close.merkur.png') no-repeat;
  cursor: pointer;
  z-index: 10
}

article.static {
  padding: 1.25rem;
  border-top: 1px solid #2f2f82;
  background: #01083c;
  background: linear-gradient(to bottom, #212269 0%, #01083c 100%)
}

article.static h1 {
  line-height: 1.875rem;
  text-align: center
}

.alert,
article.static>section {
  left: 50%;
  transform: translateX(-50%)
}

article.static>section {
  width: 62.5rem;
  margin: 0;
  position: relative
}

article.static>section h1,
article.static>section h2,
article.static>section h3,
article.static>section h4 {
  margin-top: 1.25rem;
  margin-bottom: .625rem
}

article.static>section h3.subtitle {
  color: #b9b9f8;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0
}

article.static>section p {
  margin-bottom: .625rem
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

footer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 4;
  margin-top: 20px;
}

footer .logo a {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid rgb(185, 185, 248);
  font-size: 18px;
  line-height: 1;
}

footer .jusprog,
footer ul {
  display: flex;
  text-align: center;
  justify-content: center
}

footer ul li {
  margin: .9375rem
}

footer .jusprog {
  width: 100%;
  margin: .625rem
}

footer .jusprog img {
  margin: 0 .625rem
}

footer .copyright,
footer p {
  width: 100%;
  display: block;
  font-size: .875rem;
  text-align: center;
  margin: .625rem
}

.links {
  margin-bottom: 20px;
}

.links a {
  font-size: 18px;
  line-height: 1;
}

footer .alternative-links {
  display: grid;
  margin-bottom: 1.875rem;
  grid-column-gap: .625rem;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 1fr)
}

footer .alternative-links h2 {
  color: #ffd200;
  font-size: 1.25rem;
  font-weight: 700;
  margin: .625rem auto 1.25rem;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3
}

footer .alternative-links div {
  padding: .3125rem;
  background: #44214d
}

footer .alternative-links div img {
  padding-right: .3125rem
}

body {
  display: flex;
  flex-direction: column;
}

body.mobile header {
  grid-template-columns: auto 4.375rem
}

body.mobile header .award,
body.mobile header .best-casino,
body.mobile header .login,
body.mobile header .signup {
  display: none
}

body.mobile header .logo {
  text-align: left;
  grid-column: 1
}

body.mobile header .partner-logo {
  position: absolute;
  left: 0;
  right: 0;
  height: 3.875rem;
  display: flex;
  align-items: center;
  justify-content: center
}

body.mobile header .partner-logo img {
  height: 3.75rem;
  margin-left: .3125rem
}

body.mobile header .nav-toggle {
  visibility: visible;
  grid-column: 2
}

main {
  flex: 1 1 auto;
}

body.mobile main article.static>section {
  width: 100%;
  font-size: 1.3125rem;
  margin: 0
}

body.mobile main article.static>section h1,
body.mobile main article.static>section h2,
body.mobile main article.static>section h3,
body.mobile main article.static>section h4 {
  font-size: 1.5625rem
}

body.mobile footer {
  font-size: 1.375rem;
  padding: 0 1.25rem 1.25rem
}

footer p {
  font-size: 16px !important;
  line-height: 1;
  margin: 0;
}

.copyright {
  font-size: 16px !important;
  line-height: 1;
  margin: 0;
}

body.mobile footer .copyright,
body.mobile footer p {
  font-size: 16px !important;
  line-height: 1;
  margin: 0;
}

body.mobile footer .alternative-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center
}

body.mobile footer .alternative-links div {
  padding: .625rem 0
}

@media (max-width: 600px) {
  footer p {
    font-size: 14px !important;
    line-height: 1;
    margin: 0;
  }

  .copyright {
    font-size: 14px !important;
    line-height: 1;
    margin: 0;
  }
}

@media only screen and (max-width:600px) {
  html {
    font-size: .625rem
  }

  body {
    overflow-x: hidden
  }

  footer {
    width: 100%;
    margin-left: 0;
    transform: none
  }

  footer ul {
    flex-wrap: wrap
  }

  sidebar.settings {
    display: none
  }
}

.alert {
  position: fixed;
  top: 50%;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  background: #333;
  background-image: linear-gradient(to bottom, #444, #222);
  z-index: 99
}

.alert.error {
  background: #b02222;
  background-image: linear-gradient(to bottom, #e22, #b02222)
}

.alert.success {
  background: #70a800;
  background-image: linear-gradient(to bottom, #95cc2a, #70a800)
}

.alert span {
  display: block;
  font-weight: 500;
  padding: .75rem 1.25rem;
  border-radius: 3px
}

.breadcrumb {
  list-style: none;
  color: rgba(255, 255, 255, .8);
  padding: .5rem .9375rem;
  border-radius: .25rem;
  background-color: rgba(255, 255, 255, .25)
}

.breadcrumb li {
  display: inline-block
}

.breadcrumb li+li:before {
  content: '/\00a0';
  color: #ccc;
  padding: 0 .3125rem
}

.breadcrumb li.active {
  color: #ac9d9d
}

.about-u {
  padding: 50px 0;
}


.about-u__title {
  font-size: 29px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.about-u__text {
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.about-u__text:not(:last-child) {
  margin-bottom: 20px;
}

.games-u {
  padding-bottom: 50px;
}

.games-u__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.games-u__item {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #5153aa;
}

.games-u__image {
  height: 300px;
  margin-bottom: 20px;
}

.games-u__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.games-u__name {
  flex: 1 1 auto;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

.games-u__name a {
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  font-style: normal;
  color: #ffffff;
}

.games-u__play {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 20px;
}


.games-u__play a {
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  font-style: normal;
  color: #ffffff;
  padding: 10px 30px;
  background-color: #212269;
}

.play-u {
  padding: 50px 0;
}


.play-u__title {
  font-weight: 600;
  font-style: normal;
  font-size: 34px;
  line-height: 34px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}

.play-u__game {
  height: 700px;
}

.play-u__game iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .play-u__title {
    font-size: 24px;
    line-height: 24px;
  }

  .play-u__game {
    height: 350px;
  }
}

.sec-article {
  padding: 50px 0;
}

.sec-article div:not(:last-child) {
  margin-bottom: 20px;
}

.sec-article h1 {
  margin-bottom: 20px;
}
.sec-article h2 {
  margin-bottom: 20px;
}
.sec-article h3 {
  margin-bottom: 20px;
}

.sec-article p:not(:last-child) {
  margin-bottom: 20px;
}
.sec-article ul:not(:last-child) {
  margin-bottom: 20px;
}
.sec-article li:not(:last-child) {
  margin-bottom: 10px;
}