.no-webp .about {
  background-image: url(../../img/about.png); }
.about {
  overflow: hidden;
  padding-top: calc(38px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(38px + 30 * ((100vw - 320px) / 1600));
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 1024px) {
  .about {
    padding-bottom: 400px;
    background-position: bottom;
  }
}
@media (max-width: 768px) {
  .no-webp .about {
    background-image: url(../../img/about_768.png); }
  .about {
    padding-bottom: 750px;
  }
}
@media (max-width: 500px) {
  .no-webp .about {
    background-image: url(../../img/about_320.png); }
  .about {
    padding-bottom: 245px;
    background-position: bottom right;
  }
}
.about__title {
  font-family: "Moul";
  font-style: normal;
  font-weight: 400;
  line-height: calc(40px + 31 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: #2C2C2C;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .about__title {
    font-size: calc(20px + 49.3 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .about__title {
    font-size: calc(20px + 29 * (100vw / 1920));
  }
}
@media (max-width: 768px) {
  .about__title {
    margin-bottom: 30px;
  }
}
.about__text {
  font-style: normal;
  font-weight: 400;
  line-height: calc(30px + 16 * ((100vw - 320px) / 1600));
  color: #000000;
  margin: 0;
}
@media (max-width: 767px) {
  .about__text {
    font-size: calc(20px + 20.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .about__text {
    font-size: calc(20px + 12 * (100vw / 1920));
  }
}
.about__text:not(:last-child) {
  margin-bottom: 30px;
}
.webp .about { background-image: url(../../img/about.webp); }
@media (max-width: 768px) {
  .webp .about { background-image: url(../../img/about_768.webp); } }
@media (max-width: 500px) {
  .webp .about { background-image: url(../../img/about_320.webp); } }
