.politick {
  padding-top: calc(70px + 80 * ((100vw - 320px) / 1600));
  padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1600));
}
.politick h1 {
  font-family: "Moul";
  font-style: normal;
  font-weight: 400;
  line-height: calc(32px + 14 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: #2C2C2C;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .politick h1 {
    font-size: calc(22px + 17 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .politick h1 {
    font-size: calc(22px + 10 * (100vw / 1920));
  }
}
.politick h2 {
  font-family: "Moul";
  font-style: normal;
  font-weight: 400;
  line-height: calc(30px + 8 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: #2C2C2C;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .politick h2 {
    font-size: calc(20px + 13.6 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .politick h2 {
    font-size: calc(20px + 8 * (100vw / 1920));
  }
}
.politick p {
  font-style: normal;
  font-weight: 400;
  line-height: calc(28px + 6 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: #2C2C2C;
}
@media (max-width: 767px) {
  .politick p {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .politick p {
    font-size: calc(18px + 6 * (100vw / 1920));
  }
}
.politick p:not(:last-child) {
  margin-bottom: 30px;
}
.politick ul {
  padding: 0;
  margin: 0;
}
.politick ul:not(:last-child) {
  margin-bottom: 30px;
}
.politick li {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: calc(26px + 6 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: #2C2C2C;
}
@media (max-width: 767px) {
  .politick li {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .politick li {
    font-size: calc(16px + 6 * (100vw / 1920));
  }
}
.politick li:not(:last-child) {
  margin-bottom: 30px;
}