.about {
  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 600px) {
      margin-bottom: 70px;
    }
  }

  &__title {
    font-family: 'opensans';
    font-weight: 700;
    font-size: 54px;
    line-height: 1.27;
    text-align: center;
    color: #393939;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 35px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 35px;
      }
    }
  }

  &__content {}

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.37;
    text-align: center;
    color: #383838;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}