.advantages {
  &:not(:last-child) {
    margin-bottom: 46px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 70px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 1120px) {
      flex-direction: column;
      gap: 40px;
    }

    @media (max-width: 600px) {
      gap: 30px;

    }
  }

  &__list {
    flex: 0 1 795px;
    @media (max-width: 1120px) {
      flex: auto;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    gap: 49px;
    @media (max-width: 991px) {
      gap: 20px;
    }
    @media (max-width: 600px) {
          gap: 30px;
    }
    &:not(:last-child) {
      margin-bottom: 41px;
      @media (max-width: 600px) {
        margin-bottom: 25px;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 107px;
    @media (max-width: 991px) {
      width: 96px;
      height: 105px; 
    }
    @media (max-width: 600px) {
      width: 57px;
      height: 62px;
    }
    & img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__descr {}

  &__strong {
    display: block;
    font-family: 'opensans';
    font-weight: 700;
    font-size: 39px;
    line-height: 1.28;
    color: #383838;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 30px;
    }

    &:not(:last-child) {
      @media (max-width: 991px) {
        margin-bottom: 10px;
      }

      @media (max-width: 600px) {}
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 1.25;
    color: #383838;

    @media (max-width: 600px) {
      font-size: 20px;
    }
  }

  &__image {
    position: relative;
    flex: 0 1 572px;
    padding-bottom: 39%;
    @media (max-width: 1120px) {
      flex: auto;
      width: 100%;
      padding-bottom: 51.5%;
    }
    @media (max-width: 600px) {
      padding-bottom: 92.5%;
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}