@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat'),
       url("../../fonts/Montserrat-Regular.woff2") format("woff2"),
       url("../../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins-Regular'),
       url("../../fonts/Poppins-Regular.woff2") format("woff2"),
       url("../../fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat-Medium'),
       url("../../fonts/Montserrat-Medium.woff2") format("woff2"),
       url("../../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins-SemiBold'),
       url("../../fonts/Poppins-SemiBold.woff2") format("woff2"),
       url("../../fonts/Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins-Bold'),
       url("../../fonts/Poppins-Bold.woff2") format("woff2"),
       url("../../fonts/Poppins-Bold.woff") format("woff");
}