.footer {
  padding: 15px 0 77px 0;

  @media (max-width: 991px) {
    padding: 10px 0 70px 0;
  }

  @media (max-width: 600px) {
    padding-bottom: 65px;
  }

  &__container {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 40px 20px;
    align-items: center;
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column-reverse;

    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 34px;
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    transition: color .2s ease-in-out;

    @media (max-width: 600px) {
      font-size: 17px;
      line-height: 23px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #CFA64F;
      }
    }

    &:active {
      color: #CFA64F;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
  }
}