.hero {

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 26px;
    background-image: url(../../img/hero/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 629px;
    width: 100%;
    @media (max-width: 991px) {
      min-height: 501px;
      background-image: url(../../img/hero/image_2.jpg);
    }

    @media (max-width: 600px) {
      min-height: 521px;
      background-image: url(../../img/hero/image_3.jpg);
    }
  }

  &__body {
    max-width: 687px;
    text-align: right;

    @media (max-width: 991px) {
      max-width: 350px;
    }
  }

  &__strong {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 5px;

    @media (max-width: 991px) {
      font-size: 21px;
      line-height: 29px;
    }

    @media (max-width: 600px) {
      font-size: 19px;
      line-height: 26px;
    }
  }

  &__title {
    font-family: 'markoone';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 128.42%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;

    @media (max-width: 991px) {
      font-size: 32px;
    }
    @media (max-width: 600px) {
      font-size: 26px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 21px;
      line-height: 29px;
    }

    @media (max-width: 600px) {
      font-size: 19px;
      line-height: 26px;
    }
  }
}