@font-face {
  font-family: 'JejuGothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('JejuGothic-Regular'),
       url("../../fonts/JejuGothic-Regular.woff2") format("woff2"),
       url("../../fonts/JejuGothic-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Khula-Regular'),
       url("../../fonts/Khula-Regular.woff2") format("woff2"),
       url("../../fonts/Khula-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Khula-Bold'),
       url("../../fonts/Khula-Bold.woff2") format("woff2"),
       url("../../fonts/Khula-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Kanit-ExtraBold'),
       url("../../fonts/Kanit-ExtraBold.woff2") format("woff2"),
       url("../../fonts/Kanit-ExtraBold.woff") format("woff");
}