.top {
  margin-bottom: 97px;

  @media (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__wrapper-title {
    width: 80%;
    margin-left: auto;
    margin-bottom: 172px;
    margin-top: 80px;
    @media (max-width: 991px) {
      width: 100%;
      margin-bottom: 80px;
      margin-top: 0;
    }
  }

  &__title {
    font-family: 'karma';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 119.8%;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 49px;
    }

    @media (max-width: 600px) {
      font-size: 43px;
    }
  }

  &__content {}

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 37px 30px;
  }

  &__item {
    width: 454px;
    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &__image {
    height: 497px;
    border-radius: 14px;
    overflow: hidden;
    @media (max-width: 991px) {
      height: 375px;
    }

    @media (max-width: 600px) {
      height: 367px;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    padding: 15px 0;
    @media (max-width: 600px) {
      padding: 10px 0;
    }
  }

  &__descr-top {
    margin-bottom: 18px;
    @media (max-width: 991px) {
      margin-bottom: 10px;
    }
    @media (max-width: 600px) {
      margin-bottom: 14px;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 112.4%;
    color: #D7C20C;
  }

  &__rat {
    display: inline-block;
    width: 35px;
    height: 35px;
    @media (max-width: 991px) {
      width: 23px;
      height: 23px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__descr-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__prises {
    display: inline-block;
    max-width: 50px;
    height: 47px;
    @media (max-width: 991px) {
      width: 37px;
      height: 36px;
    }
    @media (max-width: 600px) {
      width: 36px;
      height: 35px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 112.4%;
    text-align: center;
    color: #FFFFFF;
    width: 216px;
    @media (max-width: 991px) {
      width: 159px;
    }
    @media (max-width: 600px) {
      width: 158px;
    }
  }

  &__play {
    display: inline-block;
    width: 62px;
    height: 62px;
    transition: opacity .2s ease-in-out;
    @media (max-width: 991px) {
      width: 59px;
      height: 59px;
    }
    @media (max-width: 600px) {
      width: 45px;
      height: 45px;
    }

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
    @media (any-hover: hover) {
    &:hover {
      opacity: .5;
    }
    }
  }
}