@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kanit-Regular'),
       url("../../fonts/Kanit-Regular.woff2") format("woff2"),
       url("../../fonts/Kanit-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Langar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Langar-Regular'),
       url("../../fonts/Langar-Regular.woff2") format("woff2"),
       url("../../fonts/Langar-Regular.woff") format("woff");
}