.block-navigation {
  background-color: #943340;
  padding: 40px 0;
  margin-bottom: 108px;
  @media (max-width: 991px) {
    margin-bottom: 114px;
  }
  @media (max-width: 600px) {
    margin-bottom: 108px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 80px;
    @media (max-width: 600px) {
      column-gap: 25px;
    }
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 93.9%;
    color: #FFFFFF;
    transition: color .2s ease-in-out;
    @media (max-width: 991px) {
      font-size: 20px;
    }
    @media (max-width: 600px) {
      font-size: 19px;
    }
    @media (any-hover: hover) {
    &:hover {
      color: #C62238;
    }
    }
  }
}