@font-face {
  font-family: 'aldrich';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Aldrich-Regular'),
       url("../../fonts/Aldrich-Regular.woff2") format("woff2"),
       url("../../fonts/Aldrich-Regular.woff") format("woff");
}

@font-face {
  font-family: 'baijamjuree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('BaiJamjuree-Regular'),
       url("../../fonts/BaiJamjuree-Regular.woff2") format("woff2"),
       url("../../fonts/BaiJamjuree-Regular.woff") format("woff");
}