.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding: 0 15px;
  }

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

.page {
  font-family: 'aldrich';

  &__content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;

    @media (max-width: 991px) {
      display: block;
    }
  }

  &__bottom {
    padding-top: 50px;
    width: 83.5%;

    @media (max-width: 991px) {
      width: 100%;
      padding-top: 20px;
    }
  }
}

main {
  flex: 1 1 auto;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
  color: #FFFFFF;
  padding: 22px 39px;
  max-width: 455px;
  text-align: center;
  background-color: #8226C7;
  margin-bottom: 50px;

  @media (max-width: 991px) {
    font-size: 35px;
    line-height: 34px;
    padding: 19px 23px;
    margin-bottom: 35px;
  }

  @media (max-width: 600px) {
    font-size: 25px;
    line-height: 24px;
    padding: 14px 10px;
    max-width: 246px;
    margin-bottom: 30px;
  }
}

.pp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh;
}

.pp__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.pp__body {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 445px;
  background-color: #1C1366;
  z-index: 2;
  padding:35px 15px;

  @media (max-width: 470px) {
    width: 95%;
    padding: 10px;
  }
}

.pp__form {
  width: 100%;
}

.pp__form input {
  position: absolute;
  top: 0;
  left: -5000px;
}

.pp__text {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;

  @media (max-width: 991px) {
    font-size: 17px;
    margin-bottom: 15px;
  }

  @media (max-width: 600px) {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.pp__form-bottom {
  text-align: center;
}

.pp__form-icon {
  width: 115px;
  height: 115px;
  border-radius: 50%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  @media (max-width: 991px) {
    width: 80px;
    height: 80px;
  }

  @media (max-width: 600px) {
    width: 50px;
    height: 50px;
  }
}

.pp__button {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #3D5DD1;
  padding: 14px 32px;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;

  @media (max-width: 991px) {
    font-size: 17px;
    padding: 12px 27px;
  }

  @media (max-width: 600px) {
    font-size: 15px;
    padding: 10px 25px;
  }
}

@media (any-hover: hover) {
  .pp__button:hover {
    background-color: #ffa500;
  }
}