:root {
  --black: #000000;
  --white: #ffffff;
  --hover: #7B68EE;
  --active: #4169E1;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "JockeyOne";
  background-color: #1C1F2D;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.hd-button-log {
  font-family: "Kodchasan";
  font-style: normal;
  line-height: calc(23px + 6 * ((100vw - 320px) / 1600));
  color: #A2A2A2;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 13px;
  padding-top: calc(3px + 3 * ((100vw - 320px) / 1600));
  padding-bottom: calc(3px + 3 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 10 * ((100vw - 320px) / 1600));
}
@media (max-width: 767px) {
  .hd-button-log {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .hd-button-log {
    font-size: calc(16px + 6 * (100vw / 1920));
  }
}

.hd-button-sign {
  font-family: "Kodchasan";
  font-style: normal;
  line-height: calc(23px + 6 * ((100vw - 320px) / 1600));
  color: #A2A2A2;
  background-color: #CB9F54;
  border-radius: 13px;
  padding-top: calc(3px + 3 * ((100vw - 320px) / 1600));
  padding-bottom: calc(3px + 3 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 10 * ((100vw - 320px) / 1600));
}
@media (max-width: 767px) {
  .hd-button-sign {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .hd-button-sign {
    font-size: calc(16px + 6 * (100vw / 1920));
  }
}

.title {
  font-style: normal;
  font-weight: 400;
  line-height: calc(52px + 45 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width: 767px) {
  .title {
    font-size: calc(56px + 76.5 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .title {
    font-size: calc(56px + 45 * (100vw / 1920));
  }
}

.hr-text {
  font-family: "Kodchasan";
  font-style: normal;
  font-weight: 400;
  line-height: calc(18px + 8 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width: 767px) {
  .hr-text {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .hr-text {
    font-size: calc(16px + 8 * (100vw / 1920));
  }
}

.hr-button {
  font-style: normal;
  font-weight: 400;
  line-height: calc(21px + 5 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: var(--white);
  background: -o-linear-gradient(353.94deg, #AD3421 0%, rgba(58, 13, 6, 0.92) 100%);
  background: linear-gradient(96.06deg, #AD3421 0%, rgba(58, 13, 6, 0.92) 100%);
  border-radius: 15px;
  padding-top: calc(15px + 15 * ((100vw - 320px) / 1600));
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
  padding-left: calc(30px + 32 * ((100vw - 320px) / 1600));
  padding-right: calc(30px + 32 * ((100vw - 320px) / 1600));
}
@media (max-width: 767px) {
  .hr-button {
    font-size: calc(22px + 8.5 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .hr-button {
    font-size: calc(22px + 5 * (100vw / 1920));
  }
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  line-height: calc(28px + 25 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: #CB9F54;
}
@media (max-width: 767px) {
  .subtitle {
    font-size: calc(24px + 37.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .subtitle {
    font-size: calc(24px + 22 * (100vw / 1920));
  }
}

.text {
  font-family: "Kodchasan";
  font-style: normal;
  font-weight: 400;
  line-height: calc(22px + 9 * ((100vw - 320px) / 1600));
  color: var(--white);
}
@media (max-width: 767px) {
  .text {
    font-size: calc(18px + 15.3 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .text {
    font-size: calc(18px + 9 * (100vw / 1920));
  }
}

.link {
  display: inline-block;
  font-family: "Kodchasan";
  font-style: normal;
  line-height: calc(23px + 6 * ((100vw - 320px) / 1600));
  color: #A2A2A2;
}
@media (max-width: 767px) {
  .link {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .link {
    font-size: calc(16px + 6 * (100vw / 1920));
  }
}
.link:hover {
  color: #A2A2A2;
}

.game-name {
  font-family: "Kodchasan";
  font-style: normal;
  font-weight: 600;
  line-height: calc(24px + 14 * ((100vw - 320px) / 1600));
  color: var(--white);
}
@media (max-width: 767px) {
  .game-name {
    font-size: calc(19px + 23.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .game-name {
    font-size: calc(19px + 14 * (100vw / 1920));
  }
}

.about-link {
  font-family: "Kodchasan";
  font-style: normal;
  font-weight: 600;
  line-height: calc(22px + 7 * ((100vw - 320px) / 1600));
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 26px;
  padding-top: calc(8px + 7 * ((100vw - 320px) / 1600));
  padding-bottom: calc(8px + 7 * ((100vw - 320px) / 1600));
  padding-left: calc(15px + 15 * ((100vw - 320px) / 1600));
  padding-right: calc(15px + 15 * ((100vw - 320px) / 1600));
}
@media (max-width: 767px) {
  .about-link {
    font-size: calc(18px + 11.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .about-link {
    font-size: calc(18px + 7 * (100vw / 1920));
  }
}
.about-link:hover {
  color: var(--white);
}

.game-play {
  font-style: normal;
  font-weight: 400;
  line-height: calc(29px + 12 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: var(--white);
  background: -o-linear-gradient(355.05deg, #AD3421 1.96%, #3A0D06 100%);
  background: linear-gradient(94.95deg, #AD3421 1.96%, #3A0D06 100%);
  border-radius: 26px;
  padding-top: calc(8px + 7 * ((100vw - 320px) / 1600));
  padding-bottom: calc(8px + 7 * ((100vw - 320px) / 1600));
  padding-left: calc(25px + 31 * ((100vw - 320px) / 1600));
  padding-right: calc(25px + 31 * ((100vw - 320px) / 1600));
}
@media (max-width: 767px) {
  .game-play {
    font-size: calc(24px + 20.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .game-play {
    font-size: calc(24px + 12 * (100vw / 1920));
  }
}
.game-play:hover {
  color: var(--white);
}

.body-block {
  overflow: hidden;
}

@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}
@media (min-width: 1024px) {
  .hd__link:hover {
    color: #A2A2A2;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .hd__log:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .hd__sign:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .hr__button:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .ab__link:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    color: var(--white);
  }

  .gm__link:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    color: var(--white);
  }

  .game__link:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .gm-ab__link:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .ft__link:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .log__btn:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .log__input:hover {
    border-color: #CB9F54;
  }

  .popup-log__exit:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .reg__btn:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .reg__input:hover {
    border-color: #CB9F54;
  }

  .reg__span a:hover {
    color: var(--white);
  }

  .popup-reg__exit:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .popup__btns-accept:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .popup__btns-clos:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .profile__btn:hover {
    color: #cb9f54;
    border-color: #cb9f54;
  }

  .popup__text a:hover {
    color: rgba(255, 255, 255,.5)
  }
}