@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #1f042c
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 90px
}

.topping {
  padding: 15px 0
}

.topping__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

@media (max-width:991px) {
  .topping__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

@media (max-width:991px) {
  .topping__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1f042c;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.topping__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .topping__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    left: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.topping__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.topping__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.topping__logo {
  display: none;
  width: 146px;
  height: 126px
}

@media (max-width:991px) {
  .topping__logo {
    display: block
  }
}

@media (max-width:600px) {
  .topping__logo {
    width: 115px;
    height: 99px
  }
}

.topping__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 20px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__item_logo {
  padding: 0 25px
}

@media (max-width:991px) {
  .nav__item_logo {
    display: none
  }
}

.nav__logo_menu {
  display: block;
  width: 146px;
  height: 126px
}

@media (max-width:991px) {
  .nav__logo_menu {
    margin-left: auto;
    margin-bottom: 100px
  }
}

@media (max-width:600px) {
  .nav__logo_menu {
    width: 115px;
    height: 99px
  }
}

.nav__logo_menu img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__link {
  display: inline-block;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.157;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #5d0e81
  }
}

.nav__link:active {
  color: #5d0e81;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.up:not(:last-child) {
  margin-bottom: 90px
}

@media (max-width:991px) {
  .up:not(:last-child) {
    margin-bottom: 80px
  }
}

.no-webp .up__content {
  background-image: url(../img/gero.png)
}

.up__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 25px;
  min-height: 575px;
  -webkit-filter: drop-shadow(0 1px 0 #640a73);
  filter: drop-shadow(0 1px 0 #640a73);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

@media (max-width:991px) {
  .no-webp .up__content {
    background-image: url(../img/gero_2.png)
  }

  .up__content {
    min-height: 874px;
    padding: 50px 15px
  }
}

@media (max-width:600px) {
  .no-webp .up__content {
    background-image: url(../img/gero_3.png)
  }

  .up__content {
    min-height: 659px;
    padding: 50px 10px
  }
}

.up__body {
  max-width: 665px
}

.up__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.142;
  color: #fff
}

@media (max-width:600px) {
  .up__title {
    font-size: 32px
  }
}

.up__title:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:600px) {
  .up__title:not(:last-child) {
    margin-bottom: 10px
  }
}

.up__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.16;
  color: #fff
}

@media (max-width:600px) {
  .up__text {
    font-size: 20px
  }
}

.up__text:not(:last-child) {
  margin-bottom: 95px
}

@media (max-width:991px) {
  .up__text:not(:last-child) {
    margin-bottom: 300px
  }
}

@media (max-width:600px) {
  .up__text:not(:last-child) {
    margin-bottom: 195px
  }
}

.up__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 280px;
  min-height: 69px;
  background: -o-radial-gradient(50% 50%, 50% 1163.82%, #a413a8 0, #520e7b 100%);
  background: radial-gradient(50% 1163.82% at 50% 50%, #a413a8 0, #520e7b 100%);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, .45);
  box-shadow: 0 0 5px rgba(255, 255, 255, .45);
  border-radius: 10px;
  font-weight: 400;
  font-size: 21px;
  line-height: 1;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:991px) {
  .up__link {
    width: 413px;
    min-height: 87px;
    font-size: 30px
  }
}

@media (max-width:600px) {
  .up__link {
    min-height: 69px
  }
}

@media (max-width:500px) {
  .up__link {
    width: 100%
  }
}

@media (any-hover:hover) {
  .up__link:hover {
    opacity: .6
  }
}

.up__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.fits:not(:last-child) {
  margin-bottom: 105px
}

@media (max-width:991px) {
  .fits:not(:last-child) {
    margin-bottom: 90px
  }
}

.fits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px
}

@media (max-width:1440px) {
  .fits__container {
    gap: 30px
  }
}

@media (max-width:1220px) {
  .fits__container {
    gap: 15px
  }
}

@media (max-width:700px) {
  .fits__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 15px
  }
}

.fits__list {
  -webkit-box-flex: 927px;
  -ms-flex: 927px;
  flex: 927px
}

@media (max-width:700px) {
  .fits__list {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.fits__item {
  border-radius: 5px;
  padding: 15px 30px
}

@media (max-width:991px) {
  .fits__item {
    padding: 15px 20px
  }
}

@media (max-width:600px) {
  .fits__item {
    padding: 15px 10px
  }
}

.fits__item:nth-child(odd) {
  background-color: #5d0e81
}

.fits__item:not(:last-child) {
  margin-bottom: 45px
}

@media (max-width:991px) {
  .fits__item:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .fits__item:not(:last-child) {
    margin-bottom: 20px
  }
}

.fits__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.142;
  color: #fff
}

@media (max-width:991px) {
  .fits__title {
    font-size: 20px
  }
}

.fits__title:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .fits__title:not(:last-child) {
    margin-bottom: 5px
  }
}

.fits__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.272;
  color: #fff
}

@media (max-width:991px) {
  .fits__text {
    font-size: 15px
  }
}

.fits__image {
  position: relative;
  padding-bottom: 36.3%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 403px;
  flex: 0 1 403px
}

@media (max-width:700px) {
  .fits__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    padding-bottom: 65%
  }
}

@media (max-width:450px) {
  .fits__image {
    padding-bottom: 85%
  }
}

.fits__image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.stronie {
  background-color: #5d0e81
}

.stronie:not(:last-child) {
  margin-bottom: 90px
}

.stronie__content {
  padding: 50px 0 60px 0
}

@media (max-width:991px) {
  .stronie__content {
    padding: 40px 0 45px 0
  }
}

@media (max-width:600px) {
  .stronie__content {
    padding: 40px 0 35px 0
  }
}

.stronie__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .stronie__title {
    font-size: 40px
  }
}

.stronie__title:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .stronie__title:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .stronie__title:not(:last-child) {
    margin-bottom: 35px
  }
}

.stronie__body {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px 50px
}

@media (max-width:1440px) {
  .stronie__body {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px
  }
}

@media (max-width:1220px) {
  .stronie__body {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px
  }
}

@media (max-width:600px) {
  .stronie__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.stronie__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  color: #fff
}

@media (max-width:600px) {
  .stronie__text {
    font-size: 18px
  }
}

.stronie__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .stronie__text:not(:last-child) {
    margin-bottom: 15px
  }
}

.slots:not(:last-child) {
  margin-bottom: 90px
}

.slots__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.slots__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 440px;
  flex: 0 0 440px
}

@media (max-width:991px) {
  .slots__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 340px;
    flex: 0 0 340px
  }
}

@media (max-width:400px) {
  .slots__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.slots__image {
  border-radius: 5px;
  height: 259px
}

@media (max-width:991px) {
  .slots__image {
    height: 191px
  }
}

.slots__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.slots__image:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .slots__image:not(:last-child) {
    margin-bottom: 10px
  }
}

.slots__link {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.272;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .slots__link:hover {
    color: #a413a8
  }
}

.slots__link:active {
  color: #a413a8;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.slots__link:not(:last-child) {
  margin-bottom: 10px
}

.slots__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.26;
  color: #fff
}

.footer {
  padding: 0 0 30px 0
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px
}

@media (max-width:991px) {
  .footer__container {
    display: block
  }
}

.footer__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 680px;
  flex: 0 1 680px
}

@media (max-width:991px) {
  .footer__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 20px
}

@media (max-width:600px) {
  .footer__top {
    row-gap: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

.footer__top:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .footer__top:not(:last-child) {
    margin-bottom: 25px
  }
}

@media (max-width:600px) {
  .footer__top:not(:last-child) {
    margin-bottom: 20px
  }
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  color: #fff
}

@media (max-width:600px) {
  .footer__text {
    font-size: 16px
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px 65px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

@media (max-width:991px) {
  .footer__list {
    gap: 10px 55px
  }
}

@media (max-width:600px) {
  .footer__list {
    gap: 10px 45px
  }
}

.footer__link {
  display: inline-block;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #a413a8
  }
}

.footer__link:active {
  color: #a413a8;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer__logo {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 214px;
  height: 185px
}

@media (max-width:600px) {
  .footer__logo {
    width: 156px;
    height: 135px
  }
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.terms {
  margin-top: 30px
}

.terms h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.175;
  letter-spacing: -.025em;
  color: #a413a8
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.175;
  letter-spacing: -.025em;
  color: #a413a8
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 22px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.04;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms p {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 18px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.04;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms li {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 16px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.game {
  margin-top: 30px
}

.game__content {
  height: 800px
}

@media (max-width:991px) {
  .game__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .game__content {
    height: 350px
  }
}

.game__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 685px;
  background: #640a73;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 25px
}

@media (max-width:991px) {
  .popup__body {
    padding: 25px 20px
  }
}

@media (max-width:720px) {
  .popup__body {
    width: 95%
  }
}

@media (max-width:600px) {
  .popup__body {
    padding: 15px
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.04;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .popup__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .popup__text {
    font-size: 18px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__form-bottom {
  text-align: center
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  margin-left: auto;
  width: 207px;
  min-height: 48px;
  background: -o-radial-gradient(50% 50%, 62.9% 684.13%, #9a12a3 0, #630f85 100%);
  background: radial-gradient(62.9% 684.13% at 50% 50%, #9a12a3 0, #630f85 100%);
  border-radius: 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -.025em;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:991px) {
  .popup__button {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .popup__button {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    opacity: .6
  }
}

.popup__button:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .up__content {
  background-image: url(../img/gero.webp)
}

@media (max-width:991px) {
  .webp .up__content {
    background-image: url(../img/gero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .up__content {
    background-image: url(../img/gero_3.webp)
  }
}