.container {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  background-color: #ffffff;
}

main {
  flex: 1 1 auto;
}

.body-block {
  overflow: hidden;
}

@media (max-width: 600px) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: 1024px) {
  .header {
    &__link {
      &:hover {
        color: #000000;
      }
    }
  }
  .hero {
    &__link {
      &:hover {
        color: #8dff1f;
      }
    }
    & a {
      &:hover {
        & svg {
          fill: #8dff1f;
        }
      }
    }
  }
  .news {
    &__item-link {
      &:hover {
        color: #8dff1f;
      }
    }
    &__link {
      &:hover {
        color: #8dff1f;
        border-color: transparent;
        & svg {
          fill: #8dff1f;
          transform: translateX(5px);
        }
      }
    }
  }
  .how-play {
    &__link {
      &:hover {
        color: #8dff1f;
      }
    }
  }
  .faq {
    &__btn {
     &:hover {
      color: #000000;
      background-color: transparent;
      border-color: #4B0082;
     }
    }
  }
  .cockie {
    a {
      &:hover {
        color: #8dff1f;
      }
    }
  }
  .all-news {
    &__link {
      &:hover {
        color: #000000;
      }
    }
  }
  .footer {
    &__link {
      &:hover {
        color: #000000;
      }
    }
  }
}

