@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Regular"), url("../../fonts/Inter-Regular.woff2") format("woff2"), url("../../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato-Regular"), url("../../fonts/Lato-Regular.woff2") format("woff2"), url("../../fonts/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Lato-Medium"), url("../../fonts/Lato-Medium.woff2") format("woff2"), url("../../fonts/Lato-Medium.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Lato-Black"), url("../../fonts/Lato-Black.woff2") format("woff2"), url("../../fonts/Lato-Black.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Montserrat-Black"), url("../../fonts/Montserrat-Black.woff2") format("woff2"), url("../../fonts/Montserrat-Black.woff") format("woff");
}