.slot {
  margin-bottom: 150px;

  @media (max-width: 1024px) {
    margin-bottom: 105px;
  }

  @media (max-width: 600px) {
    margin-bottom: 110px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px 20px;

    @media (max-width: 600px) {
      row-gap: 30px;
    }
  }

  &__item {
    width: 453px;

    @media (max-width: 1024px) {
      width: auto;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__image {
    height: 331px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    @media (max-width: 1024px) {
      height: 381px;
    }

    @media (max-width: 600px) {
      height: 238px;
      margin-bottom: 10px;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__name {
    margin-bottom: 20px;

    & a {
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      font-size: 37px;
      line-height: 62px;
      color: #FFFFFF;
      transition: color .2s ease-in-out;
      @media (max-width: 1024px) {
        font-size: 42px;
        line-height: 70px;
      }

      @media (max-width: 600px) {
        font-size: 22px;
        line-height: 37px;
      }

      @media (any-hover: hover) {
        &:hover {
          color: #e47448;
        }
      }
    }
  }

  &__play {
    & a {
      display: inline-block;
      width: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 47px;
      line-height: 79px;
      color: #FFFFFF;
      text-align: center;
      padding: 10px;
      background: radial-gradient(50% 1400.62% at 50% 50%, #FD9100 0%, #DE5500 100%);
      box-shadow: 0px 4px 8px #FFE177;
      border-radius: 12px;
      transition: box-shadow .2s ease-in-out;

      @media (max-width: 1024px) {
        font-size: 62px;
        line-height: 104px;
        padding: 5px 10px;
      }

      @media (max-width: 600px) {
        font-size: 38px;
        line-height: 63px;
        padding: 4px 10px;
      }

      @media (any-hover: hover) {
        &:hover {
          box-shadow: 0px 5px 13px #e47448;
        }
      }
    }
  }
}

.slot-play {
  margin-bottom: 60px;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    color: #F8981E;
    margin-bottom: 45px;

    @media (max-width: 1024px) {
      margin-bottom: 35px;
    }

    @media (max-width: 600px) {
      font-size: 34px;
      line-height: 42px;
      margin-bottom: 25;
    }
  }

  &__iframe {
    width: 100%;
    height: 600px;
    @media (max-width: 768px) {
      height: 350px;
    }
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}