.terms {
margin-bottom: 60px;
  & h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
      font-size: 35px;
      line-height: 46px;
      margin-bottom: 25px;
    }
    @media (max-width: 600px) {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 20px;
    }
  }
  & h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
      font-size: 35px;
      line-height: 46px;
      margin-bottom: 25px;
    }
    @media (max-width: 600px) {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 20px;
    }
  }
  & p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    @media (max-width: 1024px) {
      font-size: 21px;
      line-height: 32px;
    }
    @media (max-width: 600px) {
      font-size: 17px;
      line-height: 26px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
      @media (max-width: 1024px) {
        margin-bottom: 15px;
      }
      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }
  & ul {
    &:not(:last-child) {
      margin-bottom: 20px;
      @media (max-width: 1024px) {
        margin-bottom: 15px;
      }
      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }
  & li {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    @media (max-width: 1024px) {
      font-size: 17px;
      line-height: 26px;
    }
    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 23px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
      @media (max-width: 1024px) {
        margin-bottom: 15px;
      }
      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }
}