.no-webp .about {
  background-image: url(../../img/about/image.jpg); }
.about {
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .no-webp .about {
    background-image: url(../../img/about/image-2.jpg); }
  .about {
    background-position: center;
    padding-bottom: 700px;
  }
}
@media (max-width: 600px) {
  .about {
    padding-bottom: 600px;
  }
}
.about__body {
  max-width: 690px;
  padding: 50px 0 100px 0;
}
.about__title {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 150px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .about__title {
    line-height: calc(42px + 54 * ((100vw - 320px) / 1600));
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .about__title {
    font-size: calc(32px + 108.8 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .about__title {
    font-size: calc(32px + 64 * (100vw / 1920));
  }
}
.about__text {
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 35px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .about__text {
    line-height: calc(27px + 8 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .about__text {
    font-size: calc(17px + 17 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .about__text {
    font-size: calc(17px + 10 * (100vw / 1920));
  }
}
.webp .about { background-image: url(../../img/about/image.webp); }
@media (max-width: 1024px) {
  .webp .about { background-image: url(../../img/about/image-2.webp); } }