.benefits {
  background-color: #012340;
  padding: 100px 0;
}
@media (max-width: 1024px) {
  .benefits {
    background-color: #024059;
    padding-top: calc(30px + 70 * ((100vw - 320px) / 1600));
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1600));
  }
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 453px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.37);
  -webkit-box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 25px;
}
@media (max-width: 600px) {
  .benefits__item {
    padding: 15px;
    width: 100%;
  }
}
.benefits__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 154px;
  height: 172px;
  margin-bottom: 30px;
}
.benefits__image img {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .benefits__image {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
  }
}
.benefits__name {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 38px;
  text-align: center;
  color: #024059;
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .benefits__name {
    line-height: calc(28px + 10 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .benefits__name {
    font-size: calc(22px + 25.5 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .benefits__name {
    font-size: calc(22px + 15 * (100vw / 1920));
  }
}
.benefits__text {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .benefits__text {
    line-height: calc(26px + 6 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .benefits__text {
    font-size: calc(17px + 13.6 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .benefits__text {
    font-size: calc(17px + 8 * (100vw / 1920));
  }
}