.footer {
  padding: 45px 0;
  background-color: #181818;
}
@media (max-width: 1024px) {
  .footer {
    padding-top: calc(15px + 30 * ((100vw - 320px) / 1600));
    padding-bottom: calc(15px + 30 * ((100vw - 320px) / 1600));
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1055px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media (max-width: 1055px) {
  .footer__left {
    width: 100%;
  }
}
.footer__left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px;
}
@media (max-width: 1055px) {
  .footer__left-top {
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .footer__left-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 20px;
  }
}
.footer__warning {
  max-width: 449px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #FFFFFF;
  margin-right: 60px;
}
@media (max-width: 1130px) {
  .footer__warning {
    margin-right: 20px;
  }
}
@media (max-width: 1024px) {
  .footer__warning {
    line-height: calc(20px + 5 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .footer__warning {
    font-size: calc(15px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .footer__warning {
    font-size: calc(15px + 4 * (100vw / 1920));
  }
}
@media (max-width: 768px) {
  .footer__warning {
    max-width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 1055px) {
  .footer__wrapper-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
}
.footer__logo img {
  max-width: 100%;
}
.footer__lst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}
@media (max-width: 1055px) {
  .footer__lst {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer__lst {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    row-gap: 20px;
  }
}
.footer__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .footer__link {
    line-height: calc(25px + 15 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .footer__link {
    font-size: calc(18px + 22.1 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .footer__link {
    font-size: calc(18px + 13 * (100vw / 1920));
  }
}
@media (any-hover: hover) {
  .footer__link:hover {
    opacity: 0.5;
  }
}
@media (max-width: 1055px) {
  .footer__right {
    display: none;
  }
}
.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 45px;
}
@media (max-width: 768px) {
  .footer__nav-list {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    row-gap: 20px;
  }
}