.no-webp .hero {
  background-image: url(../../img/hero/hero.jpg); }
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 200px;
}
@media (max-width: 1024px) {
  .no-webp .hero {
    background-image: url(../../img/hero/hero_2.jpg); }
}
@media (max-width: 600px) {
  .no-webp .hero {
    background-image: url(../../img/hero/hero_3.jpg); }
}
.hero__container {
  height: 100%;
}
.hero__body {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  max-width: 690px;
}
.hero__title {
  font-family: "SadSzn";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  color: #012340;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.83);
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .hero__title {
    line-height: calc(30px + 28 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .hero__title {
    font-size: calc(22px + 30.6 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .hero__title {
    font-size: calc(22px + 18 * (100vw / 1920));
  }
}
.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: #024059;
  margin-bottom: 35px;
}
@media (max-width: 1024px) {
  .hero__text {
    line-height: calc(26px + 13 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .hero__text {
    font-size: calc(18px + 20.4 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .hero__text {
    font-size: calc(18px + 12 * (100vw / 1920));
  }
}
.hero__wrapper-link {
  text-align: center;
}
.hero__link {
  display: inline-block;
  padding: 23px 81px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  background: -o-linear-gradient(268.61deg, #024059 1.18%, rgba(2, 64, 89, 0.6) 98.82%);
  background: linear-gradient(181.39deg, #024059 1.18%, rgba(2, 64, 89, 0.6) 98.82%);
  -webkit-box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.63);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.63);
  border-radius: 16px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .hero__link:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
@media (max-width: 1024px) {
  .hero__link {
    line-height: calc(20px + 12 * ((100vw - 320px) / 1600));
    padding-top: calc(18px + 5 * ((100vw - 320px) / 1600));
    padding-left: calc(52px + 29 * ((100vw - 320px) / 1600));
    padding-bottom: calc(18px + 5 * ((100vw - 320px) / 1600));
    padding-right: calc(52px + 29 * ((100vw - 320px) / 1600));
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .hero__link {
    font-size: calc(16px + 15.3 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .hero__link {
    font-size: calc(16px + 9 * (100vw / 1920));
  }
}
.webp .hero { background-image: url(../../img/hero/hero.webp); }
@media (max-width: 1024px) {
  .webp .hero { background-image: url(../../img/hero/hero_2.webp); } }
@media (max-width: 600px) {
  .webp .hero { background-image: url(../../img/hero/hero_3.webp); } }