@font-face {
  font-family: 'carme';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Carme-Regular'),
       url("../../fonts/Carme-Regular.woff2") format("woff2"),
       url("../../fonts/Carme-Regular.woff") format("woff");
}

@font-face {
  font-family: 'karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Karla-Regular'),
       url("../../fonts/Karla-Regular.woff2") format("woff2"),
       url("../../fonts/Karla-Regular.woff") format("woff");
}