.flag {
    display: inline-block;
    width: 50px;
    height: 38px;
    margin: 35px 0 25px 0;
    border-radius: 2px;
    box-shadow:0 2px 4px 0 rgba(28,44,64,.17);
}

/*====== GLOBAL ======*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff
}

/* overylay */
.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(41, 8, 8);
  background: -moz-linear-gradient(0deg, rgba(41, 8, 8, 1) 0%, rgba(41, 8, 8, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(41, 8, 8, 1) 0%, rgba(41, 8, 8, 0) 100%);
  background: linear-gradient(0deg, rgba(41, 8, 8, 1) 0%, rgba(41, 8, 8, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#290808", endColorstr="#290808", GradientType=1);

}


.wel-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 36%);

}



a:hover {
  text-decoration: none
}

iframe {
  width: 100%
}

/*====== FONTS/BUTTONS ======*/
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 600
}

h1 strong {
  font-weight: 700
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Button 1 */
.stp-btn {
  background: rgb(0, 179, 27);
  background: -moz-linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  background: -webkit-linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  background: linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b31b", endColorstr="#00df1e", GradientType=1);
  border-radius: 28px;
  border: 0px solid #ffc31e;
  display: inline-block;
  width: 400px;
  max-width: 100%;
  letter-spacing: 2px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 15px 50px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #2a9b0d;
  text-align: center;
  box-shadow: 0px 5px 0px #2a9b0d;
  margin: 20px 0px 40px 0px;

}

.stp-btn:hover {
  background: rgb(0, 156, 23);
  background: -moz-linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  background: -webkit-linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  background: linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009c17", endColorstr="#00c71b", GradientType=1);
  color: #ffffff;
  text-decoration: none;
}

/* Button 2 */
.stp-btn2 {
  background: rgb(0, 179, 27);
  background: -moz-linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  background: -webkit-linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  background: linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b31b", endColorstr="#00df1e", GradientType=1);
  border-radius: 28px;
  border: 0px solid #ffc31e;
  display: inline-block;
  width: 100%;
  letter-spacing: 2px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 50px;
  text-decoration: none !important;
  text-shadow: 0px 2px 0px #2a9b0d;
  text-align: center;
  box-shadow: 0px 5px 0px #2a9b0d;
  margin: 20px 0px 40px 0px;

}

.stp-btn2:hover {
  background: rgb(0, 156, 23);
  background: -moz-linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  background: -webkit-linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  background: linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009c17", endColorstr="#00c71b", GradientType=1);
  color: #ffffff;
  text-decoration: none;
}

.stp-btn3 {
  background: rgb(0, 179, 27);
  background: -moz-linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  background: -webkit-linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  background: linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b31b", endColorstr="#00df1e", GradientType=1);
  border-radius: 28px;
  border: 0px solid #ffc31e;
  display: inline-block;
  width: 400px;
  letter-spacing: 2px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 15px 10px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #2a9b0d;
  text-align: center;
  box-shadow: 0px 5px 0px #2a9b0d;
  margin: 20px 0px 60px 0px;

}

.stp-btn3:hover {
  background: rgb(0, 156, 23);
  background: -moz-linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  background: -webkit-linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  background: linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009c17", endColorstr="#00c71b", GradientType=1);
  color: #ffffff;
  text-decoration: none;
}

.stp-btn4 {
  background: rgb(0, 179, 27);
  background: -moz-linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  background: -webkit-linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  background: linear-gradient(284deg, rgba(0, 179, 27, 1) 42%, rgba(0, 223, 30, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b31b", endColorstr="#00df1e", GradientType=1);
  border-radius: 28px;
  border: 0px solid #ffc31e;
  display: inline-block;
  width: 400px;
  max-width: 100%;
  letter-spacing: 2px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 18px 20px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #2a9b0d;
  text-align: center;
  box-shadow: 0px 5px 0px #2a9b0d;
  margin: 20px 0px 60px 0px;

}

.stp-btn4:hover {
  background: rgb(0, 156, 23);
  background: -moz-linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  background: -webkit-linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  background: linear-gradient(284deg, rgba(0, 156, 23, 1) 42%, rgba(0, 199, 27, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009c17", endColorstr="#00c71b", GradientType=1);
  color: #ffffff;
  text-decoration: none;
}

/*====== NAV ======*/
.stp-nav ul {
  padding: 20px 0px 10px;
}

.stp-nav ul li {
  display: inline;
  padding: 0px 15px 0px 15px;
}

.stp-nav ul li a {
  color: #fff;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
}

.stp-nav ul li a:hover {
  color: #ffc000;
}

/*====== HEADER ======*/
.stp-header {
  background: url(images/stp-bg.jpg) no-repeat;
  background-position: bottom center;
  position: relative;
  width: 100%;
  min-height: 400px;
  padding: 60px 15px 100px;
}

.stp-header img {
  width: 400px;
  margin-bottom: 35px
}

.stp-page-header a {
  color: rgb(255, 192, 0)
}

.stp-page-header i {
  margin-right: 10px;
}

.stp-logo {
  width: 250px;
  max-width: 100%;
  margin-bottom: 50px;
}

.stp-header h2 {
  color: #fff;
  font-size: 2rem
}

.stp-header h1 {
  color: #ffc000;
  font-size: 2.2rem;
  font-weight: 800
}

.bh-bar {
  position: absolute;
  bottom: 0;
  background-color: rgba(245, 36, 57, 0.8);
  padding: 20px 0px;
  min-height: 30px;
  width: 100%;
  right: 0;
  left: 0;
  text-align: right;
  padding: 20px 0px
}

.bh-btn {
  background-color: #00d51e;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 20px;
  margin-right: 15px;
}

.bh-btn:hover {
  text-decoration: none;
  color: #fff
}

.bh-btn2 {
  background-color: #ffc000;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 20px;


}

.bh-btn2:hover {
  text-decoration: none;
  color: #fff
}

.bh-bar-page {
  position: absolute;
  top: 0;
  background-color: rgba(245, 36, 57, 0.8);
  padding: 20px 0px;
  min-height: 30px;
  width: 100%;
  right: 0;
  left: 0;
  text-align: right;
  padding: 20px 0px;
  z-index: 99
}

.wel-header {
  background: url(images/w-header.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 700px;
  padding: 240px 15px 100px;
}


.wel-logo {
  width: 230px;
}

.wel-bar {
  position: absolute;
  top: 0;
  background: transparent;
  padding: 20px 0px;
  min-height: 250px;
  width: 100%;
  right: 0;
  left: 0;

  padding: 20px 0px
}

.wel-header h2 {
  color: #fff;
  font-size: 2rem
}

.wel-header h1 {
  color: #ffc000;
  font-size: 2.2rem;
  font-weight: 500
}

.wel-btns {
  float: right;
  margin-top: 30px;
}

.ml30 {
  margin-left: 130px
}

/*====== HOMEPAGE MAIN ======*/
.stp-main {
  background-color: #fff;
  min-height: 300px;
  position: relative;
  padding: 60px 15px;
}

.stp-main h2 {
  color: #ffc000;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.stp-gbox {
  position: relative;
  margin-bottom: 30px;
}

.stp-gbox img {
  width: 100%;
  border-radius: 0px;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.stp-gbox img:hover {
  opacity: 0.5;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.gbox-details {
  background-color: #eee;
  padding: 10px
}

.gbox-details a {
  color: #ffc000;
  text-align: left;

}

.gbox-details a strong {
  color: #444
}

.gbox-detials a:hover h1 {
  text-decoration: none;
}

.gbox-title {
  font-size: 1rem
}

.stp-box img {
  width: 130px;
}

.stp-box h2 {
  font-size: 1.3rem;
  margin: 20px !important;
}

.stp-box p {
  color: #fff;
}

.mt-50 {
  margin-top: 50px;
}


.stp-featured h2 {
  font-size: 1.3rem;
  margin: 0px !important;
  color: #ffc000;
}

.stp-featured img {
  width: auto;
  height: 120px;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.featured-games {}

.featured-games .container-fluid {
  padding: 0
}

.fg {
  min-height: 300px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.fg-title {
  position: absolute;
  width: 100%;
  right: 0;
  left;
  0;
  bottom: 0;
  padding: 10px 30px;


}

.gbox-reviews i {
  color: #f2b600;
  font-size: 0.9rem
}

.fg-c1 {
  background-color: rgba(187, 52, 217, 0.8);
}

.fg-c2 {
  background-color: rgba(252, 166, 0, 0.8);
}

.fg-c3 {
  background-color: rgba(14, 143, 247, 0.8);
}

.fg-c4 {
  background-color: rgba(11, 218, 152, 0.8);
}

.fg-title h3 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0px
}

.fg-title strong {
  color: #fff;
}

.welcome-features {
  background-color: #fff;
  padding: 30px 15px 50px 15px;
  min-height: 400px;
}

.wf-box {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 30px;
}

.wf-box p {
  font-size: 1.1rem;
  margin-top: 15px;
}

.mb30 {
  margin-bottom: 30px
}

.mb50 {
  margin-bottom: 50px
}

.mt20 {
  margin-top: 20px;
}

.mb-content h1 {
  color: #ffc000
}

.mb-content p {
  font-size: 1.3rem
}

/*====== PAGES ======*/
.stp-page-header {
  background: url(images/stp-header.jpg) no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 70px 15px;
}

.stp-page-header h1 {
  color: #fff;
}

.stp-page-content {
  background-color: #fff;
  min-height: 300px;
  position: relative;
  padding: 60px 15px;
}

.stp-page-content h1,
.stp-page-content h2,
.stp-page-content h3,
.stp-page-content h4,
.stp-page-content h5,
.stp-page-content b {
  color: #ffc000;
}

.stp-page-content p {
  color: #444;
}

.stp-page-content h2,
.stp-page-content h3 {
  font-size: 1.5rem;
  margin: 15px 0px
}

.stp-page-content a {
  text-decoration: underline;
  color: #444;
}

dl,
ol,
ul {
  color: #444;
}

.stp-page-content ol li span {
  color: #444;
}

.stp-page-gbox {
  position: relative;
  margin-bottom: 30px;
}

.stp-page-gbox img {
  width: 100%;
  border-radius: 30px;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.stp-page-gbox img:hover {
  opacity: 0.5;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.stp-page-content h2 {
  color: #ffc000;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
  text-align: center;
}

.stp-page-content strong {
  color: #ffc000;
}


.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: 0rem;
}

.mg-left {
  margin-left: 30px;
}

.btn-su {
  color: #fff;
  background-color: #00e020;
  border-color: #00e020;
  width: 100%;
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 15px
}

.btn-su:hover {
  color: #fff
}

.signup-h1 {
  margin: 20px 0px
}

.wf-box img {
  height: 65px
}

.welbtext {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  left: 0;
  right: 0;
}

.welbtext h2 {
  color: #d82153;
  font-weight: 600
}

.welbtext-2 {
  position: relative;
  width: 100%;

  text-align: center;

  z-index: 999;
  margin-top: -20px;
}

.welbtext-2 img {
  max-width: 100%
}

/*====== FOOTER ======*/
.stp-footer {
  background-color: #d82153;
  min-height: 100px;
  position: relative;
  padding: 40px 15px;
}

.stp-footer img {
  width: 200px;
  margin-bottom: 20px;
}

.stp-footer-logo {
  width: 200px;
  margin-bottom: 30px;
}

.stp-footer p {
  color: #fff;
  font-size: 0.75rem;

  margin-top: 20px;
  text-transform: uppercase;
}

.stp-footer a {
  text-transform: uppercase;
  padding: 0px 15px;
  font-size: 1rem;
  color: #ffc000;
  font-weight: 800;

}

.med {
  font-size: 0.9rem;

}

.small {
  font-size: 0.8rem
}

.apple {
  margin-top: -5px;
  margin-left: 10px;
}

.wel-game p {
  margin-top: 10px;
}

.wel-game p i {
  color: #f2b600;
}

.game-block {
  display: block;
}

.game-block:hover img {
  opacity: 0.5;
}

.game-block .gbox-details {
  display: block;
  background-color: #eee;
  padding: 10px;
  color: #ffc000;
  text-align: left;
}

.game-block .gbox-details strong {
  color: #444
}

.game-block .gbox-title {
  font-size: 1rem;
  margin: 0 0 0 0;
}

.star-list {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: #ee0d00;
  /*0096ee*/
  /*caebff*/
}

.star-list i {
  font-style: normal;
  padding: 0 10px;
}

/*====== RESPONSIVE ======*/
@media (max-width: 992px) {
  .ml30 {
    display: none
  }

  .hm {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .stp-header {
    min-height: 300px;
    padding: 50px 15px 100px !important
  }

  .stp-main {
    padding: 0px 15px 30px
  }

  .gbox-reviews i {
    color: #f2b600;
    font-size: 0.9rem;
    float: left !important;
  }

  .fg-title h3 {
    font-size: 1rem;
  }

  .bh-bar {
    text-align: center
  }

  .mb-content h1 {
    color: #ffc000;
    font-size: 1.8rem;
  }

}

@media (max-width: 600px) {
  .stp-header {
    background: url(images/stp-header.jpg) no-repeat;
    min-height: 300px;
    padding: 50px 15px 100px !important;
    background-size: cover;
    background-position: center center;
  }

  .stp-header img {
    width: 300px;
  }

  .stp-btn {
    max-width: 100%;
    font-size: 1.5rem;
  }



  .stp-header h1 {
    font-size: 1.7rem;
  }

  .stp-header h2 {

    font-size: 1.6rem;
  }



  .stp-main {
    padding: 0px 15px 30px;
  }

  .stp-main h2 {
    font-size: 1.5rem;
    font-weight: 600
  }

  .stp-page-header {
    min-height: 200px;
    padding: 30px 15px;
  }

  .stp-logo {
    width: 200px;
  }

  .fg {
    min-height: 200px;
  }

  .fg-title h3 {
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 0px;
  }

  .gbox-reviews i {
    color: #f2b600;
    font-size: 0.9rem;
    float: left !important;
  }

  .bh-bar {
    text-align: center
  }

  .stp-footer a {
    font-size: 0.7rem
  }

  .wf-box p {
    font-size: 0.9rem;
    margin-top: 15px;
  }

  .mb-content h1 {
    margin-top: 30px;
  }

  .wel-header {
    min-height: 580px;
    padding: 230px 15px 20px 20px;
  }

  .wel-header h1 {
    color: #ffc000;
    font-size: 1.8rem;
  }

  @media (max-width: 500px) {
    .stp-header {
      min-height: 300px;
      padding: 40px 15px;
      background-size: cover !important;
      background-position: center center
    }

    .stp-btn3 {
      max-width: 100%
    }

    .stp-btn {
      font-size: 1rem !important
    }

    .fg {
      min-height: 150px;
    }

    .fg-title h3 {
      font-size: 0.9rem;
      color: #fff;
      margin-bottom: 0px;
    }

    .gbox-title {
      font-size: 0.7rem
    }

    .gbox-details a strong {
      color: #444;
      font-size: 0.8rem;
    }

    .bh-bar {
      text-align: center
    }

    .stp-footer a {
      font-size: 0.7rem
    }

    .wf-box p {
      font-size: 0.8rem;
      margin-top: 15px;
    }

    .wf-box img {
      height: 45px;
    }

    .mb-content h1 {
      color: #ffc000;
      font-size: 1.6rem;
    }

    .wel-logo {
      width: 190px
    }
  }