$maxWidth: 1920;
$maxWidthContainer: 1299;

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

:root {
  --black: #000000;
  --white: #ffffff;
  --hover: #6495ED;
  --active: #4169E1;
}

// .container {
//   max-width: 1360px;
//   padding: 0 30px;
//   margin: 0 auto;
// }

body {
  display: flex;
  flex-direction: column;
  font-family: 'TTFirsNeue';
}

main {
  flex: 1 1 auto;
}

.title {
  @include adaptiv-font(38, 28);
  @include adaptive ("line-height", 48, 38, 0);
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  @include adaptiv-font(32, 24);
  @include adaptive ("line-height", 42, 34, 0);
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

.text {
  @include adaptiv-font(20, 16);
  @include adaptive ("line-height", 30, 26, 0);
  font-weight: 400;
  color: var(--black);
  text-align: center;
}

.link {
  @include adaptiv-font(17, 13);
  @include adaptive ("line-height", 27, 23, 0);
  font-weight: 400;
  color: var(--white);
}
.body-block {
  overflow: hidden;
}

@media (max-width: 1920px) {
  a {
    &:hover {
      color: var(--white);
    }
  }
}
@media (min-width: 1024px) {
  .header__link {
    &:hover {
      color: var(--hover);
      text-shadow: 1px 1px 5px #ff0000;
    }
  }
  .header__logo {
    &:hover {
      color: var(--hover);
      text-shadow: 1px 1px 5px #ff0000;
    }
  }
  .header__btn {
    &:hover {
      color: var(--hover);
      text-shadow: 1px 1px 5px #ff0000;
    }
  }
  .hotels__item {
    &:hover {
      transform: translateY(-10px);
      box-shadow: 10px 10px 35px var(--black);
    }
  }
  .hotels-swiper__link {
    &:hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .hotels__link {
    &:hover {
      color: var(--black);
      transform: translateY(2px);
      &::after {
        opacity: 0;
      }
    }
  }
  .features__link {
    &:hover {
      color: var(--black);
      transform: translateY(2px);
      &::after {
        opacity: 0;
      }
    }
  }
  .facilities__link {
    &:hover {
      color: var(--black);
      transform: translateY(2px);
      &::after {
        opacity: 0;
      }
    }
  }
  .hotels__booking {
    &:hover {
      color: var(--black);
      border-color: var(--black);
      background-color: transparent;
    }
  }
  .hotels__button {
    &:hover {
      color: var(--black);
      border-color: var(--black);
      background-color: transparent;
    }
  }
  .hotels-swiper__prev {
    &:hover {
      border-color: var(--black);
      background-color: transparent;
    }
  }
  .hotels-swiper__next {
    &:hover {
      border-color: var(--black);
      background-color: transparent;
    }
  }
  .footer__logo {
    &:hover {
      color: var(--hover);
      text-shadow: 1px 1px 5px #ff0000;
    }
  }
  .swiper-button-disabled {
    &:hover {
      border-color: transparent;
      background-color: #dcdcdc;
    }
  }
}