$maxWidth: 1920;
$maxWidthContainer: 1440;

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.games {
  @include adaptive ("padding-top", 73, 38, 0);
  @include adaptive ("padding-bottom", 73, 38, 0);
  background-color: var(--black);

  &__title {
    & span {
      color: var(--colorInTitle);
    }
    @include adaptive ("margin-bottom", 62, 38, 0);
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 55px 20px;
    @media (max-width: 1066px) {
      grid-template-columns: minmax(0,453px);
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    align-items: center;
    background: linear-gradient(111deg, rgba(186, 51, 1, 0.87) 30.57%, rgba(186, 145, 1, 0.87) 100%);
    box-shadow: 0px 4px 7px #BA3301;
    border-radius: 45px;
    padding: 32px 28px 32px 17px;
    &:active {
      & .games__button {
        background-color: var(--hover);
      }

      & .games__link {
        color: var(--hover)
      }
    }
  }

  &__descr {
    margin-right: 15px;
  }

  &__link {
    display: inline-flex;
    flex-direction: column;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    @include adaptiv-font(39, 22);
    @include adaptive ("line-height", 43, 32, 0);
    color: var(--white);
    @include adaptive ("margin-bottom", 54, 38, 0);
    white-space: nowrap;
    transition: color .2s ease-in-out;
    &:active {
      background-color: var(--active);
    }
  }

  &__play {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    @include adaptiv-font(31, 29);
    @include adaptive ("line-height", 34, 32, 0);
    color: var(--white);
    @include adaptive ("padding-top", 10, 10, 0);
    @include adaptive ("padding-bottom", 10, 10, 0);
    @include adaptive ("padding-left", 30, 25, 0);
    @include adaptive ("padding-right", 30, 25, 0);
    @include adaptive ("border-radius", 20, 8, 0);
    background-color: var(--bgButtonGames);
    transition: background-color .2s ease-in-out;
    &:active {
      background-color: var(--active);
    }
  }

  &__clicker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: transparent;
  }

  &__image {
    & img {
      max-width: 100%;
    }
  }
}