@font-face {
  font-family: 'candara';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Candara'),
       url("../../fonts/Candara.woff2") format("woff2"),
       url("../../fonts/Candara.woff") format("woff");
}

@font-face {
  font-family: 'josefinsans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('JosefinSans-Regular'),
       url("../../fonts/JosefinSans-Regular.woff2") format("woff2"),
       url("../../fonts/JosefinSans-Regular.woff") format("woff");
}