* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: lexend;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lexend-Bold"), url(../fonts/Lexend-Bold.woff2) format("woff2"), url(../fonts/Lexend-Bold.woff) format("woff")
}

@font-face {
  font-family: opensans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans-Regular"), url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #0f0736
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: opensans;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 90px
}

.head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10
}

.head__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width:991px) {
  .head__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

@media (max-width:991px) {
  .head__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0f0736;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.head__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .head__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.head__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.head__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.head__logo {
  display: block;
  width: 217px;
  height: 75px;
  margin-right: 138px
}

@media (max-width:1640px) {
  .head__logo {
    margin-right: 60px
  }
}

@media (max-width:1220px) {
  .head__logo {
    margin-right: 20px
  }
}

@media (max-width:991px) {
  .head__logo {
    width: 221px;
    height: 76px
  }
}

@media (max-width:600px) {
  .head__logo {
    width: 156px;
    height: 54px
  }
}

.head__logo_menu {
  display: none;
  margin-right: auto;
  margin-bottom: 150px
}

@media (max-width:991px) {
  .head__logo_menu {
    display: block
  }
}

.head__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px 60px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 60px
  }
}

.nav__link {
  display: inline-block;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #eb6e14
  }
}

.nav__link:active {
  color: #eb6e14;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  position: relative;
  width: calc(45px + 12 * ((100vw - 320px)/ 1600));
  height: 32px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: block
  }
}

.burger__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #eb6e14;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 10px
}

.burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #eb6e14;
  border-radius: 10px
}

.burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #eb6e14;
  border-radius: 10px
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.main {
  background-image: url(../img/main.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover
}

@media (max-width:991px) {
  .main {
    background-image: url(../img/main_2.svg)
  }
}

@media (max-width:600px) {
  .main {
    background-image: url(../img/main_3.svg)
  }
}

.main__content {
  padding: 100px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 680px
}

@media (max-width:600px) {
  .main__content {
    min-height: 812px;
    padding-bottom: 50px
  }
}

.main__body {
  max-width: 690px;
  height: 100%
}

@media (max-width:991px) {
  .main__body {
    max-width: 470px
  }
}

.main__span {
  display: block;
  font-weight: 400;
  font-size: 33px;
  line-height: 1.5;
  color: #fff
}

@media (max-width:991px) {
  .main__span {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .main__span {
    font-size: 21px
  }
}

.main__span:not(:last-child) {
  margin-bottom: 15px
}

.main__title {
  font-family: lexend;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  color: #fff
}

@media (max-width:991px) {
  .main__title {
    font-size: 40px
  }
}

@media (max-width:600px) {
  .main__title {
    font-size: 35px
  }
}

.main__title:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:600px) {
  .main__title:not(:last-child) {
    margin-bottom: 350px
  }
}

.main__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 293px;
  min-height: 71px;
  padding: 10px;
  border: 5px solid #c5621a;
  font-family: lexend;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #fff;
  -webkit-transition: border-color .2s ease-in-out, color .2s ease-in-out;
  -o-transition: border-color .2s ease-in-out, color .2s ease-in-out;
  transition: border-color .2s ease-in-out, color .2s ease-in-out
}

@media (max-width:991px) {
  .main__link {
    font-size: 32px;
    min-height: 60px
  }
}

@media (max-width:600px) {
  .main__link {
    margin-top: auto
  }
}

@media (any-hover:hover) {
  .main__link:hover {
    border-color: #fff;
    color: #c5621a
  }
}

.main__link:active {
  border-color: #fff;
  color: #c5621a;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.items {
  margin-top: -50px
}

@media (max-width:600px) {
  .items {
    margin-top: -30px
  }
}

.items:not(:last-child) {
  margin-bottom: 90px
}

.items__container {
  max-width: 1200px
}

.items__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: .9fr 20px 1.1fr 20px .9fr;
  grid-template: auto/.9fr 1.1fr .9fr;
  background-color: #c5621a;
  gap: 20px;
  padding: 30px 0
}

@media (max-width:991px) {
  .items__list {
    gap: 30px 10px
  }
}

@media (max-width:720px) {
  .items__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 10px 0
  }
}

.items__item {
  padding: 20px
}

@media (max-width:991px) {
  .items__item {
    padding: 10px
  }
}

.items__item:not(:last-child) {
  border-right: 2px solid #fff
}

@media (max-width:720px) {
  .items__item:not(:last-child) {
    border-right: 0
  }
}

.items__title {
  font-family: lexend;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 1.24;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .items__title {
    font-size: 20px
  }
}

@media (max-width:600px) {
  .items__title {
    font-size: 23px
  }
}

.items__title:not(:last-child) {
  margin-bottom: 5px
}

.items__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.47;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .items__text {
    font-size: 14px
  }
}

@media (max-width:600px) {
  .items__text {
    font-size: 16px
  }
}

.rolunk:not(:last-child) {
  margin-bottom: 90px
}

.rolunk__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px
}

@media (max-width:1115px) {
  .rolunk__container {
    display: block
  }
}

.rolunk__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 805px;
  flex: 0 1 805px
}

@media (max-width:1115px) {
  .rolunk__column {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-bottom: 15px
  }
}

.rolunk__title {
  font-family: lexend;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  color: #fff
}

@media (max-width:991px) {
  .rolunk__title {
    font-size: 35px
  }
}

.rolunk__title:not(:last-child) {
  margin-bottom: 25px
}

.rolunk__subtitle {
  font-family: lexend;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.23;
  color: #fff
}

@media (max-width:991px) {
  .rolunk__subtitle {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .rolunk__subtitle {
    font-size: 23px
  }
}

.rolunk__subtitle:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:991px) {
  .rolunk__subtitle:not(:last-child) {
    margin-bottom: 22px
  }
}

@media (max-width:600px) {
  .rolunk__subtitle:not(:last-child) {
    margin-bottom: 15px
  }
}

.rolunk__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.52;
  color: #fff
}

@media (max-width:991px) {
  .rolunk__text {
    font-size: 19px
  }
}

@media (max-width:600px) {
  .rolunk__text {
    font-size: 18px
  }
}

.rolunk__image {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 572px;
  flex: 0 1 572px;
  padding-bottom: 35%;
  margin-top: 50px
}

@media (max-width:1115px) {
  .rolunk__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    margin-top: 0;
    padding-bottom: 45%
  }
}

@media (max-width:700px) {
  .rolunk__image {
    padding-bottom: 60%
  }
}

@media (max-width:450px) {
  .rolunk__image {
    padding-bottom: 80%
  }
}

.rolunk__image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.jatek {
  background-color: #c5621a
}

.jatek:not(:last-child) {
  margin-bottom: 90px
}

.jatek__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 33px 20px;
  padding: 60px 0
}

@media (max-width:991px) {
  .jatek__list {
    padding: 50px 0;
    gap: 15px
  }
}

@media (max-width:600px) {
  .jatek__list {
    padding: 40px 0;
    row-gap: 20px
  }
}

.jatek__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 420px;
  flex: 0 0 420px
}

@media (max-width:991px) {
  .jatek__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 330px;
    flex: 0 0 330px
  }
}

@media (max-width:400px) {
  .jatek__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

@media (max-width:991px) {
  .jatek__item_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 420px;
    flex: 0 0 420px
  }
}

@media (max-width:500px) {
  .jatek__item_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 330px;
    flex: 0 0 330px
  }
}

@media (max-width:400px) {
  .jatek__item_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.jatek__item:not(:last-child) {
  border-right: 2px solid #fff;
  padding-right: 20px
}

@media (max-width:1339px) {
  .jatek__item:not(:last-child) {
    border-right: 0
  }
}

@media (max-width:991px) {
  .jatek__item:not(:last-child) {
    padding-right: 15px
  }
}

@media (max-width:1339px) {
  .jatek__item:first-child {
    border-right: 2px solid #fff
  }
}

@media (max-width:704px) {
  .jatek__item:first-child {
    border-right: 0
  }
}

.jatek__image {
  height: 323px;
  margin-bottom: 10px
}

@media (max-width:991px) {
  .jatek__image {
    height: 248px
  }
}

@media (max-width:991px) {
  .jatek__image_3 {
    height: 323px
  }
}

@media (max-width:600px) {
  .jatek__image_3 {
    height: 248px
  }
}

.jatek__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.jatek__link {
  display: block;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:991px) {
  .jatek__link {
    font-size: 21px
  }
}

@media (any-hover:hover) {
  .jatek__link:hover {
    opacity: .6
  }
}

.jatek__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  padding: 0 0 55px 0
}

@media (max-width:991px) {
  .footer {
    padding: 0 0 45px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 0 0 60px 0
  }
}

.footer__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px
}

@media (max-width:1255px) {
  .footer__middle {
    gap: 15px
  }
}

@media (max-width:700px) {
  .footer__middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}

.footer__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 808px;
  flex: 0 1 808px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

@media (max-width:1255px) {
  .footer__left {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 577px;
    flex: 0 1 577px
  }
}

@media (max-width:700px) {
  .footer__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 100%
  }
}

.footer__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.47;
  color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 576px;
  flex: 0 1 576px
}

@media (max-width:600px) {
  .footer__text {
    font-size: 16px
  }
}

.footer__logo {
  display: block;
  width: 216px;
  height: 74px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px
}

@media (max-width:1255px) {
  .footer__logo {
    margin: 0 auto 33px auto
  }
}

@media (max-width:600px) {
  .footer__logo {
    width: 157px;
    height: 54px;
    margin-bottom: 20px
  }
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__list {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 60px
}

@media (max-width:991px) {
  .footer__list {
    gap: 10px 40px
  }
}

@media (max-width:700px) {
  .footer__list {
    -ms-flex-negative: 1;
    flex-shrink: 1
  }
}

@media (max-width:600px) {
  .footer__list {
    gap: 10px 20px
  }
}

.footer__list_2 {
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 15px 80px
}

@media (max-width:991px) {
  .footer__list_2 {
    gap: 10px 40px
  }
}

@media (max-width:600px) {
  .footer__list_2 {
    gap: 10px 20px
  }
}

.footer__link {
  display: inline-block;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #c5621a
  }
}

.footer__link:active {
  color: #c5621a;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #eb6e14
  }
}

.footer__link:active {
  color: #eb6e14;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 355px;
  background: #0f0736;
  border-radius: 5px;
  z-index: 2;
  padding: 5px 27px 33px 27px
}

@media (max-width:991px) {
  .popup__body {
    padding: 5px 20px 25px 20px
  }
}

@media (max-width:600px) {
  .popup__body {
    padding: 5px 10px 15px 10px
  }
}

@media (max-width:400px) {
  .popup__body {
    width: 95%
  }
}

.popup__image {
  display: block;
  width: 190px;
  height: 185px;
  margin: 0 auto 31px auto
}

@media (max-width:991px) {
  .popup__image {
    width: 130px;
    height: 125px;
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .popup__image {
    width: 90px;
    height: 85px
  }
}

.popup__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff;
  margin-bottom: 30px
}

@media (max-width:991px) {
  .popup__text {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .popup__text {
    font-size: 16px;
    margin-bottom: 20px
  }
}

.popup__form-bottom {
  text-align: center
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 162px;
  min-height: 45px;
  background-color: rgba(197, 98, 26, .31);
  border: 3px solid #eb6e14;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out
}

@media (max-width:991px) {
  .popup__button {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .popup__button {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    color: #eb6e14;
    background-color: #fff;
    border-color: #fff
  }
}

.popup__button:active {
  color: #eb6e14;
  background-color: #fff;
  border-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.jat {
  padding-top: 150px
}

@media (max-width:600px) {
  .jat {
    padding-top: 105px
  }
}

.jat__content {
  height: 800px
}

@media (max-width:991px) {
  .jat__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .jat__content {
    height: 350px
  }
}

.jat__content iframe {
  width: 100%;
  height: 100%
}

.terms {
  padding-top: 150px
}

@media (max-width:600px) {
  .terms {
    padding-top: 105px
  }
}

.terms h1 {
  font-family: lexend;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -.025em;
  text-transform: uppercase;
  color: #e48a03
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 30px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-family: lexend;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -.025em;
  text-transform: uppercase;
  color: #e48a03
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 30px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 22px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms p {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 16px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms li {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 14px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}