.block-1 {
  background-image: url(../../img/block-1/image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1024px) {
    background-image: url(../../img/block-1/image-2.jpg);
  }

  @media (max-width: 600px) {
    background-image: url(../../img/block-1/image-3.jpg);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  &__wrapper {
    padding: 250px 0 350px 0;
    @media (max-width: 1024px) {
     padding: 200px 0 431px 0;
    } 
    @media (max-width: 600px) {
      padding: 110px 0 331px 0;
    }
  }

  &__body {
    max-width: 555px;
    @media (max-width: 1024px) {
      max-width: 460px;
    }
    @media (max-width: 600px) {
      max-width: 255px;
    }
  }

  &__title {
    font-family: 'LondrinaSolid';
    font-style: normal;
    font-weight: 400;
    font-size: 97px;
    line-height: 93.8%;
    color: #E05814;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      font-size: 83px;
      line-height: 93.8%;
      margin-bottom: 10px;
    }

    @media (max-width: 600px) {
      font-size: 62px;
      line-height: 93.8%;
      margin-bottom: 5px;
    }
  }

  &__text {
    font-family: 'LondrinaSolid';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 93.8%;
    color: #FFFFFF;
    margin-bottom: 30px;

    @media (max-width: 1024px) {
      font-size: 28px;
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
      margin-bottom: 40px;
    }
  }

  &__wrapper-link {
    text-align: right;
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 93.8%;
    color: #FFFFFF;
    padding: 37px 23px;
    background: linear-gradient(90deg, #FF6C01 0%, #FFA219 100%);
    border-radius: 14px;
    transition: transform .2s ease-in-out;

    @media (max-width: 1024px) {
      font-size: 17px;
      padding: 24px 28px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
      padding: 19px 11px;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: translateY(3px);
      }
    }
  }
}