.footer {
  padding: 20px 0;
  background: rgba(248, 248, 248, 0.11);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: calc(50px + 170 * ((100vw - 320px) / 1600));
  -moz-column-gap: calc(50px + 170 * ((100vw - 320px) / 1600));
  column-gap: calc(50px + 170 * ((100vw - 320px) / 1600));
}
@media (max-width: 1024px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 1024px) {
  .footer__lst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: calc(15px + 15 * ((100vw - 320px) / 1600));
    -moz-column-gap: calc(15px + 15 * ((100vw - 320px) / 1600));
    column-gap: calc(15px + 15 * ((100vw - 320px) / 1600));
  }
}
.footer__itm:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .footer__itm:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: calc(21px + 30 * ((100vw - 320px) / 1600));
  color: var(--gray);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .footer__link {
    font-size: calc(14px + 37.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .footer__link {
    font-size: calc(14px + 22 * (100vw / 1920));
  }
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: var(--gold);
  }
}
.footer__link:active {
  color: var(--gold);
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer__right {
    margin-bottom: 30px;
  }
}
.footer__inner-logo {
  margin-bottom: 50px;
}
.footer__logo img {
  max-width: 100%;
}
.footer__text {
  font-style: normal;
  font-weight: 400;
  line-height: calc(21px + 15 * ((100vw - 320px) / 1600));
  color: var(--white);
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .footer__text {
    font-size: calc(14px + 25.5 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .footer__text {
    font-size: calc(14px + 15 * (100vw / 1920));
  }
}

.footer-politicks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: calc(20px + 10 * ((100vw - 320px) / 1600));
  -moz-column-gap: calc(20px + 10 * ((100vw - 320px) / 1600));
  column-gap: calc(20px + 10 * ((100vw - 320px) / 1600));
}
@media (max-width: 600px) {
  .footer-politicks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 15px;
  }
}
.footer-politicks__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: calc(21px + 30 * ((100vw - 320px) / 1600));
  color: var(--gray);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .footer-politicks__link {
    font-size: calc(14px + 37.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .footer-politicks__link {
    font-size: calc(14px + 22 * (100vw / 1920));
  }
}
@media (any-hover: hover) {
  .footer-politicks__link:hover {
    color: var(--gold);
  }
}
.footer-politicks__link:active {
  color: var(--gold);
}