.politicks {
  padding-top: 170px;
  padding-bottom: calc(60px + 40 * ((100vw - 320px) / 1600));
}
@media (max-width: 768px) {
  .politicks {
    padding-top: calc(60px + 110 * ((100vw - 320px) / 1600));
  }
}
.politicks h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: calc(26px + 15 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: var(--gold);
  margin-bottom: calc(30px + 30 * ((100vw - 320px) / 1600));
}
@media (max-width: 767px) {
  .politicks h1 {
    font-size: calc(22px + 27.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .politicks h1 {
    font-size: calc(22px + 16 * (100vw / 1920));
  }
}
.politicks h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: calc(21px + 12 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: var(--gold);
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .politicks h2 {
    font-size: calc(18px + 20.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .politicks h2 {
    font-size: calc(18px + 12 * (100vw / 1920));
  }
}
.politicks p {
  font-style: normal;
  font-weight: 400;
  line-height: calc(19px + 4 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width: 767px) {
  .politicks p {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .politicks p {
    font-size: calc(16px + 4 * (100vw / 1920));
  }
}
.politicks p:not(:last-child) {
  margin-bottom: 30px;
}
.politicks ul:not(:last-child) {
  margin-bottom: 30px;
}
.politicks li {
  font-style: normal;
  font-weight: 400;
  line-height: calc(18px + 3 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width: 767px) {
  .politicks li {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .politicks li {
    font-size: calc(14px + 4 * (100vw / 1920));
  }
}
.politicks li:not(:last-child) {
  margin-bottom: 30px;
}