.about {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: 600px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }


  &__container {}

  &__title {
    font-family: 'InknutAntiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #FAA310;
    margin-bottom: 55px;

    @media (max-width: 1024px) {
      font-size: 42px;
      line-height: 64px;
      margin-bottom: 45px;
    }

    @media (max-width: 600px) {
      font-size: 25px;
      line-height: 38px;
      margin-bottom: 35px;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(147.27deg, #F43B00 0%, #FAA310 49.48%);
    border-radius: 16px;
    padding: 7px 0;
    @media (max-width: 1024px) {
      padding: 5px 0;
    }
    @media (max-width: 600px) {
      padding: 3px 0;
    }
  }

  &__descr {
    display: flex;
    align-items: flex-end;
    width: 98.8%;
    background-color: #292929;
    padding: 25px;
    border-radius: 16px;
    @media (max-width: 1300px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__text {
    width: 49.3%;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #FFFFFF;
    margin-right: 20px;
    @media (max-width: 1300px) {
      margin-right: 0;
      width: 100%;
    }
    @media (max-width: 1024px) {
      font-size: 26px;
line-height: 40px;
    }
    @media (max-width: 600px) {
      font-size: 20px;
line-height: 31px;
    }
  }

  &__image {
    text-align: center;
    width: 49%;
    margin-bottom: 50px;
    height: 366px;
    & img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
    @media (max-width: 1300px) {
      width: 100%;
      margin-bottom: 0;
    }
    @media (max-width: 600px) {
      height: 202px;
    }
  }
}