.benefits {
  padding-top: 40px;
  padding-bottom: 80px;

  @media (max-width: 600px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 572px;
  }

  &__image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 269px;
    height: 297px;

    @media (max-width: 600px) {
      max-width: 180px;
      height: 248px;
    }

    & img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__descr {
    padding: 10px;
  }

  &__title {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 23px;
      line-height: 35px;
      margin-bottom: 10px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 31px;
    }
    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
}