.game {
  padding-top: 80px;
  padding-bottom: 40px;

  @media (max-width: 600px) {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  &__container {}

  &__title {
    font-family: 'InknutAntiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #FAA310;
    margin-bottom: 55px;

    @media (max-width: 1024px) {
      font-size: 42px;
      line-height: 64px;
      margin-bottom: 45px;
    }

    @media (max-width: 600px) {
      font-size: 25px;
      line-height: 38px;
      margin-bottom: 35px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 453px;
    padding: 7px 0;
    background: linear-gradient(147.27deg, #F43B00 0%, #FAA310 49.48%);

    @media (max-width: 600px) {
      padding: 5px 0;
      width: 100%;
    }
  }

  &__body {
    background-color: #292929;
    width: 97%;
    height: 95%;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 409px;

    @media (max-width: 600px) {
      height: 297px;
    }

    & a {
      display: block;
      text-align: center;
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    @media (max-width: 600px) {
      padding: 5px;
    }
  }

  &__wrapper-name {
    width: 200px;
    margin-right: 15px;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  &__name {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FF3D00;
    transition: color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: #ffffff;
      }
    }

    @media (max-width: 1024px) {
      font-size: 30px;
      line-height: 38px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__wrapper-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 108px;

    @media (max-width: 600px) {
      width: 79px;
      height: 79px;
    }
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: opacity .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        opacity: .5;
      }
    }

    & img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.play {
  padding: 80px 0;
  @media (max-width: 600px) {
    padding: 40px 0;
  }
  &__container {
  }

  &__title {
    font-family: 'InknutAntiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #FAA310;
    margin-bottom: 30px;

    @media (max-width: 1024px) {
      font-size: 42px;
      line-height: 64px;
      margin-bottom: 45px;
    }

    @media (max-width: 600px) {
      font-size: 25px;
      line-height: 38px;
      margin-bottom: 35px;
    }
  }

  &__wrapper-iframe {
    height: 600px;
    @media (max-width: 768px) {
      height: 350px;
    }
    & iframe {
      height: 100%;
      width: 100%;
    }
  }
}
