.block-3 {
  overflow: hidden;
  margin-bottom: 60px;
  @media (max-width: 1024px) {
    margin-bottom: 80px;
  }
  @media (max-width: 600px) {
    margin-bottom: 55px;
  }
  &__container {
  }

  &__list {
    padding: 0 10px;
    margin: 0;
    gap: 20px;
  }

  &__item {
    width: 453px;
    min-height: 254px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: 600px) {
      width: 100%;
      height: 187px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    @media (max-width: 600px) {
      font-size: 42px;
line-height: 59px;
    }
  }
}
.block-3-item-image-1 {
  background-image: url(../../img/block-3/image.png);
}
.block-3-item-image-2 {
  background-image: url(../../img/block-3/image2.png);
}
.block-3-item-image-3 {
  background-image: url(../../img/block-3/image3.png);
}
