.block-0 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;

  &__blur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
  }

  &__body {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 718px;
    background-image: url(../../img/cockie.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 20px;
    @media (max-width: 768px) {
      max-width: 95%;
    }
  }

  &__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
      font-size: 25px;
      line-height: 31px;
      margin-bottom: 25px;
    }
    @media (max-width: 600px) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }

  &__wrapper-link {
    text-align: center;
  }

  &__link {
    display: inline-block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 21px 47px;
    background: linear-gradient(90deg, #DB801F 0%, #F8AE31 45.73%, #CC6715 100%);
    border-radius: 5px;
    transition: box-shadow .2s ease-in-out, color .2s ease-in-out;
    @media (max-width: 1024px) {
      font-size: 25px;
      line-height: 31px;
      padding: 17px 42px;
    }
    @media (max-width: 600px) {
      font-size: 20px;
      line-height: 26px;
      padding: 14px 37px;
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 4px 10px rgba(255, 255, 255, .5);
        color: #ffffff;
      }
    }
  }
}