.block-1 {
  overflow: hidden;
  margin-bottom: 100px;

  @media (max-width: 1024px) {
    padding-top: 70px;
  }

  @media (max-width: 991px) {
    padding-top: 140px;
  }

  @media (max-width: 600px) {
    padding-top: 80px;
  }

  &__descr {
    padding-bottom: 60px;

    @media (max-width: 991px) {
      padding-bottom: 0;
      margin-top: -80px;
    }

    @media (max-width: 600px) {
      margin-top: -100px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 1250px) {
      font-size: 50px;
      line-height: 60px;
    }

    @media (max-width: 600px) {
      font-size: 36px;
      line-height: 50px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;

    @media (max-width: 1250px) {
      font-size: 31px;
      line-height: 46px;
      margin-bottom: 40px;
    }

    @media (max-width: 1024px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
      line-height: 31px;
      margin-bottom: 15px;
    }
  }

  &__wrapper-link {
    text-align: center;
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 66px;
    text-align: center;
    color: #FFFFFF;
    background: radial-gradient(52.92% 925.86% at 50% 50%, #FFBA35 0%, #BB4A0A 100%);
    border-radius: 9px;
    padding: 11px 108px;
    transition: box-shadow .2s ease-in-out, color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 4px 10px rgba(255, 255, 255, .5);
        color: #ffffff;
      }
    }

    @media (max-width: 1250px) {
      font-size: 44px;
      line-height: 62px;
      padding: 11px 79px;
    }

    @media (max-width: 1024px) {
      font-size: 40px;
      line-height: 56px;
      padding: 10.5px 57px;
    }

    @media (max-width: 600px) {
      font-size: 27px;
      line-height: 38px;
      padding: 5.5px 41.5px;
    }
  }

  &__image {
    width: 720px;
    height: 670px;

    @media (max-width: 991px) {
      width: 663px;
      height: 550px;
      flex-shrink: 0;
    }

    @media (max-width: 600px) {
      padding: 0;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}