@font-face {
  font-family: 'kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kanit-Regular'),
       url("../../fonts/Kanit-Regular.woff2") format("woff2"),
       url("../../fonts/Kanit-Regular.woff") format("woff");
}

@font-face {
  font-family: 'palatinolinotype';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('palatinolinotype_bold'),
       url("../../fonts/palatinolinotype_bold.woff2") format("woff2"),
       url("../../fonts/palatinolinotype_bold.woff") format("woff");
}